@inherits PageCore;
<ComProductionDetail_RibbonStatus model="model" />
    <div class="btn_show_logo" @onclick="@ShowHideLogo">@(state.pager.show_logo ? "Hide Logo" : "Show Logo") <span uk-icon="icon: image; ratio: 0.8;"></span></div>
    <PageHeader is_subpage="true">
        <HeaderLeft ClassName="uk-flex-top">
            <div>
                @if (state.pager.show_logo)
                {
                    <img src="@http.ImageUrl(gv.business_info.company_logo)" class="uk-image" width="130" />
                }
                <div class="uk-text-top">
                    <div class="font-xxl">@model.business_branch?.business_branch_name_en</div>
                    <div>@model.business_branch?.address_en</div>
                    <div>@model.business_branch?.phone_1</div>
                    <div>@model.business_branch?.phone_2</div>
                </div>
            </div>
        </HeaderLeft>
        <HeaderRight ClassName="uk-flex-top">
            <div class="uk-text-right">
                <h2 class="uk-text-uppercase uk-margin-small-bottom">Invoice</h2>
                <div class="uk-margin-small-bottom">
                    @if (is_view_detail)
                    {
                    <AuthorizeView Roles="@gv.GetRole("production_view")">
                        <span>INV# @model.production_code</span>
                    </AuthorizeView>
                    }
                    else
                    {
                        <span>INV# @model.production_code</span>
                    }

                </div>
                <div>Total Amount</div>
                <div class="font-xxl"> @model.total_amount.ToString(gv.currency_format)</div>
            </div>
        </HeaderRight>
    </PageHeader>
    <Grid ClassName="uk-grid-small">
        <div class="uk-width-expand">
            <div style="width: 260px;">
                <div class="sub_title font-sm">Stock Location</div>
                <table class="uk-width-1-1">
                    @if (model.business_branch != null)
                    {
                        <tr>
                            <td class="uk-padding-left-remove">Business Branch :</td>
                            <td>@model.business_branch?.business_branch_name_en</td>
                        </tr>
                    }

                    @if (model.stock_location != null)
                    {
                        <tr>
                            <td class="uk-padding-left-remove">Stock Location :</td>
                            <td>@model.stock_location?.stock_location_name</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="uk-width-auto">
            <div class="box-invoice-header-info">
                <div class="invoice-header-title">Invoice Information</div>
                <table class="invoice_header_description">
                    <tr>
                        <td>Invoice Date :</td>
                        <td>@model.production_date.ToString(gv.date_format)</td>
                    </tr>
                    <tr>
                        <td>Referance # :</td>
                        <td>@model.reference_number</td>
                    </tr>
                </table>
            </div>
        </div>
    </Grid>
 
@code {
    [Parameter] public ProductionModel model { get; set; }
    [Parameter] public bool is_view_detail { get; set; } = false;

    string StateKey = "PRODUCT100r9u0rPURHEADERINV9897";


    protected override async Task OnInitializedAsync()
    {
        is_loading = true;
        state = await GetState(StateKey);
        is_loading = false;

    }
    public async Task ShowHideLogo()
    {
        state.pager.show_logo = !state.pager.show_logo;
        await SetState(StateKey, state);
    }


}
