@page "/login"
@page "/auth/login"
 

<Loading is_loading="@IsSpinning"/>

<AuthorizeView>
    <Authorized>
        <Redirect url="dashboard" />
    </Authorized>
    <NotAuthorized Context="x">
        <EditForm Model="model" OnValidSubmit="LoginUser">
            <MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center" Style="height: 100vh;">
                <div class="d-flex flex-column mud-width-full">
                    <MudPaper Elevation="25" Class="pa-8" Width="100%" MaxWidth="500px">
                        <img src="images/estc-computer.png" style="height:50px"/>
                        <MudText Typo="Typo.h4" GutterBottom="true" Align="MudBlazor.Align.Center">Sign In</MudText>
                        <MudTextField T="string" @bind-Value="@model.Username" Label="Username" Variant="Variant.Outlined" Class="my-6"  For="@(() => model.Username)" Required="true"></MudTextField>
                        <MudTextField @bind-Value="@model.Password" Label="Password" Variant="Variant.Outlined" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="TogglePasswordVisibility"  Required="true"  For="@(() => model.Password)" />
                        @if (IsShowMessage)
                        {
                           <MudAlert Severity="Severity.Error" Class="my-4">@Message</MudAlert>
                        }
            
                        @if (IsSpinning)
                        {
                            <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary"  ButtonType="ButtonType.Button"  Size="Size.Large" FullWidth="true" Class="my-4">Sign In...</MudButton>
                        }else {
                            <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary"  ButtonType="ButtonType.Submit"  Size="Size.Large" FullWidth="true" Class="my-4">Sign In </MudButton>
                        }
                    </MudPaper>
                </div>
            </MudContainer>
        </EditForm>
    </NotAuthorized>
</AuthorizeView>




