@inject IHttpService http
@inject ISnackbar toast
@inject IStringLocalizer<Resource> lang
<EditFormContext is_cancel="true" is_save="true" model="@model" is_opened="@is_opened" title="@title" Cancel_Click="@OnCancel" Save_Click="@Save_Click" is_submitting="@is_saving" modal_width="700px">

    <UIGridCenter>
        @if (is_loading)
        {
            <Spinner />
        }
        else
        {
            <UIContainerBox Title="@lang["Photo"]" ClassName="uk-text-center">
                <UIFlexCenter>
                    <FileUpload @bind-ImageUrl="@model.photo" />
                </UIFlexCenter>
            </UIContainerBox>
            <UIContainerBox Title="@lang["Menu Information"]">
                @if (model.parent != null)
                {
                    <TextInput label="@lang["Parent Menu"]" text="@model.parent.menu_name_en" is_read_only="true" />
                }
                else
                {
                    <TextInput label="@lang["Parent Menu"]" text="@lang["Root Menu"]" is_read_only="true" />
                }

                <TextInput label="@lang["Menu Name (En)"]" @bind-text="@model.menu_name_en">
                    <ValidationMessage For="@(() => model.menu_name_en)" />
                </TextInput>
                <TextInput label="@lang["Menu Name (Kh)"]" @bind-text="@model.menu_name_kh" />
                <TextInput label="@lang["Text Color"]" type="color" @bind-text="@model.text_color" />
                <TextInput label="@lang["Background Color"]" type="color" @bind-text="@model.background_color" />
                <NumberInputInt label="@lang["Sort Order"]" @bind-text="@model.sort_order" />
                <ComInputCheckBox @bind-Value="@model.is_shortcut_menu" label="@lang["Shortcut Menu"]"/>
                   <SelectPriceRule @bind-selected_value="@model.price_rule_id"   show_empty="true"  label="@lang["Price Rule"]" />
                <SelectStatus label="@lang["Status"]" @bind-selected_value="@model.status" />

            </UIContainerBox>
            <UIContainerBox Title="@lang["Preview"]">
                <Grid ClassName="uk-grid-small">
                    <div class="uk-width-2-5">
                        <div class="box" style="background:@model.background_color;color:@model.text_color;margin: 0px auto;">
                            <div class="icon_edit">
                                <Icon icon="edit" icon_color="@model.text_color" />
                                <button>
                                    <Icon icon="check_box_outline_blank" icon_color="@model.text_color" />
                                </button>
                            </div>
                            <div style="text-align: center; line-height: 130px;">
                                <span>@(string.IsNullOrEmpty(model.menu_name_en)?lang["Empty"] : model.menu_name_en)</span>
                            </div>
                        </div>
                    </div>
                </Grid>
            </UIContainerBox>
        }
    </UIGridCenter>
</EditFormContext>
@code {

    [Parameter] public int current_menu_id { get; set; }
 
    [Parameter] public bool is_opened { get; set; }

    [Parameter] public EventCallback<MouseEventArgs> OnCancel { get; set; }

    [Parameter] public MenuModel menu { get; set; }
    [Parameter] public EventCallback<MenuModel> menuChanged { get; set; }

    MenuModel model = new MenuModel();

    bool is_loading, is_saving;

    public string title
    {
        get
        {

            if (model.id == 0)
            {
                return lang["Add New Menu"];
            }
            else
            {
                return lang["Edit Menu"] + " " + model.menu_name_en;
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {

        is_loading = true;

        await Task.Delay(100);
        model = menu;
        is_loading = false;
    }


    async Task Save_Click()
    {
        is_saving = true;
        var res = await http.ApiPost("Menu/save", model);
        if (res.IsSuccess)
        {
            model = JsonSerializer.Deserialize<MenuModel>(res.Content.ToString());
            toast.Add(lang["Save successfully."],Severity.Success);
            await menuChanged.InvokeAsync(model);
            model = new MenuModel();
            is_opened = false;
        }
        is_saving = false;
    }

}
