@page "/role/new"
@inject IJSRuntime js
@inherits PageCore;

<Loading is_loading="@is_loading" />
@if (!is_loading)
{
    <Title Value="Outlet & Station"></Title>
    <PageContainer roles="@gv.GetRole("role_manager")">
        <PageHeader>
            <HeaderLeft>
                <PageTitle ShowFilter="false">
                    <HeaderTemplate>
                        @if (id > 0)
                        {
                            <div>Edit Role</div>
                        }

                        else
                        {
                         <div>New Role</div>
                        }

                    </HeaderTemplate>
                </PageTitle>
            </HeaderLeft>
            <HeaderRight ShowBackButton="true">

            </HeaderRight>
        </PageHeader>
        <EditForm Model="@model" OnValidSubmit="@Save_Click">
            <DataAnnotationsValidator />
            <PageBody>
                <TextInput label="Role Name" @bind-text="@model.role_name"/>
                <TextInput type="textarea" label="Description" @bind-text="@model.description"/>
                <Spacing Number="30"/>


                <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-1-3">
                        <h2>Front End</h2>
                        @foreach (var fn in permissionoption.Where(r=>r.is_front_end == true).ToList())
                        {
                         
                           <div>@fn.note</div>
                        }



                    </div>
                    <div class="uk-width-1-3">
                        <h2>Back End</h2>
                        @foreach (var bn in permissionoption.Where(r => r.is_front_end == false).ToList())
                        {
                            <div>@bn.note</div>
                        }

                    </div>
                    <div class="uk-width-1-3">
                        <h2>Report</h2>
                        @foreach (var re in permissionoption.Where(r => r.is_report == true).ToList())
                        {
                            <div>@re.note</div>
                        }
                    </div>
                </div>

            </PageBody>
            <PageFooter>
                <FooterCenter>
                    <Button type="submit" icon="save">Save</Button>
                    <LinkButton url="outletstation" icon="reply" Class_Name="uk-button-danger">Cancel</LinkButton>
                </FooterCenter>
            </PageFooter>

        </EditForm>

    </PageContainer>

}

@code{
    [Parameter] public int id { get; set; }
    List<PermissionOptionModel> permissionoption = new List<PermissionOptionModel>();
    RoleModel model = new RoleModel();
    string ControllerApi = "Role";




    protected override async Task OnInitializedAsync()
    {
        is_loading = true;
        await LoadPermissionOption("");
        await LoadData("");
        is_loading = false;
    }

    async Task LoadData(string api_url = "")
    {

        is_loading_data = true;

        //if (string.IsNullOrEmpty(api_url))
        //{
        //    api_url = ControllerApi;
        //    api_url = api_url + $"({id})?";
        //    api_url = api_url + "$expand=Stations($select=id,station_name_en,station_name_kh;$filter= is_deleted eq false),";
        //    api_url = api_url + "business_branch($select=id,business_branch_name_en,business_branch_name_kh)";




        //}

        var resp = await http.ApiGet(api_url);
        if (resp.IsSuccess)
        {

            model = JsonSerializer.Deserialize<RoleModel>(resp.Content.ToString());

        }
        is_loading_data = false;

    }

    async Task LoadPermissionOption(string api_url = "")
    {

        is_loading_data = true;

        if (string.IsNullOrEmpty(api_url))
        {

            api_url = "PermissionOption";
        }

        var resp = await http.ApiGetOData(api_url);
        if (resp.IsSuccess)
        {

            permissionoption = JsonSerializer.Deserialize<List<PermissionOptionModel>>(resp.Content.ToString());

        }
        is_loading_data = false;

    }

    void Save_Click()
    {

    }

}
