@page "/user";
@inherits PageCore
@inject IMatToaster Toaster
@using eModels;

<Loading is_loading="@(is_loading || is_loading_data)" />
@{
    RenderFragment HeaderTemplate(string field_name, string display_name, string ClassName = "") =>
    @<Th OnClick="@(async () => await OrderBy(field_name))" OrderBy="@(state.pager.order_by == field_name)" OrderByType="@state.pager.order_by_type" ClassName="@($"cp {ClassName}")"> @display_name</Th>;
}
@if (!is_loading)
{
    <Title Value="@lang["User Management"]"></Title>
    <PageContainer roles="@gv.GetRole("user_account")">
        <PageHeader>
            <HeaderLeft>
                <PageTitle>
                    <HeaderTemplate>
                        @lang[state.page_title]
                    </HeaderTemplate>
                    <FilterTemplate>
                        <PageFilter title="@lang["Status"]">
                            <ModuleView module_views="@gv.GetModuleView("page_user")" OnClick="@ViewClick" />
                        </PageFilter>
                    </FilterTemplate>
                </PageTitle>
            </HeaderLeft>
            <HeaderRight>
                <AddButton roles="@gv.GetRole("user_add")" OnClick="AddUser_click">@lang["New"]</AddButton>
                <ComSearch place_holder="@GetFilterValue2(state.filters, "keyword","")" KeywordChanged="@OnSearch" show_advance_filter="false" />
                <RefreshButton OnClick="@OnInitializedAsync" />
            </HeaderRight>
        </PageHeader>
        <PageBody>
            <div class="cus_overflow-auto">
                <Table ShowPager="true"
                       TotalItem="TotalItem"
                       OnPageChange="@OnPageChange"
                       OnPagerChange="@OnPagerChange"
                       PerPage="@state.pager.per_page"
                       CurrentPage="@state.pager.current_page"
                       Items="@users_list"
                       ShowCounter="true">
                    <TableHeader>
                        <ThCenter>@lang["Image"]</ThCenter> 
                        @HeaderTemplate("user_code", lang["Code"], "uk-text-center")
                        @HeaderTemplate("full_name", lang["Full Name"], "uk-width-auto uk-text-left")
                        <Th OnClick="@(async () => await OrderBy("username"))" OrderBy="@(state.pager.order_by == "username")" OrderByType="@state.pager.order_by_type">@lang["User Name"]</Th>
                        @HeaderTemplate("role/role_name", lang["User Type"], "uk-width-auto uk-text-left")
                        <ThCenter>@lang["Phone Number"]</ThCenter>
                        <Th>@lang["Email"]</Th>
                        <ThAuto>@lang["Note"]</ThAuto>
                        <ThCenter>@lang["Status"]</ThCenter>
                        <th></th>
                    </TableHeader>
                    <RowTemplate Context="user">
                        <TdCenter>
                            <Image ImageUrl="@http.ImageUrl(user.photo)" PopupImageUrl="@http.ImageUrl(user.photo)" IsLightBox="true" IsBackgroundImage="true" Width="50px" Height="50px" />
                        </TdCenter>
                        <TdCenter>@user.user_code</TdCenter>
                        <td>@user.full_name</td>
                        <td>
                            @if (!user.is_deleted && !user.is_buildin)
                            {
                            <ComAuthorize roles="@gv.GetRole("user_edit")" OnClick="@(() => EditUser_Click(user))">
                                @user.username
                            </ComAuthorize>
                            }
                            else
                            {
                                @user.username
                            }
                        </td>
                        <td>
                            @user.role?.role_name
                        </td>
                        <TdCenter>
                            @user.phone_1
                        </TdCenter>
                        <td>
                            @user.email
                        </td>
                        <td><div class="text-area">@user.note</div></td>
                        <TdCenter>
                            <LabelActive is_visible="@(user.status && !user.is_deleted)" OnClick="(()=>OnChangeStatus(user))" roles="@gv.GetRole("user_edit")" is_loading="@user.is_change_status" />
                            <LabelInActive is_visible="@(!user.status && !user.is_deleted)" OnClick="(()=>OnChangeStatus(user))" roles="@gv.GetRole("user_edit")" is_loading="@user.is_change_status" />
                            <LabelDeleted is_visible="@(user.is_deleted)" />
                        </TdCenter>
                        <TdCenter>
                            <ComTableActions is_loading="@(user.is_loading)" is_visible="@(!user.is_buildin)">
                                <TableActionItem roles="@gv.GetRole("user_edit")" icon="edit" @onclick="(() => EditUser_Click(user))" is_visible="@(user.status && !user.is_deleted)">@lang["Edit"]</TableActionItem>
                                <TableActionItem icon="check" roles="@gv.GetRole("user_edit")" @onclick="(() => OnChangeStatus(user))" is_visible="@(!user.status && !user.is_deleted)">@lang["Active"]</TableActionItem>
                                <TableActionItem icon="highlight_off" roles="@gv.GetRole("user_edit")" @onclick="(() => OnChangeStatus(user))" is_visible="@(user.status && !user.is_deleted)">@lang["Inactive"]</TableActionItem>
                                <TableActionItem icon="delete" roles="@gv.GetRole("user_delete")" @onclick="(() => OnDelete(user))" is_visible="@(!user.is_deleted)">@lang["Delete"]"</TableActionItem>
                                <TableActionItem icon="refresh" roles="@gv.GetRole("user_restore")" @onclick="(() => OnRestore(user))" is_visible="@(user.is_deleted)">@lang["Restore"]</TableActionItem>
                            </ComTableActions>
                        </TdCenter>
                    </RowTemplate>
                </Table>
            </div>
            <AuthorizeView Roles="@gv.GetRole($"{(user.id == 0 ? "user_add" : "user_edit")}")">
                @if (is_dialog_open)
                {
                    <ComAddUser is_dialog_open="@is_dialog_open" user="@user" Cancel_click="@(() => { is_dialog_open = false;   user = new UserModel();})" Save_User_click="@SaveUser_Click" modal_title="@title" />
                }
            </AuthorizeView>

        </PageBody>
    </PageContainer>
}

@code {
    [Parameter] public string id { get; set; }
    [Parameter] public string status { get; set; }
    List<UserModel> users_list = new List<UserModel>();
    UserModel user = new UserModel();
    List<RoleModel> roles = new List<RoleModel>();
    int TotalItem;
    bool is_dialog_open;
    string password_uri;
    string new_password = "";
    string old_username = "";
    string controller_api = "User";
    public string StateKey
    {
        get
        {

            return "55sNaBpzJlLzhs9IjuzqEODlwfBSCTTx" + gv.current_login_user.id; //Storage and Session Key  
        }
    }
    public string ControllerApi
    {
        get
        {
            if (state.pager.order_by == "")
            {
                state.pager.order_by = "id";
                state.pager.order_by_type = "desc";
            }

            string select = "$select=user_code,username,role_id,email,phone_1,password,full_name,photo,created_date,created_by,is_deleted,note,status,id,is_buildin&$expand=role($select=role_name,description,id)";


            string url = $"{controller_api}?{select}&keyword={GetFilterValue2(state.filters, "keyword", "").ToString()}&$count=true&$top={state.pager.per_page}&$skip={state.pager.per_page * (state.pager.current_page - 1)}&$orderby={state.pager.order_by} {state.pager.order_by_type}";
            return url + GetFilter(state.filters);

        }
    }
    protected override async Task OnInitializedAsync()
    {
        is_loading = true;

        state = await GetState(StateKey);
        if (state.page_title == "")
        {
            state.page_title = lang["All User"];
            var default_view = gv.GetDefaultModuleView("page_user");
            if (default_view != null)
            {
                state.filters.Add(new FilterModel() { key = "is_deleted", value1 = "false" });
                state.page_title = string.Format(default_view.title);
                state.filters = default_view.filters;
                if (!string.IsNullOrEmpty(default_view.default_order_by))
                {
                    state.pager.order_by = default_view.default_order_by;
                    state.pager.order_by_type = default_view.default_order_by_type;
                }

            }
        }

        await LoadData(state.api_url);
        is_loading = false;
    }

    async Task<List<RoleModel>> LoadFilterRole()
    {
        List<RoleModel> roles = new List<RoleModel>();
        var res_roles = await http.ApiGetOData("role?$select=role_name,id");
        if (res_roles.IsSuccess)
        {
            roles = JsonSerializer.Deserialize<List<RoleModel>>(res_roles.Content.ToString());
        }
        return roles;
    }

    async Task LoadData(string api_url = "")
    {

        is_loading = true;
        if (string.IsNullOrEmpty(api_url))
        {

            api_url = $"{ControllerApi}";
            state.api_url = api_url;
            await SetState(StateKey, state);

        }

        var resp = await http.ApiGetOData(api_url);
        if (resp.IsSuccess)
        {
            users_list = JsonSerializer.Deserialize<List<UserModel>>(resp.Content.ToString());
            TotalItem = resp.Count;
        }
        is_loading = false;

    }
    async Task<List<RoleModel>> LoadRoles()
    {
        var res = await http.ApiGetOData("role");
        if (res.IsSuccess)
        {
            return JsonSerializer.Deserialize<List<RoleModel>>(res.Content.ToString());
        }
        return new List<RoleModel>();
    }
    async Task EditUser_Click(UserModel _user)
    {
        is_loading_data = true;
        if (roles.Count() == 0)
        {
            roles = await LoadRoles();
        }
        var resp = await http.ApiGet(controller_api + $"({_user.id})");
        if (resp.IsSuccess)
        {
            user = JsonSerializer.Deserialize<UserModel>(resp.Content.ToString());
            user.password = EncryptProvider.Base64Decrypt(_user.password);
            old_username = user.username;
        }
        title = lang["Edit"]+ ":" + user.username;
        is_dialog_open = true;
        is_loading_data = false;
    }

    async Task AddUser_click()
    {
        if (roles.Count() == 0)
        {
            roles = await LoadRoles();
        }

        user = new UserModel();
        title = lang["New User"];
        is_dialog_open = true;
    }
    async Task SaveUser_Click(UserModel user)
    {
        user.is_loading = true;

        if (user.id > 0 && user.id == gv.current_login_user.id)
        {
            if (user.status == false)
            {
                toast.Add(lang["You cannot disable current login user."], MatToastType.Warning);
                return;
            }

            if (new_password.Length > 0 && new_password.Length < 2)
            {
                Toaster.Add(lang["Password is too short or empty"], MatToastType.Warning);
                user.is_loading = false;
                return;
            }

            if (new_password.Length > 0 || old_username != user.username)
            {
                if (!await js.Confirm(lang["Logout"], "You have to logout after change username or password.", SweetAlertMessageType.info))
                {
                    user.is_loading = false;
                    return;
                }
            }
        }

        if (!string.IsNullOrEmpty(user.password))
        {
            password_uri = $"?password={user.password}";
        }
        var res = await http.ApiPost($"user/save{password_uri}", user);

        if (res.IsSuccess)
        {
            var u = JsonSerializer.Deserialize<UserModel>(res.Content.ToString());
            toast.Add(lang["Save successfully"], MatToastType.Success);
            await LoadData();
            is_dialog_open = false;
        }
        else
        {
            toast.Add(res.Content.ToString(), MatToastType.Warning);
        }
        user.is_loading = false;
    }

    async Task OnChangeStatus(UserModel u)
    {
        if (u.id == gv.current_login_user.id)
        {
            toast.Add(lang["You cannot disable current login user."], MatToastType.Warning);
            return;
        }

        u.is_loading = true;
        var resp = await http.ApiPost(controller_api + "/status/" + u.id);
        if (resp.IsSuccess)
        {
            toast.Add(lang["Change status successfully"], MatToastType.Success);
            if (users_list.Count() == 1 && state.pager.current_page > 1)
            {
                state.pager.current_page = state.pager.current_page - 1;
            }

            await LoadData();
        }
        else
        {
            toast.Add(resp.Content.ToString(), MatToastType.Danger);

        }
        u.is_loading = true;
    }

    async Task OnRestore(UserModel p)
    {
        p.is_loading = true;
        if (await js.Confirm(lang["Restore Record"], lang["Are you sure you want to restore this record?"], SweetAlertMessageType.question))
        {

            var resp = await http.ApiPost(controller_api + "/delete/" + p.id);

            if (resp.IsSuccess)
            {
                if (users_list.Count() == 1 && state.pager.current_page > 1)
                {
                    state.pager.current_page = state.pager.current_page - 1;
                }
                await LoadData();
                toast.Add(lang["Restore record successfully"], MatToastType.Success);
            }
            else
            {
                toast.Add(resp.Content.ToString(), MatToastType.Warning);
            }


        }
        p.is_loading = false;

    }

    async Task OnDelete(UserModel p)
    {
        if (p.id == gv.current_login_user.id)
        {
            toast.Add(lang["You cannot delete current login user"], MatToastType.Warning);
            return;
        }


        p.is_loading = true;
        if (await js.Confirm(lang["Delete Record"], lang["Are you sure you want to delete this record?"], SweetAlertMessageType.question))
        {
            var resp = await http.ApiPost(controller_api + "/delete/" + p.id);

            if (resp.IsSuccess)
            {
                if (users_list.Count() == 1 && state.pager.current_page > 0)
                {
                    state.pager.current_page = state.pager.current_page - 1;
                }

                await LoadData();
            }
            toast.Add(lang["Delete record successfully"], MatToastType.Success);

        }

        p.is_loading = false;

    }

    async Task OnPagerChange(int total)
    {
        is_loading = true;
        state.pager.current_page = 1;
        state.pager.per_page = total;
        await LoadData();
        is_loading = false;
    }

    async Task OnPageChange(int current_page)
    {
        is_loading = true;
        state.pager.current_page = current_page;
        await LoadData();
        is_loading = false;
    }

    async Task ViewClick(ModuleViewModel m)
    {
        state.filters.Clear();
        state.filters = m.filters;
        state.page_title = m.title;
        state.pager.current_page = 1;
        await LoadData();

    }

    async Task OnSearch(string keyword)
    {
        is_loading = true;
        state.pager = new PagerModel();
        SetFilterValue2(state.filters, "keyword", keyword, true);
        await LoadData();
        is_loading = false;
    }

    async Task OrderBy(string col_name = "")
    {
        state.pager.order_by = col_name;
        state.pager.order_by_type = (state.pager.order_by_type == "asc" ? "desc" : "asc");
        await LoadData();
    }

}

