@inject IHttpService http;
@inject IStringLocalizer<Resource> lang
<UIContainerBox Title="@lang["Product Categories"]">
    @if (is_loading)
    {
        <Spinner />
    }
    else
    {
        <Grid ClassName="uk-grid-small uk-grid-divider uk-grid-match uk-child-width-1-2@m">
            @foreach (var g in product_groups)
            { 
            <div>
                <div class="box-list-category">
                    <h3 class="title uk-margin-remove">
                        <label class="cp">
                            @if (g.is_selected)
                            {
                                <input type="checkbox" checked @onchange="@(() => SelectAllCategory(false, g))" />
                            }
                            else
                            {
                                <input type="checkbox" @onchange="@(() => SelectAllCategory(true, g))" />
                            }
                            <span style="margin-left: 5px;">@g.product_group_code - @g.product_group_en</span>
                        </label>
                    </h3>
                    <hr />
                    <ul class="uk-list hover-list">
                        @foreach (var p in g.product_categories)
                        {
                        <li>
                            <label class="cp">
                                @if (modifier_group.modifier_group_product_categories.Where(r => r.product_category_id == p.id && r.is_deleted == false).Any())
                                {
                                    <input type="checkbox" checked @onchange="@(() => OnSelectProductCategory(false, p))" />
                                }
                                else
                                {
                                    <input type="checkbox" @onchange="@(() => OnSelectProductCategory(true, p))" />
                                }
                                <span style="margin-left: 5px;">@p.product_category_en (@p.product_category_kh)</span>
                            </label>
                        </li>
                        }
                    </ul>
                </div>
            </div>
            }
        </Grid>







            }

    </UIContainerBox>

@code {
    [Parameter] public ModifierGroupModel modifier_group { get; set; }

    List<ProductGroupModel> product_groups = new List<ProductGroupModel>();
    bool is_loading;

    protected override async Task OnInitializedAsync()
    {
        is_loading = true;
        var resp = await http.ApiGetOData("ProductGroup?$expand=product_categories($filter=is_deleted eq false and status eq true)&$filter=is_deleted eq false and status eq true and id gt 1");
        if (resp.IsSuccess)
        {
            product_groups = JsonSerializer.Deserialize<List<ProductGroupModel>>(resp.Content.ToString());
        }
        is_loading = false;
    }

    void SelectAllCategory(bool is_selected, ProductGroupModel g)
    {
        g.is_selected = is_selected;
        foreach(var pc in g.product_categories)
        {
            OnSelectProductCategory(g.is_selected, pc);
        }
    }
    void OnSelectProductCategory(bool is_selected, ProductCategoryModel pc)
    {
        if (is_selected)
        {
            var data = modifier_group.modifier_group_product_categories.Where(r => r.product_category_id == pc.id);

            if (data.Any())
            {
                data.FirstOrDefault().is_deleted = false;
            }
            else 
            {
                modifier_group.modifier_group_product_categories.Add(new ModifierGroupProductCategoryModel() { product_category_id = pc.id });
            }
        }else
        {
            var data = modifier_group.modifier_group_product_categories.Where(r => r.product_category_id == pc.id && r.is_deleted == false).Take(1);
            if (data.Any())
            {

                if (data.FirstOrDefault().id > 0)
                {
                    data.FirstOrDefault().is_deleted = true;
                }
                else {
                    modifier_group.modifier_group_product_categories.Remove(data.FirstOrDefault());
                }
            }
        }
    }

}
