@inject IStringLocalizer<Resource> lang

<UIContainerBox Title="@lang["Product Category"]">
    <ViewEmptyTemplate is_view="@(product_groups.Where(r => (r.product_categories.SelectMany(r => r.modifier_group_product_categories.Where(r => r.modifer_group_id == modifier_group_id)).Count() > 0)).Any())">
        <Grid ClassName="uk-grid-small uk-grid-divider uk-grid-match uk-child-width-1-2@m">
            @foreach (var g in product_groups.Where(r => (r.product_categories.SelectMany(r => r.modifier_group_product_categories.Where(r => r.modifer_group_id == modifier_group_id)).Count() > 0)))
            {
            <div> 
                <div class="box-list-category">
                    <h3 class="title uk-margin-remove">@g.product_group_code - @g.product_group_en </h3>
                    <hr />
                    <ol class="order-list hover-list">
                        @foreach (var mp in g.product_categories.SelectMany(r => r.modifier_group_product_categories))
                        {
                            foreach (var p in g.product_categories.Where(r => r.id == mp.product_category_id && mp.modifer_group_id == modifier_group_id))
                            {
                                <li>@p.product_category_en (@p.product_category_kh)</li>

                            }
                        }
                    </ol>
                </div>
            </div>
            }
        </Grid>
    </ViewEmptyTemplate>    
</UIContainerBox>

@code {
    [Parameter] public int modifier_group_id { get; set; }
    [Parameter] public List<ProductGroupModel> product_groups { get; set; } = new List<ProductGroupModel>();
}
