@inherits POProductHistoryBase

<Loading is_loading="@(is_loading || is_loading_data)" />

@{
    RenderFragment HeaderTemplate(string field_name, string display_name, string ClassName = "") =>
    @<Th OnClick="@(async () => await OrderBy(field_name))" OrderBy="@(state.pager.order_by == field_name)" OrderByType="@state.pager.order_by_type" ClassName="@($"cp {ClassName}")"> @display_name</Th>;
}

@if (!is_loading)
{
    <PageContainer is_container="false">
        <PageHeader is_subpage="true">
            <HeaderLeft>
                <PageTitle ShowFilter="false">
                    <HeaderTemplate>@lang["Purchase Order Product"]</HeaderTemplate>
                </PageTitle>
            </HeaderLeft>
            <HeaderRight>
                <RefreshButton OnClick="@(async()=>await LoadData())" />
                <MudHidden Breakpoint="Breakpoint.SmAndDown">
                    <ComSearch place_holder="@GetFilterValue2(state.filters, "keyword","")" KeywordChanged="@OnSearch" show_advance_filter="true" OnFillterClick="@FilterClick">
                        <FilterDateRange @bind-dates="@state.date_range" />
                        <SelectBusinessBranchMutiple selected_business="@state.multi_select_id_1" selected_businessChanged="@((val)=> { state.multi_select_id_1 = val;state.multi_select_id_2= null;  } )" business_id="@((val)=>state.multi_select_value_1=val)" />
                        <SelectStockLocationMultiple business_branch_ids="@state.multi_select_value_1" @bind-selected_stock_location="@state.multi_select_id_2" stock_location_id="@((val)=>state.multi_select_value_2=val)" />
                    </ComSearch>
                </MudHidden>

            </HeaderRight>
        </PageHeader>
        <PageBody>
            <MudHidden Breakpoint="Breakpoint.MdAndUp">
                <ComSearch is_fullwidth="true" place_holder="@GetFilterValue2(state.filters, "keyword","")" KeywordChanged="@OnSearch" show_advance_filter="true" OnFillterClick="@FilterClick">
                    <FilterDateRange @bind-dates="@state.date_range" />
                    <SelectBusinessBranchMutiple selected_business="@state.multi_select_id_1" selected_businessChanged="@((val)=> { state.multi_select_id_1 = val;state.multi_select_id_2= null;  } )" business_id="@((val)=>state.multi_select_value_1=val)" />
                    <SelectStockLocationMultiple business_branch_ids="@state.multi_select_value_1" @bind-selected_stock_location="@state.multi_select_id_2" stock_location_id="@((val)=>state.multi_select_value_2=val)" />
                </ComSearch>
            </MudHidden>
            <FilterInfo filters="@state.filters" OnRemoveFilterClick="@RemoveFilter" OnRemoveAllFilterClick="@RemoveAllFilter" />

            <Com is_visible="@(models != null)">

                <Table Items="@models"
                       PerPage="@state.pager.per_page"
                       TotalItem="@TotalRecord"
                       CurrentPage="@state.pager.current_page"
                       OnPagerChange="@SelectChange"
                       OnPageChange="@ChangePager"
                       isLoading="@is_loading"
                       ShowPager="true"
                       ShowCounter="true"
                       ClassName="uk-table-small uk-table-striped uk-table-hover"
                       ScrollClass="uk-overflow-auto">
                    <TableHeader>
                        @HeaderTemplate("sale_date", lang["Date"], "uk-text-center")
                        @HeaderTemplate("document_number", lang["Document #"], "uk-text-center")
                        @HeaderTemplate("product/product_name", lang["Product"], "col-auto")
                        <ThCenter>@lang["Quantity"]</ThCenter>
                        <ThRight>@lang["Price"]</ThRight>
                        <ThRight>@lang["Discount"]</ThRight>
                        <ThRight>@lang["Amount"]</ThRight>
                        <ThCenter>@lang["Created Date"]</ThCenter>
                        <Th>@lang["Created by"]</Th>
                        <ThCenter>@lang["Status"]</ThCenter>
                        <th class="uk-width-auto"></th>
                    </TableHeader>
                    <RowTemplate Context="p">
                        <TdCenter>@p.purchase_order?.purchase_date.ToString(gv.date_format)</TdCenter>

                        <TdCenter>
                            <a href="@($"purchaseorder/{p.purchase_order?.id}")">
                                @p.purchase_order?.document_number
                            </a>
                        </TdCenter>
                        <td>
                            <a href="@($"product/{p.product?.id}")">
                                @p.product?.product_name_en
                            </a>
                        </td>
                        <TdCenter>
                            <span>@p.quantity.ToString(gv.quantity_format)</span>
                        </TdCenter>
                        <TdRight>
                            @p.cost.ToString(gv.main_currency_format)
                        </TdRight>
                        <TdRight>
                            @p.total_discount.ToString(gv.main_currency_format)
                        </TdRight>
                        <TdRight>
                            @p.total_amount.ToString(gv.main_currency_format)
                        </TdRight>
                        <TdCenter>@p.created_date.ToString(gv.date_time_format)</TdCenter>
                        <td>@p.created_by</td>
                        <TdRight>
                            <LabelDeleted is_visible="@(p.is_deleted)" />
                            <LabelActive is_visible="@(p.status && !p.is_deleted)" />
                            @if (p.is_fulfilled && !p.is_deleted)
                            {
                            <span class="uk-label fulfilled">@lang["Fulfilled"]</span>
                            }
                        </TdRight>
                        <TdCenter>
                            <TdActions is_loading="@p.is_loading">
                                <TableActionItem roles="@gv.GetRole("purchase_order_management")" icon="visibility" url="@($"purchaseorder/{p.id}")">@lang["View"]</TableActionItem>
                                <TableActionItem roles="@gv.GetRole("purchase_order_edit")" icon="edit" url="@($"purchaseorder/edit/{p.id}")">@lang["Edit"]</TableActionItem>
                            </TdActions>
                        </TdCenter>
                    </RowTemplate>
                </Table>


            </Com>

        </PageBody>
    </PageContainer> 
}