@page "/ingredientproduct/new"
@page "/ingredientproduct/edit/{id:int}"
@page "/ingredientproduct/clone/{clone_id:int}"

@inherits PageAddIngredientProductBase

<Loading is_loading="@(is_loading || is_loading_data)" />
 
@if (!is_loading && !is_error)
{

    <Title Value="@PageTitle"></Title>
    <PageContainer roles="@gv.GetRole(role_name)">
        <PageHeader>
            <HeaderLeft>
                <PageTitle ShowFilter="false">
                    <HeaderTemplate>
                        @PageTitle
                    </HeaderTemplate>

                </PageTitle>
            </HeaderLeft>
            <HeaderRight ShowBackButton="true">

            </HeaderRight>
        </PageHeader>
        <EditForm Model="@model" OnValidSubmit="@(()=>Save_Click())" @attributes="@formAttributes">
            <DataAnnotationsValidator />
            <PageBody>
               <UIGridCenter>
                    <UIContainerBox Title="Product Photo" ClassName="uk-text-center">
                        <UIFlexCenter>
                            <FileUpload @bind-ImageUrl="@model.photo" />
                        </UIFlexCenter>
                    </UIContainerBox>
                    <UIContainerBox>
                        <TextInput label="Code" text="@model.product_code">
                        </TextInput>
                        <TextInput label="Product Name(EN)" @bind-text="@model.product_name_en">
                            <ValidationMessage For="@(() => model.product_name_en)" />
                        </TextInput>
                        <TextInput label="Product Name(KH)" @bind-text="@model.product_name_kh" />

                        <SelectProductCategory @bind-selected_value="@model.product_category_id" show_empty="true" is_ingredient_category="true">
                            <ValidationMessage For="@(()=>model.product_category_id)" />
                        </SelectProductCategory>
                        <ComInputCheckBox @bind-value="@model.is_inventory_product" label="Is Inventory Product" />
                        <SelectStatus @bind-selected_value="@model.status" />
                    </UIContainerBox>  
                    <UIContainerBox Title="Note">
                        <TextInput label="" placeholder="Note" @bind-text="@model.note" type="textarea" row="2" />
                    </UIContainerBox>
                </UIGridCenter>
            </PageBody>
            <PageFooter>
                <FooterCenter>
                    <Button is_visible="@is_saving"><Spinner /></Button>
                    <Button icon="save" class_name="uk-button uk-button-primary button-large" roles="@gv.GetRole("product_add")" is_visible="@(!is_saving)" type="submit">Save</Button>
                    <Button icon="save" class_name="uk-button uk-button-primary button-large" OnClick="@(()=>is_save_and_new = true)" roles="@gv.GetRole("product_add")" is_visible="@(!is_saving)" type="submit">Save & New</Button>
                    <Button OnClick="@OnCancel" is_visible="@(!is_saving)" class_name="uk-button uk-button-danger button-large" icon="reply">Cancel</Button>
                </FooterCenter>
            </PageFooter>
        </EditForm>
    </PageContainer>
}
else
{
    <Spinner/>
}
@if (is_error)
{
    <Error title="Product">@error_text</Error>
}
