@page "/ingredient"
@inherits PageIngredientProductBase

<Loading is_loading="@(is_loading || is_loading_data)" />

@{
    RenderFragment HeaderTemplate(string field_name, string display_name, string ClassName = "") =>
    @<Th OnClick="@(async () => await OrderBy(field_name))" OrderBy="@(state.pager.order_by == field_name)" OrderByType="@state.pager.order_by_type" ClassName="@($"cp {ClassName}")"> @display_name</Th>;
}

@if (!is_loading)
{

    <Title Value="Ingredients"></Title>
    <PageContainer roles="@gv.GetRole("ingredient_management")">
        <PageHeader>
            <HeaderLeft>
                <PageTitle>
                    <HeaderTemplate>
                        @state.page_title
                    </HeaderTemplate>
                    <FilterTemplate>
                        <PageFilter title="Status">
                            <ModuleView module_views="@gv.GetModuleView("page_ingredient")" OnClick="@ViewClick" />
                        </PageFilter>
                    </FilterTemplate>
                </PageTitle>
            </HeaderLeft>
            <HeaderRight>
                <AddButton roles="@gv.GetRole("ingredient_add")" OnClick="@(()=>nav.NavigateTo("ingredient/new"))">New Ingredient</AddButton>
                <RefreshButton OnClick="@(async()=>await LoadData())" />
                <ComSearch place_holder="@GetFilterValue2(state.filters, "keyword","")" KeywordChanged="@OnSearch" show_advance_filter="true" OnFillterClick="@FilterClick">
                    <SelectProductCategory @bind-product_category="@state.product_category" show_empty="true" empty_text="All Product Category" is_ingredient_category="false"/>
                </ComSearch>
            </HeaderRight>
        </PageHeader>
        <PageBody>
            <FilterInfo filters="@state.filters" OnRemoveFilterClick="@RemoveFilter" OnRemoveAllFilterClick="@RemoveAllFilter" />
            <Com is_visible="@(products != null)">
                <Table Items="@products"
                       PerPage="@state.pager.per_page"
                       TotalItem="@TotalRecord"
                       CurrentPage="@state.pager.current_page"
                       OnPagerChange="@SelectChange"
                       OnPageChange="@ChangePager"
                       isLoading="@is_loading_data"
                       ShowPager="true"
                       ShowCounter="true"
                       ClassName="uk-table-small uk-table-striped uk-table-hover"
                       ScrollClass="uk-overflow-auto"
                       EmptyText="There is no record.">
                    <TableHeader>
                        <ThCenter>Image</ThCenter>
                        @HeaderTemplate("product_code", "Code", "uk-text-center")
                        @HeaderTemplate("product_name_en", "Name (En)", "col-auto")
                        @HeaderTemplate("product_name_kh", "Name (Kh)", "col-auto")
                        @HeaderTemplate("product_category/product_category_en", "Category")
                        <ThCenter>Quality</ThCenter>
                        <ThRight>Cost</ThRight>
                        <ThRight>
                            Status
                        </ThRight>
                        <th class="uk-width-auto"></th>
                    </TableHeader>
                    <RowTemplate Context="p">
                        <TdCenter>
                            <Image ImageUrl="@http.ImageUrl(p.photo)" PopupImageUrl="@http.ImageUrl(p.photo)" IsLightBox="true" IsBackgroundImage="true" Width="50px" Height="50px" />
                        </TdCenter>
                        <TdCenter>
                            <div>
                                <ComAuthorize roles="@gv.GetRole("ingredient_view")" url="@($"ingredient/{p.id}")">@p.product_code</ComAuthorize>
                            </div>
                            @foreach (var m in p.product_menus)
                            {
                                <Label Background="#46C7C7" Color="#fff">
                                    @m.menu?.menu_name_en
                                </Label>
                            }

                        </TdCenter>
                        <td>
                            <ComAuthorize roles="@gv.GetRole("ingredient_view")" url="@($"ingredient/{p.id}")">@p.product_name_en</ComAuthorize>
                        </td>
                        <td>
                            <ComAuthorize roles="@gv.GetRole("ingredient_view")" url="@($"ingredient/{p.id}")">@p.product_name_kh</ComAuthorize>
                        </td>
                        <td>@p.product_category?.product_category_en</td>
                        <TdCenter>
                            @p.quantity.ToString(gv.quantity_format)
                        </TdCenter>
                        <TdRight>
                            @p.cost.ToString(gv.currency_format)
                        </TdRight>
                        <TdRight>
                            <LabelDeleted is_visible="@p.is_deleted" />
                            <LabelActive is_visible="@(!p.is_deleted && p.status)" OnClick="(()=>OnToogleStatusLabel(p))" roles="@gv.GetRole("product_edit")" is_loading="@p.is_change_status" />
                            <LabelInActive is_visible="@(!p.is_deleted && !p.status)" OnClick="(()=>OnToogleStatusLabel(p))" roles="@gv.GetRole("product_edit")" is_loading="@p.is_change_status" />
                            <Label Background="#FF5733" Color="#fff" is_visible="@p.is_low_inventory">Low Stock</Label>
                            <Label Background="#FA2C00" Color="#fff" is_visible="@p.is_out_of_stock">Out Of Stock</Label>
                            <Label Background="#6495ED" Color="#fff" is_visible="@p.is_over_stock">Over Stock</Label>
                        </TdRight>
                        <TdActions is_loading="@p.is_loading">
                            <TableActionItem icon="visibility" is_visible="@(!p.is_deleted)" url="@($"ingredient/{p.id}")">View</TableActionItem>
                            <TableActionItem roles="@gv.GetRole("ingredient_edit")" icon="edit" is_visible="@(!p.is_deleted)" OnClick="@(()=>OnEdit(p.id))">Edit</TableActionItem>
                            <TableActionItem roles="@gv.GetRole("ingredient_add")" icon="file_copy" OnClick="@(()=>Clone_Click(p.id))">Clone</TableActionItem>
                            <TableActionItem roles="@gv.GetRole("ingredient_edit")" icon="highlight_off" is_visible="@(p.status && !p.is_deleted)" OnClick="@(()=>OnToogleStatus(p))">Inactive</TableActionItem>
                            <TableActionItem roles="@gv.GetRole("ingredient_edit")" icon="check" is_visible="@(!p.status && !p.is_deleted)" OnClick="@(() => OnToogleStatus(p))">Active</TableActionItem>
                            <TableActionItem roles="@gv.GetRole("ingredient_delete")" icon="delete" is_visible="@(!p.is_deleted)" OnClick="@(() => OnDelete(p))">Delete</TableActionItem>
                            <TableActionItem roles="@gv.GetRole("ingredient_edit")" icon="refresh" is_visible="@(p.is_deleted)" OnClick="@(()=>OnRestore(p))">Restore</TableActionItem>
                        </TdActions>
                    </RowTemplate>
                </Table>
            </Com>
        </PageBody>
    </PageContainer>
}

