@page "/ingredient/new"
@page "/ingredient/edit/{id:int}"
@page "/ingredient/clone/{clone_id:int}"

@inherits PageAddIngredientBase

<Loading is_loading="@(is_loading || is_loading_data)" />
 
@if (!is_loading && !is_error)
{

    <Title Value="@PageTitle"></Title>
    <PageContainer roles="@gv.GetRole(role_name)">
        <PageHeader>
            <HeaderLeft>
                <PageTitle ShowFilter="false">
                    <HeaderTemplate>
                        @PageTitle
                    </HeaderTemplate>

                </PageTitle>
            </HeaderLeft>
            <HeaderRight ShowBackButton="true"/>
        </PageHeader>
        <EditForm Model="@model" OnValidSubmit="@(()=>Save_Click())" @attributes="@formAttributes">
            <DataAnnotationsValidator />
            <PageBody>
               <UIGridCenter>
                    <UIContainerBox Title="@lang["Photo"]" ClassName="uk-text-center">
                        <UIFlexCenter>
                            <FileUpload @bind-ImageUrl="@model.photo" />
                        </UIFlexCenter>
                    </UIContainerBox>
                    <UIContainerBox>
                        <TextInput label="@lang["Code"]" text="@model.product_code">
                        </TextInput>
                        <TextInput label="@lang["Name En"]" @bind-text="@model.product_name_en">
                            <ValidationMessage For="@(() => model.product_name_en)" />
                        </TextInput>
                        <TextInput label="@lang["Name Kh"]" @bind-text="@model.product_name_kh" />

                        <SelectProductCategory @bind-selected_value="@model.product_category_id" show_empty="true" is_ingredient_category="true">
                            <ValidationMessage For="@(()=>model.product_category_id)" />
                        </SelectProductCategory>

                        <SelectUnitCategory is_ready_only="@model.is_product_has_inventory_transaction" label="@lang["Unit Category"]" selected_value="@model.unit_category_id" selected_valueChanged="@onUnitCategoryChange" show_empty="false" />

                        <SelectUnit is_ready_only="@model.is_product_has_inventory_transaction" label="@lang["Unit"]" @bind-selected_value="@model.unit_id" @bind-unit="@model.unit" unit_category_id="@model.unit_category_id" is_select_unit_category="true" show_empty="false">
                            <ValidationMessage For="@(()=>model.unit_id)" />
                        </SelectUnit>
                        <SelectStatus @bind-selected_value="@model.status" />
                    </UIContainerBox>
                    <UIContainerBox Title="@lang["Purchase Information"]">
                        <NumberInput label="@lang["Cost"]" class_name="uk-input uk-form-small" @bind-text="@model.cost" text_format="@gv.currency_format" />
                        <SelectVendorTypeaheadForm @bind-vendor="model.vendor" vendor_id="@(model.vendor_id == null ? 0:Convert.ToInt32(model.vendor_id))" vendor_idChanged="@((val)=>model.vendor_id=(val==0?null:val))" />
                    </UIContainerBox>
             
                    <ComAddInventoryProduct is_production_product="@is_production_product" @bind-model="@model" is_ingredient="true"/>
                    <UIContainerBox Title="@lang["Note"]">
                        <TextInput label="" placeholder="@lang["Note"]" @bind-text="@model.note" type="textarea" row="2" />
                    </UIContainerBox>
                </UIGridCenter>
            </PageBody>
            <PageFooter>
                <FooterCenter>
                    <ComSavingFormButton is_loading="@is_saving"  is_show_cancel_action="true" OnCancel="@OnCancel"/>
                </FooterCenter>
            </PageFooter>
        </EditForm>
    </PageContainer>
}
else
{
    <Spinner/>
}
@if (is_error)
{
    <Error title="@lang["Ingredient"]">@error_text</Error>
}
