@page "/setting/taxsetting"
@inherits PageTaxSettingCore
<Loading is_loading="@(is_loading || is_loading_data)" />
@if (!is_loading && !is_error)
{
    <Title Value="@($"Tax Setting")"></Title>
    <PageContainer roles="@gv.GetRole("tax_setting_management")">
        <PageHeader>
            <HeaderLeft>
                <PageTitle ShowFilter="false">
                    <HeaderTemplate>
                        @lang["Tax Setting"]
                    </HeaderTemplate>
                </PageTitle>
            </HeaderLeft>
            <HeaderRight ShowBackButton="true">
                @*<RefreshButton OnClick="@LoadData" />*@
            </HeaderRight>
        </PageHeader>
        <PageBody>
            <Tab ClassName="control-header-tab">
                <TabHeader>
                    <TabHeaderItem>@lang["Tax Rule Setting"]</TabHeaderItem>
                </TabHeader>
                <TabBody>
                    <TabItem>
                        @if (tax_rule != null)
                        {
                            <ComTaxRuleSetting @bind-model="@tax_rule" />
                        }
                        <div style="word-break:break-word">
                            @JsonSerializer.Serialize(tax_rule)
                        </div>
                    </TabItem>
                </TabBody>
            </Tab>
        </PageBody>
        <PageFooter>
            <FooterCenter>
                <ComSavingFormButton is_loading="@is_saving" is_show_cancel_back="false" is_show_save_action="true" OnSave="@SaveTaxRule" />
            </FooterCenter>
        </PageFooter>
    </PageContainer>

   

    
}
@if (is_error)
{
    <Error title="@lang["Tax Rule"]">
        @error_text
    </Error>
}

