@if (is_visible)
{
    if (roles != "")
    {
        <AuthorizeView Roles="@roles">
            <li class="@class_name">

                <a @onclick="@OnClick">
                    @ChildContent
                </a>
            </li>
        </AuthorizeView>
    }
    else
    {
        <li class="@class_name">
            <a @onclick="@OnClick">
                @ChildContent
            </a>
        </li>
    }


}

@code{

    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool is_visible { get; set; } = true;
    [Parameter] public string roles { get; set; } = "";
    [Parameter] public string class_name { get; set; } = "";
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }

}