@inherits ComCustomerPaymentHistoryBase
<Loading is_loading="@(is_loading || is_loading_data)" />

@{
    RenderFragment HeaderTemplate(string field_name, string display_name, string ClassName = "") =>
    @<Th OnClick="@(async () => await OrderBy(field_name))" OrderBy="@(state.pager.order_by == field_name)" OrderByType="@state.pager.order_by_type" ClassName="@($"cp {ClassName}")"> @display_name</Th>;
}

@if (!is_loading)
{
    <PageContainer is_container="false">
        <PageHeader is_subpage="true">
            <HeaderLeft>
                <PageTitle ShowFilter="false">
                    <HeaderTemplate>@lang["Payment History"]</HeaderTemplate>
                </PageTitle>
            </HeaderLeft>
            <HeaderRight>
                <RefreshButton OnClick="@(async()=>await LoadData())" />
                <MudHidden Breakpoint="Breakpoint.SmAndDown">
                  <ComSearch place_holder="@GetFilterValue2(state.filters, "keyword","")" KeywordChanged="@OnSearch" show_advance_filter="true" OnFillterClick="@FilterClick">
                        <FilterDateRange @bind-dates="@state.date_range" />
                        <SelectBusinessBranchMutiple selected_business="@state.multi_select_id_1" selected_businessChanged="@((val)=> { state.multi_select_id_1 = val;state.multi_select_id_2= null;  } )" business_id="@((val)=>state.multi_select_value_1=val)" />
                        <SelectOutletMultiple business_branch_ids="@state.multi_select_value_1" @bind-selected_outlet="@state.multi_select_id_2" outlet_id="@((val)=>state.multi_select_value_2=val)" />
                    </ComSearch>
                </MudHidden>
            </HeaderRight>
        </PageHeader>
    <PageBody>
        <MudHidden Breakpoint="Breakpoint.MdAndUp">
            <ComSearch is_fullwidth="true" place_holder="@GetFilterValue2(state.filters, "keyword","")" KeywordChanged="@OnSearch" show_advance_filter="true" OnFillterClick="@FilterClick">
                <FilterDateRange @bind-dates="@state.date_range" />
                <SelectBusinessBranchMutiple selected_business="@state.multi_select_id_1" selected_businessChanged="@((val)=> { state.multi_select_id_1 = val;state.multi_select_id_2= null;  } )" business_id="@((val)=>state.multi_select_value_1=val)" />
                <SelectOutletMultiple business_branch_ids="@state.multi_select_value_1" @bind-selected_outlet="@state.multi_select_id_2" outlet_id="@((val)=>state.multi_select_value_2=val)" />
            </ComSearch>
        </MudHidden>
        <FilterInfo filters="@state.filters" OnRemoveFilterClick="@RemoveFilter" OnRemoveAllFilterClick="@RemoveAllFilter" />
        <Com is_visible="@(models != null)">
            <Table Items="@models"
                   PerPage="@state.pager.per_page"
                   TotalItem="@TotalRecord"
                   CurrentPage="@state.pager.current_page"
                   OnPagerChange="@SelectChange"
                   OnPageChange="@ChangePager"
                   isLoading="@is_loading_data"
                   ShowPager="true"
                   ShowCounter="true"
                   ClassName="uk-table-small uk-table-striped uk-table-hover"
                   ScrollClass="uk-overflow-auto">
                <TableHeader>
                    @HeaderTemplate("payment_date", "Payment Date", "uk-text-center")
                    @HeaderTemplate("reference_number", "Reference Number", "uk-text-center")
                    <ThAuto><div>@lang["Business Branch"]</div><div class="sub-header-table">@lang["Outlet"]</div></ThAuto>
                    <ThCenter>@lang["Payment Amount"]</ThCenter>
                    <ThCenter>@lang["Created Date"]</ThCenter>
                    <th>@lang["Created by"]</th>
                    <ThRight>@lang["Status"]</ThRight>
                    <th></th>
                </TableHeader>
                <RowTemplate Context="p">
                    <TdCenter>
                        <ComAuthorize url="@($"receiptlist/sale/{p.sale_id}")" roles="@gv.GetRole("receipt_list_management")">
                            @p.payment_date.ToString(gv.date_format)
                        </ComAuthorize>
                        
                    </TdCenter>
                    <TdCenter>
                        <ComAuthorize url="@($"receiptlist/sale/{p.sale_id}")" roles="@gv.GetRole("receipt_list_management")">
                            @p.sale?.document_number
                        </ComAuthorize>
                    </TdCenter>
                    <td>
                        <div>@p.sale?.business_branch?.business_branch_name_en</div>
                        <div class="sub-info-row-table">@p.sale?.outlet?.outlet_name_en</div>
                    </td>
                    <TdCenter>
                        <span>@p.payment_amount.ToString(gv.quantity_format)</span>
                    </TdCenter>
                    <TdCenter>@p.created_date.ToString(gv.date_time_format)</TdCenter>
                    <td>@p.created_by</td>
                    <TdRight>
                        <ComSaleStatus sale="@p.sale" />
                    </TdRight>
                    <TdCenter>
                        <Icon icon="visibility" roles="@gv.GetRole("receipt_list_management")" OnClick="@(()=>nav.NavigateTo($"receiptlist/sale/{p.sale_id}"))" />
                    </TdCenter>
                </RowTemplate>
            </Table>
        </Com>
    </PageBody>
    </PageContainer> 
}