@page "/customer/{id}"
@inherits PageCustomerDetails
<Loading is_loading="@(is_loading || is_loading_data)" />
@if (!is_loading && !is_error)
{
    <Title Value="@($"Customer | {model.customer_code_name}")"></Title>
    <PageContainer roles="@gv.GetRole("customer_management")">
        <PageHeader>
            <HeaderLeft>
                <PageTitle ShowFilter="false">
                    <HeaderTemplate>
                        @model.customer_code_name 
                        <LabelDeleted is_visible="@model.is_deleted" />
                        <LabelActive is_visible="@(!model.is_deleted && model.status)" />
                        <LabelInActive is_visible="@(!model.is_deleted && !model.status)" />
                    </HeaderTemplate>
                </PageTitle>
            </HeaderLeft>
            <HeaderRight>
                <ComAttachFileButton RoleAdd="@gv.GetRole("customer_add")"
                                     RoleEdit="@gv.GetRole("customer_edit")"
                                     RoleDelete="@gv.GetRole("customer_delete")"
                                     ApiFilter="@($"customer_id eq {id} ")"
                                     File="@(new AttachFilesModel() { customer_id = Guid.Parse(id) })"
                                     IsVisible="@(!model.is_deleted)" />
                <RefreshButton OnClick="@LoadData" />
                <MoreButton is_loading="@model.is_loading">
                    <MoreButtonItem roles="@gv.GetRole("customer_add")" icon="file_copy" url="@($"customer/clone/{model.id}")">@lang["Clone"]</MoreButtonItem>
                    <MoreButtonItem roles="@gv.GetRole("customer_edit")" icon="highlight_off" is_visible="@(!model.is_deleted && model.status)" OnClick="@(() => OnToogleStatus(model))">@lang["Inactive"]</MoreButtonItem>
                    <MoreButtonItem roles="@gv.GetRole("customer_edit")" icon="check" is_visible="@(!model.is_deleted && !model.status)" OnClick="@(() => OnToogleStatus(model))">@lang["Active"]</MoreButtonItem>
                    <MoreButtonItem roles="@gv.GetRole("customer_delete")" icon="delete" is_visible="@(!model.is_deleted)" OnClick="@(() => OnDelete(model))">@lang["Delete"]</MoreButtonItem>
                    <MoreButtonItem roles="@gv.GetRole("customer_edit")" icon="edit" is_visible="@(!model.is_deleted)" OnClick="@(()=>nav.NavigateTo($"customer/edit/{model.id}"))">@lang["Edit"]</MoreButtonItem>
                    <MoreButtonItem roles="@gv.GetRole("customer_restore")" icon="refresh" is_visible="@(model.is_deleted)" OnClick="@(() => OnRestore(model))">@lang["Restore"]</MoreButtonItem>
                    <MoreButtonItem roles="@gv.GetRole("customer_add")" icon="add" OnClick="@(()=>nav.NavigateTo("customer/new"))">@lang["New Customer"]</MoreButtonItem>
                    <MoreButtonItem roles="@gv.GetRole("customer_add")" icon="add" url="@($"payment/customer/{id}")">@lang["Add Payment"]</MoreButtonItem>

                </MoreButton>

            </HeaderRight>
        </PageHeader>
        <PageBody>
            <Tab ClassName="control-header-tab">
                <TabHeader>
                    <TabHeaderItem roles="@gv.GetRole("customer_management")">@lang["Overview"]</TabHeaderItem>
                    <TabHeaderItem OnClick="@(()=>sale_history_tab_click=true)"> @lang["Sale History"]</TabHeaderItem>
                     <TabHeaderItem OnClick="@(()=>sale_product_history_tab_click = true)"> @lang["Sale Product History"]</TabHeaderItem>
                     <TabHeaderItem OnClick="@(()=>show_payment = true)"> @lang["Sale Payment History"]</TabHeaderItem>
                    <TabHeaderItem OnClick="@(()=> is_comment_loaded = true)">@lang["Comments"]</TabHeaderItem>
                </TabHeader>
                <TabBody>
                    <TabItem>
                        <ComCustomerDetail_CustomerInformation model="@model"/>
                    </TabItem>
                   
                    <TabItem>
                        @if (sale_history_tab_click)
                        {
                            <ComCustomerSaleHistory customer_id="@Guid.Parse(id)" />
                        }
                    </TabItem>
                    <TabItem>
                        @if (sale_product_history_tab_click)
                        { 
                            <ComCustomerSaleProductHistory customer_id="@Guid.Parse(id)" />
                        }
                    </TabItem>
                    <TabItem>
                        @if(show_payment)
                        {
                        <ComCustomerPaymentHistory customer_id="@Guid.Parse(id)"/>
                        }
                    </TabItem>
                    <TabItem>
                        <Com is_visible="@is_comment_loaded">
                            <ComHistory RoleAdd="@gv.GetRole("customer_add")"
                                            RoleDelete="@gv.GetRole("customer_delete")"
                                            RoleEdit="@gv.GetRole("customer_edit")"
                                            ApiFilter="@($"customer_id eq {id}")"
                                            history="@(new HistoryModel() { customer_id = Guid.Parse(id)})"
                                            OnSave="@SaveComment" />
                        </Com>
                    </TabItem>
                </TabBody>
            </Tab>
        </PageBody>
    </PageContainer>

   

    
}
@if (is_error)
{
    <Error title="@lang["Customer Detail"]">
        @error_text
    </Error>
}

