@page "/customer"
@inherits PageCustomers

<Loading is_loading="@(is_loading || is_loading_data)" />

@{
    RenderFragment HeaderTemplate(string field_name, string display_name, string ClassName = "") =>
    @<Th OnClick="@(async () => await OrderBy(field_name))" OrderBy="@(state.pager.order_by == field_name)" OrderByType="@state.pager.order_by_type" ClassName="@($"cp {ClassName}")"> @display_name</Th>;
}

@if (!is_loading)
{

    <Title Value="@lang["Customer"]"></Title>
    <PageContainer roles="@gv.GetRole("customer_management")">      
        <PageHeader>
            <HeaderLeft>
                <PageTitle>
                    <HeaderTemplate>
                        @lang[state.page_title]
                    </HeaderTemplate>
                    <FilterTemplate>
                        <PageFilter title="@lang["Status"]">
                            <ModuleView module_views="@gv.GetModuleView("page_customer")" OnClick="@ViewClick" />
                        </PageFilter>
                    </FilterTemplate>
                </PageTitle>
            </HeaderLeft>
            <HeaderRight>
                <AddButton roles="@gv.GetRole("customer_add")" OnClick="@(()=>nav.NavigateTo("customer/new"))">@lang["New Customer"]</AddButton>
                <MudHidden Breakpoint="Breakpoint.SmAndDown">
                    <ComSearch place_holder="@GetFilterValue2(state.filters, "keyword","")" KeywordChanged="@OnSearch" show_advance_filter="true" OnFillterClick="@FilterClick">
                        <SelectCustomerGroup @bind-customer_group="@state.customer_group" show_empty="true" empty_text="@lang["All Customer Group"]" />
                    </ComSearch>
                </MudHidden>
                <RefreshButton OnClick="@(async()=>await LoadData())" />
            </HeaderRight>
        </PageHeader>
        <PageBody>
            <MudHidden Breakpoint="Breakpoint.MdAndUp">
                    <ComSearch place_holder="@GetFilterValue2(state.filters, "keyword","")" KeywordChanged="@OnSearch" show_advance_filter="true" OnFillterClick="@FilterClick" is_fullwidth="true">
                        <SelectCustomerGroup @bind-customer_group="@state.customer_group" show_empty="true" empty_text="@lang["All Customer Group"]" />
                    </ComSearch>
                <Spacing Number="4"/>
            </MudHidden>
            <FilterInfo filters="@state.filters" OnRemoveFilterClick="@RemoveFilter" OnRemoveAllFilterClick="@RemoveAllFilter" />
  
            <Com is_visible="@(customers != null)">
                <Table Items="@customers"
                       PerPage="@state.pager.per_page"
                       TotalItem="@TotalRecord"
                       CurrentPage="@state.pager.current_page"
                       OnPagerChange="@SelectChange"
                       OnPageChange="@ChangePager"
                       isLoading="@is_loading_data"
                       ShowPager="true"
                       ShowCounter="true"
                       ClassName="uk-table-small uk-table-striped uk-table-hover"
                       ScrollClass="uk-overflow-auto" >
                    <TableHeader>
                        <ThCenter>@lang["Image"]</ThCenter>
                        @HeaderTemplate("customer_code", lang["Code"], "uk-text-center")
                        @HeaderTemplate("customer_name_en", lang["Name Kh"], "col-auto")
                        @HeaderTemplate("phone_1", lang["Phone"], "uk-text-center")
                        @HeaderTemplate("gender", lang["Gender"], "uk-text-center")
                        @HeaderTemplate("total_receivable", lang["Total Paid"], "uk-text-right")
                        @HeaderTemplate("status", lang["Status"], "uk-width-auto uk-text-center")
                        <th class="uk-width-auto"></th>
                    </TableHeader>
                    <RowTemplate Context="p">
                        <TdCenter>
                            <Image ImageUrl="@http.ImageUrl(p.photo)" PopupImageUrl="@http.ImageUrl(p.photo)" IsLightBox="true" IsBackgroundImage="true" Width="50px" Height="50px" />
                        </TdCenter>
                        <TdCenter>
                            <ComAuthorize roles="@gv.GetRole("customer_management")" url="@($"customer/{p.id}")">@p.customer_code</ComAuthorize>
                            
                        </TdCenter>
                        <td>
                            <div>
                                <ComAuthorize roles="@gv.GetRole("customer_management")" url="@($"customer/{p.id}")">@p.customer_name_en (@p.customer_name_kh)</ComAuthorize>
                            </div>
                            <LabelCustomerBusinessBranchs customer_business_branchs="@p.customer_business_branchs" />
                        </td>

                        <TdCenter>
                            @p.phone_1
                        </TdCenter>
                        <td>
                            @p.gender
                        </td>
                        <TdRight>
                            @p.total_receivable.ToString(gv.currency_format)
                        </TdRight>
                        <TdCenter>
                            <LabelDeleted is_visible="@p.is_deleted" />
                            <LabelActive is_visible="@(!p.is_deleted && p.status)" OnClick="(()=>OnToogleStatusLabel(p))" roles="@gv.GetRole("customer_edit")" is_loading="@p.is_change_status" />
                            <LabelInActive is_visible="@(!p.is_deleted && !p.status)" OnClick="(()=>OnToogleStatusLabel(p))" roles="@gv.GetRole("customer_edit")" is_loading="@p.is_change_status" text="@lang["Inactive"]"/>
                        </TdCenter>
                        <TdActions is_loading="@p.is_loading">
                            <TableActionItem roles="@gv.GetRole("customer_management")" icon="visibility" url="@($"customer/{p.id}")">@lang["View"]</TableActionItem>
                            <TableActionItem roles="@gv.GetRole("customer_edit")" icon="edit" is_visible="@(!p.is_deleted)" OnClick="@(()=>OnEdit(p.id))">@lang["Edit"]</TableActionItem>
                            <TableActionItem roles="@gv.GetRole("customer_edit")" icon="file_copy" OnClick="@(()=>Clone_Click(p.id))">@lang["Clone"]</TableActionItem>
                            <TableActionItem roles="@gv.GetRole("customer_edit")" icon="highlight_off" is_visible="@(p.status && !p.is_deleted)" OnClick="@(()=>OnToogleStatus(p))">@lang["Inactive"]</TableActionItem>
                            <TableActionItem roles="@gv.GetRole("customer_edit")" icon="check" is_visible="@(!p.status && !p.is_deleted)" OnClick="@(() => OnToogleStatus(p))">@lang["Active"]</TableActionItem>
                            <TableActionItem roles="@gv.GetRole("customer_delete")" icon="delete" is_visible="@(!p.is_deleted)" OnClick="@(() => OnDelete(p))">@lang["Delete"]</TableActionItem>
                            <TableActionItem roles="@gv.GetRole("customer_restore")" icon="refresh" is_visible="@(p.is_deleted)" OnClick="@(()=>OnRestore(p))">@lang["Restore"]</TableActionItem>
                        </TdActions>
                    </RowTemplate>
                </Table>
            </Com>
        </PageBody>
    </PageContainer>
}
