@inject IMatToaster toast;
<table class="uk-table  view_table set-verticle-middle uk-table-small uk-table-striped uk-table-hover">
    <tr>
        <Th>Unit Name</Th>
        <ThCenter>Type Name</ThCenter>
        <ThCenter>Multiplier</ThCenter>
        <ThCenter>Sort Order</ThCenter>
        <Th></Th>
    </tr>
    @foreach (var p in units.OrderBy(r=>r.sort_order).Where(r => r.is_deleted == false))
    {
        <tr>
            <td><TextInput is_read_only="@p.is_built_in" @bind-text="@p.unit_name" placeholder="Unit Name" /></td>
            <TdCenter>
                <SelectUnitTypeName is_read_only="@p.is_built_in" @bind-selected_value="@p.type_name"/>
            </TdCenter>
            <TdCenter><NumberInput is_read_only="@p.is_built_in" @bind-text="@p.multiplier" placeholder="Multiplier" /></TdCenter>
            <TdCenter><NumberInputInt is_read_only="@p.is_built_in" @bind-text="@p.sort_order" placeholder="Sort Order" /></TdCenter>
            <TdCenter>
                <Icon is_visible="@(!p.is_built_in)" icon="delete" OnClick="@(()=>DeletePrinter(p))" />
            </TdCenter>
        </tr>
    }
</table>

@code {

    [Parameter] public List<UnitModel> units { get; set; }

    UnitModel unit = new UnitModel();

    void DeletePrinter(UnitModel p)
    {
        if (p.id == 0)
        {
            units.Remove(p);
        }
        else
        {
            p.is_deleted = true;
        }
    }

}
