@page "/setting/unit"
@inject IHttpService http;
@inject ISnackbar toast;
@inject IStringLocalizer<Resource> lang
<Loading is_loading="@(is_loading || is_saving)" />
@if (!is_loading)
{
    <Title Value="@lang["Unit"]"></Title>
    <PageContainer>
        <PageHeader>
            <HeaderLeft>
                <PageTitle ShowFilter="false">
                    <HeaderTemplate>
                        @lang["Unit of Measurement (UoM)"]
                    </HeaderTemplate>
                </PageTitle>
            </HeaderLeft>
            <HeaderRight ShowBackButton="true">
                <RefreshButton OnClick="@OnInitializedAsync" />
            </HeaderRight>
        </PageHeader>

        <PageBody>
            <UIGridCenter>
                @if (unit_categories.Any())
                {
                    @foreach (var b in unit_categories)
                    {
                        <ComAccordion>
                            <Header>
                                @b.category_name
                            </Header>
                            <Content>
                                <ComAddUnit units="@b.units" />
                                <hr />
                                <div class="uk-text-right">
                                    <Button OnClick="@(()=>AddUnit(b))">@lang["Add Unit"]</Button>
                                </div>
                            </Content>
                        </ComAccordion>

                    }
                }
                else
                {
                   <ComAlert type="warning">@lang["There is no unit. Please enter unit first."]</ComAlert>
                }
            </UIGridCenter>
        </PageBody>
        <PageFooter>
            <FooterCenter>
                <ComSavingFormButton is_loading="@is_saving" OnSave="@Save_Click" is_show_cancel="false" is_show_save_submit="false" is_show_save_action="true"/>
            </FooterCenter>
        </PageFooter>
    </PageContainer>
}

@code{
    [CascadingParameter] public GlobalVariableModel gv { get; set; }
    List<UnitCategoryModel> unit_categories = new List<UnitCategoryModel>();
    bool is_loading, is_saving;

    protected override async Task OnInitializedAsync()
    {
        is_loading = true;
        await LoadData();
        is_loading = false;
    }

    async Task LoadData()
    {
        var resp = await http.ApiGetOData($"UnitCategory?$expand=units($filter=is_deleted eq false)");
        if (resp.IsSuccess)
        {
            unit_categories = JsonSerializer.Deserialize<List<UnitCategoryModel>>(resp.Content.ToString());
            gv.unit_categories = unit_categories;
            gv.units = unit_categories.SelectMany(r => r.units).ToList();
        }
        else
        {
            toast.Add(lang["Loading unit fail."], MudBlazor.Severity.Warning);
        }
    }

    void AddUnit(UnitCategoryModel b)
    {
        b.units.Add(new UnitModel() { type_name = lang["Reference"], is_deleted = false, unit_name = "", unit_category_id = b.id, sort_order = b.units.Where(r=>r.is_deleted==false).Count()+1});
    }

    async Task Save_Click()
    {
        if (unit_categories.SelectMany(r => r.units).Where(r => r.is_deleted == false && string.IsNullOrWhiteSpace(r.unit_name)).Any())
        {
            toast.Add(lang["Please enter unit name"], MudBlazor.Severity.Warning);
            return;
        }


        foreach (var c in unit_categories)
        {
            if (c.units.Where(r => r.is_deleted == false && r.type_name == "Reference").Count() == 0)
            {
                toast.Add(lang["Unit category must have at lease 1 Reference type"], MudBlazor.Severity.Warning);

                return;

            }
            if (c.units.Where(r => r.is_deleted == false && r.type_name == "Reference").Count() > 1)
            {
                toast.Add(lang["Unit category must have only 1 Reference type"], MudBlazor.Severity.Warning);

                return;

            }


        }


        is_saving = true;
        var resp = await http.ApiPost("UnitCategory/save/multiple", unit_categories);
        if (resp.IsSuccess)
        {
            toast.Add(lang["Save successfully"], MudBlazor.Severity.Success);
            await LoadData();
        }
        else
        {
            toast.Add(lang["Save data Fail"], MudBlazor.Severity.Warning);
        }
        is_saving = false;
    }
}
