@inject IStringLocalizer<Resource> lang
<UIGridCenter>
    <UISummaryBox Title="@lang["Ingredient Product Information"]"  ShowImage="true" ImageUrl="@model.photo">
        <ContentLeft>
            <table>
                <tr>
                    <th>@lang["Code"]</th>
                    <td>@model.product_code</td>
                </tr>
                <tr>
                    <th>@lang["Name En"]</th>
                    <td>@model.product_name_en</td>
                </tr>
                <tr>
                    <th>@lang["Name Kh"]</th>
                    <td>@model.product_name_kh</td>
                </tr>
                <tr>
                    <th>@lang["Category"]</th>
                    <td>@model.product_category?.product_category_en</td>
                </tr>    
                <tr>
                    <th>@lang["Unit"]</th>
                    <td>@model.unit?.unit_name</td>
                </tr>
            </table>
        </ContentLeft>
        <ContentRight>
            <div>
                <ComVendorInfo vendor="@model.vendor" />
            </div>
            <table>
                <tr>
                    <th>@lang["Cost"]</th>
                    <td>@model.cost.ToString(gv.currency_format)</td>
                </tr>
                <tr>
                    <th>@lang["Open Product"]</th>
                    <td><ComInputCheckBox label="" is_read_only="true" value="@model.is_open_product" /></td>
                </tr>
                <tr>
                    <th>@lang["Allow Discount"]</th>
                    <td><ComInputCheckBox label="" is_read_only="true" value="@model.is_allow_discount" /></td>
                </tr>
            </table>
        </ContentRight>

    </UISummaryBox>
    <UIContainerBox Title="@lang["Note"]" is_visible="@(!string.IsNullOrEmpty(model.note))">
        <div class="area-text">
        @model.note
        </div>
    </UIContainerBox>
    <Com is_visible="@model.is_inventory_product">
        <Spacing Number="10"/>
        <ComProductDetail_InventoryInformation product_id="@model.id" is_ingredient="true"/>
    </Com>
</UIGridCenter>

@code {
    [Parameter] public ProductModel model { get; set; }
    [CascadingParameter] GlobalVariableModel gv { get; set; }
}
