@inherits AssociationModifierBase

<Loading is_loading="@(is_loading || is_loading_data)" />

@{
    RenderFragment HeaderTemplate(string field_name, string display_name, string ClassName = "") =>
    @<Th OnClick="@(async () => await OrderBy(field_name))" OrderBy="@(state.pager.order_by == field_name)" OrderByType="@state.pager.order_by_type" ClassName="@($"cp {ClassName}")"> @display_name</Th>;
}

@if (!is_loading)
{ 
    <PageContainer roles="@gv.GetRole("product_management")" is_container="false">
        <PageHeader is_subpage="true">
            <HeaderLeft>
                <PageTitle ShowFilter="false">
                    <HeaderTemplate><span>Association Modifiers</span></HeaderTemplate>
                </PageTitle>
            </HeaderLeft>
            <HeaderRight> 
                <RefreshButton OnClick="@(async()=>await LoadData())" />
                <ComSearch place_holder="@GetFilterValue2(state.filters, "keyword","")" KeywordChanged="@OnSearch" show_advance_filter="false" OnFillterClick="@FilterClick">
                    @*<SelectProductGroup @bind-product_group="@state.product_group" show_empty="true" empty_text="@lang["All Product Group"]"/>
                    <SelectProductCategory @bind-product_category="@state.product_category" show_empty="true" empty_text="@lang["All Product Category"]" />*@
                </ComSearch>
            </HeaderRight>
        </PageHeader>
        <PageBody>
            <FilterInfo filters="@state.filters" OnRemoveFilterClick="@RemoveFilter" OnRemoveAllFilterClick="@RemoveAllFilter" />
  
            <Table Items="@models"
                    PerPage="@state.pager.per_page"
                    TotalItem="@TotalRecord"
                    CurrentPage="@state.pager.current_page"
                    OnPagerChange="@SelectChange"
                    OnPageChange="@ChangePager"
                    isLoading="@is_loading_data"
                    ShowPager="true"
                    ShowCounter="true"
                    ClassName="uk-table-small uk-table-striped uk-table-hover"
                    ScrollClass="uk-overflow-auto">
                <TableHeader>
                    @HeaderTemplate("modifier/modifier_name", lang["Name En (Name Kh)"], "col-auto")
                    <ThRight>
                        @lang["Status"]
                    </ThRight>
                    <th class="uk-width-auto"></th>
                </TableHeader>
                <RowTemplate Context="p">
                    <td>
                        <ComAuthorize roles="@gv.GetRole("modifier_management")" url="@($"modifier/{p.modifier_id}")">@p.modifier?.modifier_name</ComAuthorize>
                    </td>
                    <TdCenter>
                        <LabelActive is_visible="@(p.modifier.status && !p.is_deleted)" />
                        <LabelInActive is_visible="@(!p.modifier.status && !p.is_deleted)" />
                    </TdCenter>
                    <TdActions>
                        <TableActionItem icon="visibility" roles="@gv.GetRole("modifier_management")" url="@($"modifier/{p.modifier_id}")">@lang["View"]</TableActionItem>
                    </TdActions>
                </RowTemplate>
            </Table>
 
        </PageBody>
    </PageContainer>
}

