@inject IHttpService http

<div class="selected-vendor">
    <div class="wrp-sale-vendor">
        <div class="wrp-header">
            <div class="uk-margin-small">
                <h3 class="title uk-display-inline-block">
                    <Icon icon="person" />
                    <span class="title">vendor</span>
                </h3>
                <Spacing Number="10" />
                <div class="uk-button-group box-select-typeahead uk-width-1-1">
                    <div class="uk-button uk-button-primary first uk-width-1-1">
                        <Com is_visible="@(vendor?.vendor_name != null)">
                            <div style="padding: 2px 2px 4px;">
                                <div class="uk-align-left uk-margin-remove-left" style="margin-right: 5px;">
                                    <Image ImageUrl="@http.ImageUrl(vendor?.photo)" PopupImageUrl="@http.ImageUrl(vendor?.photo)" IsLightBox="true" IsBackgroundImage="true" Width="40px" Height="40px" />
                                </div>
                                <div class="uk-text-left">@vendor.vendor_display_name | @vendor.total_payable.ToString(gv.main_currency_format)</div>
                            </div>
                        </Com>
                        <Com is_visible="@(vendor?.vendor_display_name is null)">
                            <VendorTypeahead @bind-vendor="@vendor" vendor_changed="@OnSelectVendor"/>
                        </Com>
                    </div>
                    <Button icon="search" OnClick="@(() => is_open = true)" is_visible="@(vendor_id == 0)" custom_class="btn-typeahead-action"/>
                    <Button icon="clear" OnClick="@ClearVendor" is_visible="@(vendor_id > 0 || vendor != null)" class_name="danger" custom_class="btn-typeahead-action"/>
                    <Button icon="add" OnClick="@OpenVendorModal" roles="@gv.GetRole("vendor_add")" is_visible="@(vendor_id == 0 && vendor == null)" custom_class="btn-typeahead-action"/>
                </div>
            </div>
        </div>
    </div>
</div>
 
<Com is_visible="@is_open">
    <SelectVendor @bind-is_open="@is_open" vendor="@vendor" vendorChanged="@onVendorChanged" />
</Com>

<Com is_visible="is_open_add_vendor">
    <ComAddVendor id=" vendor_id" OnSave="@onVendorChanged" @bind-is_opened="is_open_add_vendor" />
</Com>

@code{
    
    [CascadingParameter] public GlobalVariableModel gv { get; set; }
    [Parameter] public VendorModel vendor { get; set; }
    [Parameter] public EventCallback<VendorModel> vendorChanged { get; set; }
    [Parameter] public int vendor_id { get; set; } = 0;
    [Parameter] public EventCallback<int> vendor_idChanged { get; set; }

    bool is_open, is_open_add_vendor = false;


    async Task onVendorChanged(VendorModel cm)
    {
        await vendor_idChanged.InvokeAsync(cm.id);
        await vendorChanged.InvokeAsync(cm);
        is_open_add_vendor = false;
    }

    async Task OnSelectVendor()
    {
        await vendor_idChanged.InvokeAsync(vendor.id);
        await vendorChanged.InvokeAsync(vendor);
        is_open_add_vendor = false;
    }
    void OpenVendorModal()
    {
        if (vendor is null)
        {
            vendor_id = 0;
        }
        else
        {
            vendor_id = vendor.id;
        }
        is_open_add_vendor = true;
    }

    async Task ClearVendor()
    {
        vendor = null;
        vendor_id = 0;
        await vendor_idChanged.InvokeAsync(0);
        await vendorChanged.InvokeAsync(vendor);

    }


}