@page "/vendor/{id:int}"
@inherits eAdmin.Pages.PageVendors.PageVendorDetail

<Loading is_loading="@(is_loading || is_loading_data)" />
@if (!is_loading && !is_error)
{

    <Title Value="@($"Vendor | {model.vendor_name}")"></Title>
    <PageContainer roles="@gv.GetRole("vendor_view")">
        <PageHeader>
            <HeaderLeft>
                <PageTitle ShowFilter="false">
                    <HeaderTemplate>
                        @model.vendor_display_name 
                        <LabelDeleted is_visible="@model.is_deleted" />
                        <LabelActive is_visible="@(!model.is_deleted && model.status)" />
                        <LabelInActive is_visible="@(!model.is_deleted && !model.status)" />
                    </HeaderTemplate>
                </PageTitle>
            </HeaderLeft>
            <HeaderRight ShowBackButton="true">
                <MudHidden Breakpoint="Breakpoint.SmAndDown">
                    <Button icon="edit" title="@lang["Edit"]" OnClick="@(()=>nav.NavigateTo($"vendor/edit/{model.id}"))" is_visible="@(!model.is_deleted)" />
                </MudHidden>
                <ComAttachFileButton RoleAdd="@gv.GetRole("vendor_add")"
                                     RoleEdit="@gv.GetRole("vendor_edit")"
                                     RoleDelete="@gv.GetRole("vendor_delete")"
                                     ApiFilter="@($"vendor_id eq {id} ")"
                                     File="@(new AttachFilesModel() { vendor_id = id })"
                                     IsVisible="@(!model.is_deleted)" @bind-IsOpened="@is_open_attach_file" />
                <MudHidden Breakpoint="Breakpoint.SmAndDown">
                    <AddButton roles="@gv.GetRole("vendor_add")" OnClick="@(()=>nav.NavigateTo("vendor/new"))">@lang["New Vendor"]</AddButton>
                </MudHidden>
                <RefreshButton OnClick="@LoadData" />
                <MoreButton>
                    <MudHidden Breakpoint="Breakpoint.MdAndUp">
                        <MoreButtonItem roles="@gv.GetRole("vendor_add")" icon="add" url="vendor/new">@lang["New Vendor"]</MoreButtonItem>

                        <MoreButtonItem roles="@gv.GetRole("vendor_edit")" icon="edit" is_visible="@(!model.is_deleted)" OnClick="@(()=>OnEdit(model.id))">@lang["Edit"]</MoreButtonItem>
                    </MudHidden>
                        <MoreButtonItem roles="@gv.GetRole("vendor_edit")" icon="highlight_off" is_visible="@(model.status && !model.is_deleted)" OnClick="@(()=>OnToogleStatus(model))">@lang["Inactive"]</MoreButtonItem>
                        <MoreButtonItem roles="@gv.GetRole("vendor_edit")" icon="check" is_visible="@(!model.status && !model.is_deleted)" OnClick="@(() => OnToogleStatus(model))">@lang["Active"]</MoreButtonItem>
                        <MoreButtonItem roles="@gv.GetRole("vendor_delete")" icon="delete" is_visible="@(!model.is_deleted)" OnClick="@(() => OnDelete(model))">@lang["Delete"]</MoreButtonItem>
                        <MoreButtonItem roles="@gv.GetRole("vendor_restore")" icon="refresh" is_visible="@(model.is_deleted)" OnClick="@(()=>OnRestore(model))">@lang["Restore"]</MoreButtonItem>
                        <MudHidden Breakpoint="Breakpoint.MdAndUp">
                            <MudDivider />
                            <ComAttachFileButton RoleAdd="@gv.GetRole("vendor_add")"
                                                 RoleEdit="@gv.GetRole("vendor_edit")"
                                                 RoleDelete="@gv.GetRole("vendor_delete")"
                                                 ApiFilter="@($"vendor_id eq {id} ")"
                                                 File="@(new AttachFilesModel() { vendor_id = id })"
                                                 IsVisible="@(!model.is_deleted)"
                                                 IsIconButton="false"
                                                 OnOpenAttachFile="@(()=>is_open_attach_file=!is_open_attach_file)" />
                        </MudHidden>
                </MoreButton>


            </HeaderRight>
        </PageHeader>
        <PageBody>
            <Tab ClassName="control-header-tab">
                <TabHeader>
                    <TabHeaderItem>@lang["Overview"]</TabHeaderItem>
                    <TabHeaderItem OnClick="@(()=>purchase_history_tab_click=true)">@lang["Purchase History"]</TabHeaderItem>
                    <TabHeaderItem OnClick="@(()=>purchase_product_history_tab_click = true)">@lang["Purchase Product History"]</TabHeaderItem>
                    <TabHeaderItem OnClick="@(()=>purchase_payment_history_tab_click = true)">@lang["Purchase Payment History"]</TabHeaderItem>
                    <TabHeaderItem OnClick="@(()=> is_comment_loaded = true)">@lang["Comment and History"]</TabHeaderItem>
                </TabHeader>
                <TabBody>
                    <TabItem>
                        <UIGridCenter>
                            @if (is_loading)
                            {
                                <Spinner />
                            }
                            else
                            {
                                <UISummaryBox ImageUrl="@model.photo">

                                    <ContentLeft>
                                        <table>
                                            <tr>
                                                <th>@lang["Name"]</th>
                                                <td>@model.vendor_name</td>
                                            </tr>
                                            <tr>
                                                <th>@lang["Company Name"]</th>
                                                <td>@model.company_name</td>
                                            </tr>
                                            <tr>
                                                <th>@lang["Vendor Group"]</th>
                                                <td>@model.vendor_group?.vendor_group_name_en</td>
                                            </tr>

                                        </table>
                                    </ContentLeft>
                                    <ContentRight>
                                        <table>
                                            <tr>
                                                <th>@lang["Mobile Phone"]</th>
                                                <td>@model.mobile_phone</td>
                                            </tr>
                                            <tr>
                                                <th>@lang["Office Phone"]</th>
                                                <td>@model.office_phone</td>
                                            </tr>
                                        </table>
                                        <Spacing Number="15" />
                                        <div class="uk-card uk-card-credit uk-card-body">
                                            <h3 class="uk-margin-remove">@model.total_payable.ToString(gv.currency_format)</h3>
                                            <div class="uk-text-small uk-text-italic">@lang["Credit Ballance"]</div>
                                        </div>
                                    </ContentRight>
                                </UISummaryBox>
                            }

                            <UIContainerBox Title="@lang["Social Media Information"]">
                                <ListTable>
                                    <ListTableItem ItemTitle="@lang["Email"]">@model.email_address</ListTableItem>

                                </ListTable>
                            </UIContainerBox>

                            <UIContainerBox Title="@lang["Note"]" is_visible="@(!string.IsNullOrEmpty(model.note))">
                                @model.note
                            </UIContainerBox>
                            <UIContainerBox Title="@lang["Address"]" is_visible="@(!string.IsNullOrEmpty(model.address))">
                                @model.address
                            </UIContainerBox>
                        </UIGridCenter>

                        <div class="invoice_footer_description">
                            <div>
                                @lang["Created by"] @model.created_by @lang["on"] @model.created_date.ToString(gv.date_time_format)
                            </div>
                            @if (model.is_deleted)
                            {
                                <div>
                                    @lang["Deleted by"] @model.deleted_by @lang["on"] @(model.deleted_date != null? model.deleted_date.Value.ToString(gv.date_time_format):"")
                                </div>
                            }
                            <div>@lang["Last modified by"] @model.last_modified_by @lang["on"] @model.last_modified_date</div>
                        </div>
                    </TabItem>
                   
                    <TabItem>

                        @if (purchase_history_tab_click)
                        {
                            <ComVendorDetail_POHistory vendor_id="@id"/>
                        }
                    </TabItem>
                    <TabItem>
                      @if (purchase_product_history_tab_click)
                      {
                          <ComVendorDetail_POProductHistory vendor_id="@id"/>
                      }
                    </TabItem>
                    <TabItem>
                        @if (purchase_payment_history_tab_click)
                        {
                            <ComVendorDetail_POPaymentHistory vendor_id="id"/>
                        }
                    </TabItem>
                    <TabItem>
                        <Com is_visible="@is_comment_loaded">
                            <ComHistory RoleAdd="@gv.GetRole("vendor_add")"
                                            RoleDelete="@gv.GetRole("vendor_delete")"
                                            RoleEdit="@gv.GetRole("vendor_edit")"
                                            ApiFilter="@($"vendor_id eq {id}")"
                                            history="@(new HistoryModel() { vendor_id = id})"
                                            OnSave="@SaveComment" />

                        </Com>
                    </TabItem>
                </TabBody>
            </Tab>
        </PageBody>
    </PageContainer>

   

    
}
@if (is_error)
{
    <Error title="Vendor Detail">
        @error_text
    </Error>
}

