@page "/vendor/{id:int}"
@inherits eAdmin.Pages.PageVendors.PageVendorDetail

<Loading is_loading="@(is_loading || is_loading_data)" />
@if (!is_loading && !is_error)
{

    <Title Value="@($"Vendor | {model.vendor_name}")"></Title>
    <PageContainer roles="@gv.GetRole("vendor_view")">
        <PageHeader>
            <HeaderLeft>
                <PageTitle ShowFilter="false">
                    <HeaderTemplate>
                        @model.vendor_display_name 
                        <LabelDeleted is_visible="@model.is_deleted" />
                        <LabelActive is_visible="@(!model.is_deleted && model.status)" />
                        <LabelInActive is_visible="@(!model.is_deleted && !model.status)" />
                    </HeaderTemplate>
                </PageTitle>
            </HeaderLeft>
            <HeaderRight ShowBackButton="true">
                <ComAttachFileButton RoleAdd="@gv.GetRole("vendor_add")"
                                     RoleEdit="@gv.GetRole("vendor_edit")"
                                     RoleDelete="@gv.GetRole("vendor_delete")"
                                     ApiFilter="@($"vendor_id eq {id} ")"
                                     File="@(new AttachFilesModel() { vendor_id = id })"
                                     IsVisible="@(!model.is_deleted)" />
                <Button icon="edit" title="Edit" OnClick="@(()=>nav.NavigateTo($"vendor/edit/{model.id}"))" is_visible="@(!model.is_deleted)" />
                <RefreshButton OnClick="@LoadData" />
            </HeaderRight>
        </PageHeader>
        <PageBody>
            <Tab ClassName="control-header-tab">
                <TabHeader>
                    <TabHeaderItem>Overview</TabHeaderItem>
                    <TabHeaderItem OnClick="@(()=>purchase_history_tab_click=true)">Purchase History</TabHeaderItem>
                    <TabHeaderItem OnClick="@(()=>purchase_product_history_tab_click = true)">Purchase Product History</TabHeaderItem>
                    <TabHeaderItem OnClick="@(()=>purchase_payment_history_tab_click = true)">Purchase Payment History</TabHeaderItem>
                    <TabHeaderItem OnClick="@(()=> is_comment_loaded = true)">Comments</TabHeaderItem>
                </TabHeader>
                <TabBody>
                    <TabItem>
                        <UIGridCenter>
                            @if (is_loading)
                            {
                                <Spinner />
                            }
                            else
                            {
                                <UISummaryBox ImageUrl="@model.photo">

                                    <ContentLeft>
                                        <table>
                                            <tr>
                                                <th>Vendor Name</th>
                                                <td>@model.vendor_name</td>
                                            </tr>
                                            <tr>
                                                <th>Company</th>
                                                <td>@model.company_name</td>
                                            </tr>
                                            <tr>
                                                <th>Vendor Group</th>
                                                <td>@model.vendor_group?.vendor_group_name_en</td>
                                            </tr>

                                        </table>
                                    </ContentLeft>
                                    <ContentRight>
                                        <table>
                                            <tr>
                                                <th>Mobile Phone</th>
                                                <td>@model.mobile_phone</td>
                                            </tr>
                                            <tr>
                                                <th>Office Phone</th>
                                                <td>@model.office_phone</td>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <td>
                                                    <div class="uk-text-large">000</div>
                                                    <div class="uk-text-small uk-text-italic">Credit Ballance</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </ContentRight>
                                </UISummaryBox>
                            }

                            <UIContainerBox Title="Social Media Information">
                                <ListTable>
                                    <ListTableItem ItemTitle="Email">@model.email_address</ListTableItem>

                                </ListTable>
                            </UIContainerBox>

                            <UIContainerBox Title="Note" is_visible="@(!string.IsNullOrEmpty(model.note))">
                                @model.note
                            </UIContainerBox>
                            <UIContainerBox Title="Address" is_visible="@(!string.IsNullOrEmpty(model.address))">
                                @model.address
                            </UIContainerBox>
                        </UIGridCenter>
                    </TabItem>
                   
                    <TabItem>

                        @if (purchase_history_tab_click)
                        {
                            <ComVendorDetail_POHistory vendor_id="@id"/>
                        }
                    </TabItem>
                    <TabItem>
                      @if (purchase_product_history_tab_click)
                      {
                          <ComVendorDetail_POProductHistory vendor_id="@id"/>
                      }
                    </TabItem>
                    <TabItem></TabItem>
                    <TabItem>
                        <Com is_visible="@is_comment_loaded">
                            <UIContainerBox Title="Comment and History">
                                <ComHistory RoleAdd="@gv.GetRole("vendor_add")"
                                            RoleDelete="@gv.GetRole("vendor_delete")"
                                            RoleEdit="@gv.GetRole("vendor_edit")"
                                            ApiFilter="@($"vendor_id eq {id}")"
                                            history="@(new HistoryModel() { vendor_id = id})"
                                            OnSave="@SaveComment" />
                            </UIContainerBox>

                        </Com>
                    </TabItem>
                </TabBody>
            </Tab>
        </PageBody>
    </PageContainer>

   

    
}
@if (is_error)
{
    <Error title="Customer Detail">
        @error_text
    </Error>
}

