@page "/vendor"
@inherits PageVendorBase

<Loading is_loading="@(is_loading || is_loading_data)" />

@{
    RenderFragment HeaderTemplate(string field_name, string display_name, string ClassName = "") =>
    @<Th OnClick="@(async () => await OrderBy(field_name))" OrderBy="@(state.pager.order_by == field_name)" OrderByType="@state.pager.order_by_type" ClassName="@($"cp {ClassName}")"> @display_name</Th>;
}

@if (!is_loading)
{

    <Title Value="@lang["Vendor"]"></Title>
    <PageContainer roles="@gv.GetRole("vendor_management")">
        <PageHeader>
            <HeaderLeft>
                <PageTitle>
                    <HeaderTemplate>
                        @lang[state.page_title]
                    </HeaderTemplate>
                    <FilterTemplate>
                        <PageFilter title="@lang["Status"]">
                            <ModuleView module_views="@gv.GetModuleView("page_vendor")" OnClick="@ViewClick" />
                        </PageFilter>
                    </FilterTemplate>
                </PageTitle>
            </HeaderLeft>
            <HeaderRight>
                <AddButton roles="@gv.GetRole("vendor_add")" OnClick="@(()=>nav.NavigateTo("vendor/new"))">@lang["New Vendor"]</AddButton>
                <MudHidden Breakpoint="Breakpoint.SmAndDown">
                    <ComSearch place_holder="@GetFilterValue2(state.filters, "keyword","")" KeywordChanged="@OnSearch" show_advance_filter="false" />

                </MudHidden>
                <RefreshButton OnClick="@(async()=>await LoadData())" />
            </HeaderRight>
        </PageHeader>
        <PageBody>
            <MudHidden Breakpoint="Breakpoint.MdAndUp">
                <ComSearch is_fullwidth="true" place_holder="@GetFilterValue2(state.filters, "keyword","")" KeywordChanged="@OnSearch" show_advance_filter="false" />

                <Spacing Number="4" />
            </MudHidden>
            <Com is_visible="@(Vendor != null)">
                <Table Items="@Vendor"
                       PerPage="@state.pager.per_page"
                       TotalItem="@TotalRecord"
                       CurrentPage="@state.pager.current_page"
                       OnPagerChange="@SelectChange"
                       OnPageChange="@ChangePager"
                       isLoading="@is_loading_data"
                       ShowPager="true"
                       ShowCounter="true"
                       ClassName="uk-table-small uk-table-striped uk-table-hover"
                       ScrollClass="uk-overflow-auto"
                       EmptyText="There is no record.">
                    <TableHeader>
                        <ThCenter>@lang["Image"]</ThCenter>
                        @HeaderTemplate("vendor_code", lang["Code"], "uk-text-center")
                        @HeaderTemplate("vendor_name", lang["Name"], "uk-text-left")
                        @HeaderTemplate("company_name", lang["Company Name"], "uk-text-left")
                        @HeaderTemplate("vendor_group_name_en", lang["Vendor Group"], "uk-text-left")
                        @HeaderTemplate("mobile_phone", lang["Mobile Phone"], "uk-text-center")
                        @HeaderTemplate("office_phone", lang["Office Phone"], "uk-text-center")
                        @HeaderTemplate("total_payable", lang["Balance"], "uk-text-right")
                       <ThCenter>@lang["Status"]</ThCenter>
                        <th class="uk-width-auto"></th>
                    </TableHeader>
                    <RowTemplate Context="p">
                        <TdCenter>
                            <Image ImageUrl="@http.ImageUrl(p.photo)" PopupImageUrl="@http.ImageUrl(p.photo)" IsLightBox="true" IsBackgroundImage="true" Width="50px" Height="50px" />
                        </TdCenter>
                        <TdCenter>
                            <ComAuthorize roles="@gv.GetRole("vendor_view")" url="@($"vendor/{p.id}")">@p.vendor_code</ComAuthorize>
                        </TdCenter>
                        <td>
                            <div>
                                <ComAuthorize roles="@gv.GetRole("vendor_view")" url="@($"vendor/{p.id}")">@p.vendor_name</ComAuthorize>
                            </div>
                        </td>

                        <td>
                            @p.company_name
                        </td>
                        <td>
                            @p.vendor_group?.vendor_group_name_en
                        </td>
                        <TdCenter>
                            @p.mobile_phone
                        </TdCenter>
                        <TdCenter>
                            @p.office_phone
                        </TdCenter>
                        <TdRight>
                            @p.total_payable.ToString(gv.currency_format)
                        </TdRight>
                        <TdCenter>
                            <LabelDeleted is_visible="@p.is_deleted" />
                            <LabelActive is_visible="@(!p.is_deleted && p.status)" OnClick="(()=>OnToogleStatusLabel(p))" roles="@gv.GetRole("vendor_edit")" is_loading="@p.is_change_status" />
                            <LabelInActive is_visible="@(!p.is_deleted && !p.status)" OnClick="(()=>OnToogleStatusLabel(p))" roles="@gv.GetRole("vendor_edit")" is_loading="@p.is_change_status" />
                        </TdCenter>
                        <TdActions is_loading="@p.is_loading">
                            <TableActionItem roles="@gv.GetRole("vendor_view")" icon="visibility" is_visible="@(!p.is_deleted)" url="@($"vendor/{p.id}")">@lang["View"]</TableActionItem>
                            <TableActionItem roles="@gv.GetRole("vendor_edit")" icon="edit" is_visible="@(!p.is_deleted)" OnClick="@(()=>OnEdit(p.id))">@lang["Edit"]</TableActionItem>
                            <TableActionItem roles="@gv.GetRole("vendor_edit")" icon="highlight_off" is_visible="@(p.status && !p.is_deleted)" OnClick="@(()=>OnToogleStatus(p))">@lang["Inactive"]</TableActionItem>
                            <TableActionItem roles="@gv.GetRole("vendor_edit")" icon="check" is_visible="@(!p.status && !p.is_deleted)" OnClick="@(() => OnToogleStatus(p))">@lang["Active"]</TableActionItem>
                            <TableActionItem roles="@gv.GetRole("vendor_delete")" icon="delete" is_visible="@(!p.is_deleted)" OnClick="@(() => OnDelete(p))">@lang["Delete"]</TableActionItem>
                            <TableActionItem roles="@gv.GetRole("vendor_restore")" icon="refresh" is_visible="@(p.is_deleted)" OnClick="@(()=>OnRestore(p))">@lang["Restore"]</TableActionItem>
                        </TdActions>
                    </RowTemplate>
                </Table>
            </Com>
        </PageBody>
    </PageContainer>
}
