@inject IStringLocalizer<Resource> lang
<div class="spacing30"></div>
<div class="invoice_footer_description">
    <div>
        @lang["Created by"] @model.created_by @lang["on"] @model.created_date.ToString(gv.date_time_format)
    </div>

    @if (model.is_deleted)
    {
        <div>@lang["Deleted by"] @model.deleted_by @lang["on"] @model.deleted_date.ToString(gv.date_time_format)</div>
    }
    <div>@lang["Last modified by"] @model.last_modified_by @lang["on"] @model.last_modified_date.ToString(gv.date_time_format)</div>
</div>
@code {
    [Parameter] public StockTransferModel model { get; set; }
    [CascadingParameter] public GlobalVariableModel gv { get; set; }
}
