@inject IStringLocalizer<Resource> lang
@inject IHttpService http
 
    <UIContainerBox Title="@Title">
        @if (!is_loading) {
        <div class="csh-sale-pro-list uk-overflow-auto table-scroll">
            <table class="uk-table view_table set-verticle-middle uk-table-small">
                <thead>
                    <tr>
                        <ThAuto>@lang["Name"]</ThAuto>
                        <ThCenter>@lang["QTY"]</ThCenter>
                        <ThRight>@lang["Amount"]</ThRight>
                    </tr>
                </thead>
                @if (models.Any())
                {
            <tbody>
                @foreach (var c in models.Select(r => r.product_group_en).Distinct().ToList())
                {
                    <tr>
                        <td colspan="3" class="uk-padding-remove-bottom">
                            @if (!string.IsNullOrEmpty(c))
                            {
                                <div class="uk-text-uppercase uk-text-bold">@lang[c.ToString()]</div>

                            }
                        </td>
                    </tr>
                    @foreach (var g in models.Where(r => r.product_group_en == c.ToString()).Select(r => r.product_category_en).Distinct().ToList())
                    {
                        <tr>
                            <td colspan="3" class="uk-padding-remove-bottom uk-padding-remove-top">
                                @if (!string.IsNullOrEmpty(g))
                                {
                                <div class="uk-margin-small-left uk-text-bold">@g.ToString()</div>
                                }
                            </td>
                        </tr>
                        @foreach (var p in models.Where(r => r.product_category_en == g.ToString()).ToList())
                        {
            <tr>
                @if (!string.IsNullOrEmpty(p.product_name_en))
                {
                    <td>
                        <div class="uk-margin-small-left">@p.product_name_en</div>
                    </td>
                }
                <TdCenter>@p.quantity.ToString(gv.quantity_format)</TdCenter>
                <TdRight>@p.total_amount.ToString(gv.main_currency_format)</TdRight>
            </tr>

                        }
                        foreach (var gt in models.Where(r => r.product_category_en == g.ToString()).Select(r => r.product_category_en).Distinct().ToList())
                        {
            <tr>
                @if (!string.IsNullOrEmpty(gt))
                {
                    <TdRight ClassName="uk-text-bold">@lang["Total"] - @gt.ToString()</TdRight>
                }

                <TdCenter ClassName="uk-text-bold">@models.Where(r => r.product_category_en == g.ToString()).Sum(r => r.quantity).ToString(gv.quantity_format)</TdCenter>
                <TdRight ClassName="uk-text-bold">@models.Where(r => r.product_category_en == g.ToString()).Sum(r => r.total_amount).ToString(gv.main_currency_format)</TdRight>
            </tr>
                        }

                    }
                    @foreach (var tc in models.Where(r => r.product_group_en == c).Select(r => r.product_group_en).Distinct().ToList())
                    {
            <tr>
                @if (!string.IsNullOrEmpty(c))
                {
                    <TdRight ClassName="uk-text-bold">@lang["Total"] - @c.ToString()</TdRight>
                }
                <TdCenter ClassName="uk-text-bold">@models.Where(r => r.product_group_en == tc.ToString()).Sum(r => r.quantity).ToString(gv.quantity_format)</TdCenter>
                <TdCenter ClassName="uk-text-bold">@models.Where(r => r.product_group_en == tc.ToString()).Sum(r => r.total_amount).ToString(gv.main_currency_format)</TdCenter>
            </tr>


                    }
                }
            </tbody>
                    <tfoot>
                        <tr>
                            <TdRight ClassName="uk-text-bold">@lang["Grand Total"]</TdRight>
                            <TdCenter ClassName="uk-text-bold">@models.Sum(r => r.quantity).ToString(gv.quantity_format)</TdCenter>
                            <TdRight ClassName="uk-text-bold">@models.Sum(r => r.total_amount).ToString(gv.main_currency_format)</TdRight>
                        </tr>
                    </tfoot>
                }
                else
                {
                    <tbody>
                        <tr>
                            <td colspan="3">
                                <div class="uk-text-center">
                                    <Icon icon="search" />
                                    <br />
                                    <p>@lang["There's no record in the system"]</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                }
                </table>

        </div>
        }
        else
        {
            <MudSkeleton/>
        }
    </UIContainerBox>
 
@code {

    [CascadingParameter] public GlobalVariableModel gv { get; set; }
    [Parameter] public string Title { get; set; } = "Sale Product";
    [Parameter] public string WorkingDayId { get; set; }
    [Parameter] public string CashierShiftId { get; set; }
    [Parameter] public bool IsFree { get; set; }
    List<CashierShiftSaleProductSummaryModel> models = new List<CashierShiftSaleProductSummaryModel>();
    bool is_loading = false;




    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    public async Task LoadData()
    {
        is_loading = true;
        if (!string.IsNullOrEmpty(WorkingDayId) || !string.IsNullOrEmpty(CashierShiftId)) {
            var resp = await http.ApiPost("GetData", new FilterModel { procedure_name = !string.IsNullOrEmpty(WorkingDayId) ? "sp_get_working_day_sale_product_summary" : "sp_get_cashier_shift_sale_product_summary", procedure_parameter = !string.IsNullOrEmpty(WorkingDayId) ? $"'{WorkingDayId}'" : $"'{CashierShiftId}'" });
            if (resp.IsSuccess)
            {
                models = JsonSerializer.Deserialize<List<CashierShiftSaleProductSummaryModel>>(resp.Content.ToString());
                models = models.Where(r=>r.is_free == IsFree).ToList();
            }
        }
        is_loading = false;
    }
}
