@page "/cashiershift/{id}"
@inherits PageCahsierShiftDetails
<Loading is_loading="@(is_loading || is_loading_data)" />
@if (!is_loading && !is_error)
{
    <Title Value="@($"{lang["Cashier Shift"]}# {model.cashier_shift_number}")"></Title>
    <PageContainer roles="@gv.GetRole("cashier_shift_management")">
        <PageHeader>
            <HeaderLeft>
                <PageTitle ShowFilter="false">
                    <HeaderTemplate>
                      @lang["Cashier Shift"]# @model.cashier_shift_number
                    </HeaderTemplate>
                </PageTitle>
            </HeaderLeft>
            <HeaderRight ShowBackButton="true">
                <MudHidden Breakpoint="Breakpoint.SmAndDown">
                    <Button icon="print" title="@lang["Print"]" OnClick="@OnPrint" />
                </MudHidden>
                <RefreshButton OnClick="@LoadData" />
                <MudHidden Breakpoint="Breakpoint.MdAndUp">
                    <MoreButton>
                        <MoreButtonItem OnClick="@OnPrint" icon="print">@lang["Print"]</MoreButtonItem>
                    </MoreButton>
                </MudHidden>
            </HeaderRight>
        </PageHeader>
        <PageBody>
            <MudTabs PanelClass="pa-6">
                <MudTabPanel Text="@lang["Cashier Shift Information"]">
                    <ComCashierShiftDetail_Information model="@model" />
                    @foreach (var d in list_summaries.Select(r => r.group).Distinct())
                    {
                        <UIGridCenter>
                            <UIContainerBox Title="@lang[d.ToString()]">
                                <ListTable ClassWidth="uk-width-1-1">
                                    @foreach (var t in list_summaries.Where(r => r.group == d.ToString()))
                                    {
                                        if (t.title == "separator")
                                        {
                                            <td colspan="3">
                                                <hr />
                                            </td>

                                        }
                                        else
                                        {
                                            <ListTableItem ItemTitle="@lang[t.title]" IsBetweenValue="true">@t.value</ListTableItem>
                                        }

                                    }
                                </ListTable>
                            </UIContainerBox>
                        </UIGridCenter>
                    }
                    <div class="invoice_footer_description">
                        <div>
                            @lang["Created by"] @model.created_by @lang["on"] @model.created_date.ToString(gv.date_time_format)
                        </div>
                        @if (model.is_deleted)
                        {
                            <div>
                                @lang["Deleted by"] @model.deleted_by @lang["on"] @(model.deleted_date != null? model.deleted_date.Value.ToString(gv.date_time_format):"")
                            </div>
                        }
                        <div>@lang["Last modified by"] @model.last_modified_by @lang["on"] @model.last_modified_date</div>
                    </div>
                </MudTabPanel>
                <MudTabPanel Text="@lang["Sale Receipt"]" OnClick="@(()=>receipt_tab_click = true)">
                    @if (receipt_tab_click)
                    {
                        <ComCashierShiftDetail_ReceiptList CashierShiftId="@id" StateKey="120XCAshierSHIFTiptDEl97FALse" Title="@lang["Sale Receipt"]" IsDeletedReceipt="false" />
                        <ComCashierShiftDetail_ReceiptList CashierShiftId="@id" StateKey="CFceCAshierSHIFTiptFOCDEl978RUE" Title="@lang["FOC Sale Receipt"]" IsFocReceipt="true" IsDeletedReceipt="false" />
                        <ComCashierShiftDetail_ReceiptList CashierShiftId="@id" StateKey="CFceCAshierSHIFTiptDEl978TRUE" Title="@lang["Deleted Sale Receipt"]" IsDeletedReceipt="true" />
                    }
                </MudTabPanel>
                <MudTabPanel OnClick="@(()=>sale_product_history_tab_click = true)" Text="@lang["Sale Product"]">
                    @if (sale_product_history_tab_click)
                    {
                        <UIGridCenter>
                            <ComCashierShiftDetail_SaleProduct Title="@lang["Sale Product"]" IsFree="false" CashierShiftId="@id" />
                            <ComCashierShiftDetail_SaleProduct_FOC IsRevenueGroup="true" Title="@lang["Summary By Revenue Group"]" CashierShiftId="@id" />
                            <ComCashierShiftDetail_SaleProduct_FOC Title="@lang["FOC"]" CashierShiftId="@id" />
                            <ComCashierShiftDetail_SaleProduct Title="@lang["Free Product"]" IsFree="true" CashierShiftId="@id" />
                        </UIGridCenter>
                    }
                </MudTabPanel>
            </MudTabs>
        </PageBody>
    </PageContainer>
}
@if (is_error)
{
    <Error title="@lang["Cashier Shift Detail"]">
        @error_text
    </Error>
}

