@page "/project"
@inherits PageProjectBase


<Loading is_loading="@(is_loading || is_loading_data)" />


@{
    RenderFragment HeaderTemplate(string field_name, string display_name, string ClassName = "") =>
    @<Th OnClick="@(async () => await OrderBy(field_name))" OrderBy="@(state.pager.order_by == field_name)" OrderByType="@state.pager.order_by_type" ClassName="@($"cp {ClassName}")"> @display_name</Th>;
}
@if (!is_loading)
{
<PageContainer>
    <PageHeader title="@state.page_title" OnRefresh="@OnRefresh" >
        <Filter>
            <ModuleView module_views="@gv.GetModuleView("page_project")" OnClick="@ViewClick" />
        </Filter>
        <Right>
           
            <ComSearch search_text="@GetFilterValue2(state.filters, "keyword","")" place_holder="@GetFilterValue2(state.filters, "keyword","")" KeywordChanged="@OnSearch" show_advance_filter="false" OnFillterClick="@FilterClick">

            </ComSearch>
             <MudHidden Breakpoint="Breakpoint.SmAndDown">
                <AddButton roles="@gv.GetRole("project_add")" OnClick="@(()=>nav.NavigateTo("project/new"))">New</AddButton>
             </MudHidden>
          
        </Right>
    </PageHeader>
    <PageBody>

       <FilterInfo filters="@state.filters" OnRemoveFilterClick="@RemoveFilter" Keyword="@GetFilterValue2(state.filters, "keyword","")" OnRemoveKeywordClick="@OnRemoveKeyword" OnRemoveAllFilterClick="@RemoveAllFilter" />

         <Table Items="@projects"
                PerPage="@state.pager.per_page"
                TotalItem="@TotalRecord"
                CurrentPage="@state.pager.current_page"
                OnPagerChange="@SelectChange"
                OnPageChange="@ChangePager"
                isLoading="@is_loading_data"
                ShowPager="true"
                ShowCounter="true"
                EmptyText="There is no customer record.">
            <TableHeader>
                <ThAuto>Name</ThAuto>
                <ThAuto>Customer</ThAuto>
                 <Th Width="188px"> Project Type</Th>
                <ThCenter width="188px">Close Date</ThCenter>
                <ThCenter width="188px">Start Date</ThCenter>
                <Th> Status</Th>
                <ThCenter></ThCenter>
            </TableHeader>
            <RowTemplate Context="p">
             <td>
                <div style="display:flex;">
                        <MudAvatar Size="Size.Medium" Color="(MudBlazor.Color)p.project_type.color" Variant="Variant.Filled">
                            <MudIcon Icon="@p.project_type.icon" />
                        </MudAvatar>
                        <div style="padding-left:6px">
                            <AuthView roles="project_view" url="@($"project/{p.id}")">
                                <MudText Typo="Typo.body1">@p.project_code</MudText>    
                                <MudText Typo="Typo.caption">@p.project_name</MudText>
                            </AuthView>
                        </div>
                </div>
                
             </td>
            <td> 
                 <div style="display:flex;">
                        <MudAvatar Image="@(config.GetValue<string>("BaseUrl") + $"upload/{p.customer.photo}")" Size="Size.Medium">
                        </MudAvatar>
                        <div style="padding-left:6px">
                            <AuthView roles="customer_view" url="@($"customer/{p.customer.id}")">
                                <MudText Typo="Typo.body1">@p.customer.customer_code - @p.customer.customer_name_en</MudText>
                                  <MudText Typo="Typo.caption">@p.customer.company_name</MudText>
                            </AuthView>
                              
                        </div>
                    </div>
             </td>
             <td>@p.project_type?.project_type_name </td>
             <TdCenter>
                 @p.closed_date
             </TdCenter>
             <TdCenter>
                 @p.start_date
             </TdCenter>
              <TdCenter>
                    <LabelDeleted is_visible="@p.is_deleted"/>
                   <LabelActive is_visible="@(p.status == true && p.is_deleted == false )"/>
                   <LabelInActive  is_visible ="@(p.status == false && p.is_deleted == false )"/>
                </TdCenter>
                  <TdActions>
                        <TableActionItem icon="@Icons.Material.Filled.Visibility" roles="@gv.GetRole("project_view")" is_visible="@(!p.is_deleted)" url="@($"project/{p.id}")">View</TableActionItem>
                        <TableActionItem icon="@Icons.Material.Filled.ContentCopy" roles="@gv.GetRole("project_add")" url="@($"project/clone/{p.id}")">Clone</TableActionItem>
                           
                  </TdActions>
            </RowTemplate>
        </Table>
    </PageBody>
</PageContainer>
<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <MudFab Color="MudBlazor.Color.Primary" Icon="@Icons.Material.Filled.Add" Style="position:fixed; bottom:25px;right:5px;" Link="@($"customer/new")"/>    
</MudHidden>

}
*@
