@inject IStringLocalizer<Resource> lang
<div class="spacing30"></div>
<div class="invoice_footer_description">
    <div>
        @lang["Created by"] @po.created_by @lang["On_Date"]   @po.created_date.ToString(gv.date_time_format)
    </div>

    @if (po.is_deleted)
    {
<div>@lang["Deleted by"] @po.deleted_by @lang["On_Date"]   @po.deleted_date</div>
    }
<div>@lang["Last modified by"] @po.last_modified_by @lang["On_Date"]  @po.last_modified_date.ToString(gv.date_time_format)</div>
</div>
@code {
    [Parameter] public PurchaseOrderModel po { get; set; }
    [CascadingParameter] public GlobalVariableModel gv { get; set; }
}
