@inject IStringLocalizer<Resource> lang
@inject IHttpService http;
<UIContainerBox Title="@lang["Yearly Sale"]">

    @if (is_loading)
    {
        <Spinner is_template_spinning="true"/>
    }
    else
    {
        @if (data != null && barchart_data != null)
        {
            <div class="uk-text-right uk-margin-small-bottom">
                <Button title="@lang["View In Bar Chart"]" icon="bar_chart" icon_size="30px" class_name="@(is_view_bar_chart?"view-layout-active":"view-layout")" OnClick="@(()=>is_view_bar_chart = true)"></Button>
                <Button title="@lang["View In Table"]" icon="view_module" icon_size="30px" class_name="@(is_view_bar_chart?"view-layout":"view-layout-active")" OnClick="@(()=>is_view_bar_chart = false)"></Button>
            </div>
            @if (is_view_bar_chart)
            {
                <BarChart Data="@barchart_data" Height="325" Width="100" />
            }
            else
            {
                <ComCustomerDetail_SaleTableMatrix data="@data" />
            }
        }
    }

</UIContainerBox>
 
@code{
    [CascadingParameter] public GlobalVariableModel gv { get; set; }

    [Parameter] public string customer_id { get; set; }
    BarChartModel barchart_data;
    bool is_loading, is_view_bar_chart = true;
    List<YearlySaleRevenueModel> data = new List<YearlySaleRevenueModel>();
    protected override async Task OnInitializedAsync()
    {
        is_loading = true;
        var resp = await http.ApiPost("GetData", new FilterModel() { procedure_name = "sp_get_yearly_sale_by_customer_json", procedure_parameter = $"'{gv.business_branch_ids_filter_1}','{customer_id}'" });
        if (resp.IsSuccess)
        {
            data = JsonSerializer.Deserialize<List<YearlySaleRevenueModel>>(resp.Content.ToString());
            SetBarchartData();
        }
        is_loading = false;
    }

   

    void SetBarchartData()
    {
        if (data != null)
        {
            barchart_data = new BarChartModel();
            var chart_label = data.Select(r => r.cal_date.ToString("MMM")).Distinct().ToArray(); //footer

            var business_branch = (from a in data
                                   select new { a.business_branch_id, a.business_branch_name, a.color }).Distinct();
            barchart_data.label = chart_label;
            foreach (var b in business_branch)
            {
                barchart_data.data.Add(new ChartDataModel
                {
                    label = b.business_branch_name ,
                    color = b.color,
                    data = data.Where(r => r.business_branch_id == b.business_branch_id).Select(r => (double)r.total_amount).ToArray()
                });


            }


        }
    }





    

}