@inject IHttpService http
@inject NavigationManager nav

@foreach (var sp in model.active_stock_take_products)
{
    <tr>
        <TdCenter>@(model.active_stock_take_products.IndexOf(sp) + 1 )</TdCenter>
        <TdCenter>
            <Image ImageUrl="@http.ImageUrl(sp.product.photo)" data-caption="@sp.product?.product_display_name" PopupImageUrl="@http.ImageUrl(sp.product.photo)" IsLightBox="true" IsBackgroundImage="true" Width="50px" Height="50px" />
        </TdCenter>
        <td class="cust_wirth_space">
            @if (sp.product.is_ingredient_product)
            {
                <ComAuthorize roles="@gv.GetRole("product_management")" OnClick="@(()=>nav.NavigateTo($"ingredient/{sp.product.id}"))">
                    <div>@sp.product?.product_display_name <LabelIngredient is_visible="@sp.product.is_ingredient_product" /></div>
                </ComAuthorize>
            }
            else if (sp.product.is_menu_product)
            {
                <ComAuthorize roles="@gv.GetRole("product_management")" OnClick="@(()=>nav.NavigateTo($"product/{sp.product.id}"))">
                    <div>@sp.product?.product_display_name <LabelMenuProduct is_visible="sp.product.is_menu_product"/></div>
                </ComAuthorize>
            }

            @if (!string.IsNullOrEmpty(sp.note))
            {
                <div class="font-xs text-pre-wrap">@sp.note</div>
            }
        </td>
        <TdCenter>@sp.quantity.ToString(gv.quantity_format) @sp.unit</TdCenter> 
        <td class="uk-text-right">@sp.cost.ToString(gv.currency_format)</td>
        <td class="uk-text-right">@sp.total_amount.ToString(gv.currency_format)</td>
    </tr>

}

@code{
    [Parameter] public StockTakeModel model { get; set; }
    [CascadingParameter] public GlobalVariableModel gv { get; set; }

}
