@page "/modifier/new"
@page "/modifier/edit/{id:int}"
@page "/modifier/clone/{clone_id:int}"
@inherits PageCore
@inject IStringLocalizer<Resource> lang

<Loading is_loading="@(is_loading || is_loading_data)" />

@if (!is_loading && !is_error)
{
    <Title Value="@title"></Title>
    <PageContainer roles="@gv.GetRole($"{(id > 0 ? "modifier_edit" : "modifier_add")}")">
        <PageHeader>
            <HeaderLeft>
                <PageTitle ShowFilter="false">
                    <HeaderTemplate>
                        @title
                    </HeaderTemplate>
                </PageTitle>
            </HeaderLeft>
            <HeaderRight ShowBackButton="true" />
        </PageHeader>
        <EditForm Model="@modifier" OnValidSubmit="@Save_Click" @attributes="@formAttributes">
            <DataAnnotationsValidator />
            <PageBody>
                <UIGridCenter>
                    <UIContainerBox>
                        <TextInput label="@lang["Name En"]" @bind-text="@modifier.modifier_name">
                            <ValidationMessage For="@(()=>modifier.modifier_name)" />
                        </TextInput>
                        <SelectStatus @bind-selected_value="@modifier.status" />
                    </UIContainerBox>
                </UIGridCenter>
                <UIGridCenter>
                    <UIContainerBox Title="INGREDIENT">
                        <eAdmin.Pages.PageProducts.PageModifiers.ComAddIngredient model="@modifier"/>
                    </UIContainerBox>
                </UIGridCenter>
            </PageBody>
            <PageFooter>
                <FooterCenter> 
                    <ComSavingFormButton is_loading="@is_saving" is_show_save_new="true" OnSaveNew="@(()=>is_save_and_new = true)" is_show_cancel_action="true" OnCancel="@OnCancel"/>
                </FooterCenter>
            </PageFooter>
        </EditForm>
    </PageContainer>
}
else
{
    <Spinner />
}
@if (is_error)
{
    <Error title="@lang["Modifier"]">@error_text</Error>
}

@code{
    [Parameter] public int clone_id { get; set; }
    [Parameter] public int id { get; set; }
    string controller_api = "Modifier";
    ModifierModel modifier = new ModifierModel();

    bool is_save_and_new = false;
    protected override async Task OnInitializedAsync()
    {
        is_loading = true;
        await LoadData();
    }


    async Task LoadData()
    {
        is_loading = true;
        if (clone_id > 0 || id > 0)
        {
            var resp = await http.ApiGet($"{controller_api}({(id != 0 ? id : clone_id)})?$expand=modifier_ingredients($expand=ingredient,unit)");
            if (resp.IsSuccess)
            {
                modifier = JsonSerializer.Deserialize<ModifierModel>(resp.Content.ToString());
            }
            if (clone_id > 0)
            {
                title = $"Clone : {modifier.modifier_name}";
            }
            else
            {
                title = $"Edit : {modifier.modifier_name}";
            }
        }
        else
        {
            title = lang["Add New Modifier"];
            modifier = new ModifierModel();
        }
        is_loading = false;
    }

    async Task Save_Click()
    {
        is_saving = true;
        Console.WriteLine(JsonSerializer.Serialize(modifier));

        ModifierModel save_model = JsonSerializer.Deserialize<ModifierModel>(JsonSerializer.Serialize(modifier));
        if (clone_id > 0)
        {
            save_model.id = 0;
            save_model.created_date = DateTime.Now;
            save_model.created_by = gv.current_login_user.full_name;
        }

        //save_model.product_modifiers.Where(r => r.product_id > 0).ToList().ForEach(r=>r.product = null);
        save_model.modifier_ingredients.Where(r=>r.ingredient_id > 0).ToList().ForEach(r => r.ingredient = null);
        save_model.modifier_ingredients.ForEach(r => r.modifier = null);
        save_model.modifier_ingredients.ForEach(r => r.unit = null);
        Console.WriteLine(JsonSerializer.Serialize(save_model));
        var resp = await http.ApiPost("Modifier/Save", save_model);
        if (resp.IsSuccess)
        {
            toast.Add("Save Modifier successfully", MatToastType.Success);
            save_model = JsonSerializer.Deserialize<ModifierModel>(resp.Content.ToString());
            if (is_save_and_new)
            {
                modifier = new ModifierModel();
                modifier.modifier_ingredients = new List<ModifierIngredientModel>();
                nav.NavigateTo("modifier/new");
                await LoadData();
            }
            else
            {
                nav.NavigateTo("modifier/" + save_model.id);
            }
        }
        else {
            toast.Add(lang["Save modifier fail."], MatToastType.Warning);
        }
        is_saving = false;
    }

    void OnCancel() {
        if (id > 0)
        {
            nav.NavigateTo("modifier/" + id);
        }else
        {
            nav.NavigateTo("modifier");
        }

    }
}
