@inject IStringLocalizer<Resource> lang
@if (sale_product != null)
{
    <Column ClassName="font-xs text-pre-wrap" is_visible="@(!string.IsNullOrEmpty(sale_product.portion_name))">
        @if (sale_product.portion_name != "Normal")
        {
            <span style="color:#1e87f0" uk-tooltip="@lang["Product Portion"]">
                @sale_product.portion_name
            </span>
        }
    </Column>
    <ComSaleDetail_SaleProductModifierList sale_product_modifiers="@sale_product.sale_product_modifiers" />
    <Column ClassName="font-xs text-pre-wrap" is_visible="@(!string.IsNullOrEmpty(sale_product.note))"><Icon icon="note" icon_color="#585858" size="12px" title="@lang["Note"]" /> @sale_product.note</Column>
    <Column ClassName="font-xs text-pre-wrap" is_visible="@(!string.IsNullOrEmpty(sale_product.created_by))"><Icon icon="person" icon_color="#585858" size="12px" title="@lang["Order by"]" /> @sale_product.created_by @lang["On_Hour"] @sale_product.created_date.ToString(gv.date_time_format)</Column>
    @if (sale_product.is_park == true)
    {
<Column ClassName="font-xs text-pre-wrap" is_visible="@(!string.IsNullOrEmpty(sale_product.park_note))">
    <Icon icon="note" icon_color="#585858" size="12px" title="@lang["Park note"]" /> @lang["Park note"]: @sale_product.park_note
</Column>
        <Column ClassName="font-xs text-pre-wrap">
            @lang["Park expire on"] @sale_product?.park_expired_date.Value.ToString(gv.date_format)
        </Column>
    }



}

@code {

    [CascadingParameter] public GlobalVariableModel gv { get; set; }
    [Parameter] public SaleProductModel sale_product { get; set; }
}
