@inject IHttpService http
@inject NavigationManager nav

@foreach (var sp in sale.active_sale_products)
{
    <tr>
        <TdCenter>@(sale.active_sale_products.IndexOf(sp) + 1)</TdCenter>
        <TdCenter>
            <Image ImageUrl="@http.ImageUrl(sp.product.photo)" data-caption="@sp.product?.product_display_name" PopupImageUrl="@http.ImageUrl(sp.product.photo)" IsLightBox="true" IsBackgroundImage="true" Width="50px" Height="50px" />
        </TdCenter>
        <td class="cust_wirth_space">
            <ComAuthorize roles="@gv.GetRole("product_management")" OnClick="@(()=>nav.NavigateTo($"product/{sp.product_id}"))">
                <div>@sp.product_display_name <br /> @sp.product_name_kh</div>
            </ComAuthorize>
            <ComSaleDetail_SaleProductMoreInformation sale_product="@sp"/>
        </td>
        <TdCenter>@sp.quantity.ToString(gv.quantity_format)</TdCenter>
        <TdCenter>@sp.unit</TdCenter>
        <td class="uk-text-right">@sp.total_price.ToString(gv.currency_format)</td>
        <td class="uk-text-right">
            @if (sp.sale_product_discount_value <= 0)
            {
                <span>-</span>
            }
            else if (sp.sale_product_discount_type == "Percent")
            {
                <span>@((sp.sale_product_discount_value / 100).ToString("00.## %"))</span>
            }
            else
            {
                <span>@sp.sale_product_discount_amount.ToString(gv.currency_format)</span>
            }
        </td>
        <td class="uk-text-right">
            @((sp.sub_total - sp.sale_product_discount_amount).ToString(gv.currency_format))
        </td>
    </tr>

}

@code{
    [Parameter] public SaleModel sale { get; set; }
    [CascadingParameter] public GlobalVariableModel gv { get; set; }

}
