@page "/receiptlist/sale/{id:guid}"
@page "/sale/{id:guid}"
@inherits ComSaleDetailBase


<Loading is_loading="@(is_loading || is_loading_data)" />

@if (!is_loading && is_error == false)
{
    <Title Value="@($"{lang["Receipt"]}: {sale.document_number}")"></Title>

    <PageContainer>
        <PageHeader>
            <HeaderLeft>
                <PageTitle ShowFilter="false">
                    <HeaderTemplate>
                        @if (sale.document_number == "New")
                        {
                            @sale.sale_number
                        }
                        else
                        {
                            @sale.document_number
                        }

                        <ComSaleStatus sale="@sale" />
                        <LabelSaleType Text="@sale.sale_type" />
                    </HeaderTemplate>
                </PageTitle>
            </HeaderLeft>
            <HeaderRight ShowBackButton="true">
                <MudHidden Breakpoint="Breakpoint.SmAndDown">
                    <Button icon="print" OnClick="@PrintReceipt"></Button>
                </MudHidden>
                <RefreshButton OnClick="@OnRefresh" />
                <MudHidden Breakpoint="Breakpoint.MdAndUp">
                    <MoreButton>
                        <MoreButtonItem icon="print" OnClick="@PrintReceipt">@lang["Print"]</MoreButtonItem>
                    </MoreButton>
                </MudHidden>
            </HeaderRight>
        </PageHeader>
        <PageBody>
            <MudTabs PanelClass="pa-6">
                <MudTabPanel Text="@lang["Invoice"]" Class="py-2">
                    <ComPage>
                        <ComSaleDetailInvoiceHeader sale="@sale" />
                        <Spacing Number="20" />
                        <div class="invoice-sub-title">@lang["Products Sold"]</div>
                        <table class="view_table uk-table uk-table-small uk-table-divider table-bordered table-invoice uk-margin-remove">
                            <thead>
                                <tr>
                                    <ThCenter>@lang["No"]</ThCenter>
                                    <ThCenter>@lang["Image"]</ThCenter>
                                    <th class="col-auto">@lang["Description"]</th>
                                    <th class="uk-text-center">@lang["QTY"]</th>
                                    <th class="uk-text-center">@lang["Unit"]</th>
                                    <th class="uk-text-right">@lang["Price"]</th>
                                    <th class="uk-text-right">@lang["Dis."]</th>
                                    <th class="uk-text-right">@lang["Amount"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ComSaleDetailInvoiceBody sale="@sale" />
                            </tbody>
                            <tfoot>
                                <ComSaleDetailInvoiceFooter sale="@sale" />
                            </tfoot>
                        </table>
                        <Spacing Number="15" />
                        <ComSaleDetailFooterInformation sale="@sale" />
                    </ComPage>
                </MudTabPanel>
                @if (sale.sale_status.status_name != "Open Order" && sale.sale_status.status_name != "Hold Order")
                {
                    <MudTabPanel Text="@lang["Payment"]" OnClick="@ShowPaymentHistory">
                            @if (is_show_payment_history)
                            {
                                <ComSaleDetail_PaymentList sale_id="@sale.id" on_reload="LoadData" />
                            }
                    </MudTabPanel>
                }
            <MudTabPanel OnClick="@ShowComment" Text="@lang["Comment and History"]">
                @if (is_show_comment)
                {
                    <ComHistory ApiFilter="@($"sale_id  eq {id}")"
                                history="@history" />
                }
            </MudTabPanel>
        </MudTabs>
                <div class="spacing40"></div>
        </PageBody>
    </PageContainer>
   
}

@if (is_error)
{
    <Error title="@lang["Sale Detail"]">
        @error_text
    </Error>
}

