@if (is_visible)
{
    if (roles == "")
    {

        @if (uk_toggle != "")
        {
            <button class=" uk-button-primary uk-button-@class_name" @onclick="OnClick" uk-tooltip="@title" type="@type" uk-toggle="target: @uk_toggle" disabled="@disabled">
                <Icon icon="add" />
                @ChildContent
            </button>

        }
        else
        {
            if (url != "")
            {
                <a class="uk-button uk-button-primary uk-button-@class_name" uk-tooltip="@title" href="@url">
                    <Icon icon="add" />
                    @ChildContent
                </a>
            }
            else
            {
                <button class="uk-button uk-button-primary uk-button-@class_name" @onclick="OnClick" uk-tooltip="@title" type="@type" disabled="@disabled">
                    <Icon icon="add" />
                    @ChildContent
                </button>
            }
        }
    }
    else
    {
        <AuthorizeView Roles="@roles">
            @if (uk_toggle != "")
            {
                <button class="uk-button uk-button-primary uk-button-@class_name" @onclick="OnClick" uk-tooltip="@title" type="@type" uk-toggle="target: @uk_toggle" disabled="@disabled">
                    <Icon icon="add" />
                    @ChildContent
                </button>
            }
            else
            {
                @if (url != "")
                {
                    <a class="uk-button uk-button-primary uk-button-@class_name" uk-tooltip="@title" href="@url">
                        <Icon icon="add" />
                        @ChildContent
                    </a>
                }
                else
                {
                    <button class="uk-button uk-button-primary uk-button-@class_name" @onclick="OnClick" uk-tooltip="@title" type="@type" disabled="@disabled">
                        <Icon icon="add" />
                        @ChildContent
                    </button>
                }

            }
        </AuthorizeView>
    }
}






@code{
    [Parameter] public string title { get; set; }
    [Parameter] public string uk_toggle { get; set; } = "";
    [Parameter] public string roles { get; set; } = "";
    [Parameter] public bool is_visible { get; set; } = true;
    [Parameter] public string type { get; set; } = "button";
    [Parameter] public string class_name { get; set; } = "primary";
    [Parameter] public string url { get; set; } = "";
    [Parameter] public bool disabled { get; set; } = false;
    [Parameter] public bool spinning { get; set; } = false;

    [Parameter] public RenderFragment ChildContent { get; set; }

    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }


}