@if (roles == "")
{
    @if (label != "")
    {
        @if (label_inline)
        {
            <div class="uk-margin-small">
                <label class="uk-form-label cp">

                    @if (!is_read_only)
                    {
                        <input @onchange="@((ui) =>valueChange((bool)ui.Value))" class="uk-checkbox" type="checkbox" checked="@value"> @label
                    }
                    else
                    {
                        <input disabled @onchange="@((ui) =>valueChange((bool)ui.Value))" class="uk-checkbox" type="checkbox" checked="@value"> @label
                    }
                </label>
            </div>
        }
        else
        {
            <div class="uk-margin-small">
                <label class="uk-form-label cp" for="@id">@label</label>
                <div class="uk-form-controls">

                    @if (!is_read_only)
                    {
                        <input @onchange="@((ui) =>valueChange((bool)ui.Value))" id="@id" class="uk-checkbox" type="checkbox" checked="@value">
                    }
                    else
                    {
                        <input disabled @onchange="@((ui) =>valueChange((bool)ui.Value))" id="@id" class="uk-checkbox" type="checkbox" checked="@value">
                    }
                </div>
            </div>
        }
    }
    else
    {
        if (!is_read_only)
        {
            <input @onchange="@((ui) =>valueChange((bool)ui.Value))" class="uk-checkbox" type="checkbox" checked="@value">
        }
        else
        {
            <input disabled @onchange="@((ui) =>valueChange((bool)ui.Value))" class="uk-checkbox" type="checkbox" checked="@value">
        }

    }

}
else
{
    <AuthorizeView Roles="@roles">
        <Authorized>
            @if (label != "")
            {
                @if (label_inline)
                {
                    <div class="uk-margin-small">
                        @if (!is_read_only)
                        {
                            <label class="uk-form-label cp uk-margin-remove-top"><input @onchange="@((ui) =>valueChange((bool)ui.Value))" class="uk-checkbox" type="checkbox" checked="@value"> @label</label>
                        }
                        else
                        {
                            <label disabled class="uk-form-label cp uk-margin-remove-top"><input @onchange="@((ui) =>valueChange((bool)ui.Value))" class="uk-checkbox" type="checkbox" checked="@value"> @label</label>
                        }

                    </div>
                }
                else
                {
                    <div class="uk-margin-small">
                        <label class="uk-form-label uk-margin-remove-top cp" for="@id">@label</label>
                        <div class="uk-form-controls">
                            @if (!is_read_only)
                            {
                                <input @onchange="@((ui) =>valueChange((bool)ui.Value))" id="@id" class="uk-checkbox" type="checkbox" checked="@value">
                            }
                            else
                            {
                                <input disabled @onchange="@((ui) =>valueChange((bool)ui.Value))" id="@id" class="uk-checkbox" type="checkbox" checked="@value">
                            }

                        </div>
                    </div>
                }
            }
            else
            {
                <input @onchange="@((ui) =>valueChange((bool)ui.Value))" id="@id" class="uk-checkbox" type="checkbox" checked="@value">
            }
        </Authorized>
        <NotAuthorized>
            @if (label != "")
            {
                @if (label_inline)
                {
                    <div class="uk-margin-small uk-margin-remove-top">
                        <label class="cp"><input disabled class="uk-checkbox" type="checkbox" checked="@value" @onchange="@((ui) =>valueChange((bool)ui.Value))">@label</label>
                    </div>
                }
                else
                {
                    <div class="uk-margin-small">
                        <label class="uk-form-label uk-margin-remove-top cp" for="@id">@label</label>
                        <div class="uk-form-controls">
                            <input disabled class="uk-checkbox" checked="@value" @onchange="@((ui) =>valueChange((bool)ui.Value))" type="checkbox" id="@id">
                        </div>
                    </div>
                }

            }
            else
            {
                <input disabled class="uk-checkbox" checked="@value" @onchange="@((ui) =>valueChange((bool)ui.Value))" type="checkbox" id="@id">
            }

        </NotAuthorized>
    </AuthorizeView>
}

@code {
    [Parameter] public string roles { get; set; } = "";
    [Parameter] public string label { get; set; } = "";
    [Parameter] public bool value { get; set; } = false;
    [Parameter] public bool label_inline { get; set; } = false;
    [Parameter] public bool is_read_only { get; set; } = false;
    Guid id = Guid.NewGuid();

    [Parameter] public EventCallback<bool> valueChanged { get; set; }
    private async Task valueChange(bool _value)
    {
        await valueChanged.InvokeAsync(_value);
    }
}
