@inherits LayoutComponentBase
@layout MainLayout
@inject IHttpService http;
@inject IDialogService Dialog;
@inject NavigationManager nav;

 <MudToolBar DisableGutters="true" Class="mx-4">
    <MudText Typo="Typo.h5" Color="MudBlazor.Color.Primary">eKnowledge Base</MudText>
</MudToolBar>
<MudDivider Class="mb-4"/>

<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <MudPaper Elevation="25" Class="d-flex align-center py-1 mb-4">
        <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="MudBlazor.Color.Inherit" Class="ml-3 mr-2" />
        <MudText Typo="Typo.subtitle1" Color="MudBlazor.Color.Primary" >Business Branch</MudText>
    </MudPaper>
</MudHidden>
<div class="d-flex flex-grow-1 flex-row ma-4">
 <PageContainer>
     <MudHidden Breakpoint="Breakpoint.SmAndDown">
        <MudPaper Elevation="25" Class="px-3 py-6 mr-6" MinWidth="250px">

         <!--<MudTextField @bind-Value="TextValue" Variant="Variant.Outlined" Margin="Margin.Dense" Placeholder="Search"/>-->

           <div class="d-flex d-flex justify-space-between align-center">
               <MudText Typo="Typo.subtitle1" Color="MudBlazor.Color.Primary" >Add Eknowledge Base</MudText>
               <div><MudIconButton Icon="@Icons.Material.Filled.Add" Class="d-flex ml-auto" OnClick="@AddNewEknowledgeParent"/></div>
           </div>
           <MudDivider />


            <MudList Clickable="true" @bind-SelectedItem="selectedItem">
                
                @foreach (var p in eknowledgebase)
                {
                        @if (p.children.Any())
                        {
                            <MudListItem Text="@(p.title_en)">
                               <NestedList>
                                    @foreach (var sp in p.children){
                                       <MudListItem Text="@sp.title_en" Href="@($"eknowledgebase/{sp.id}")"/>
                                    }
                               </NestedList>
                       </MudListItem>
                        }
                        else
                        {
                             <MudListItem Text="@(p.title_en)">
                                 
                             </MudListItem>

                        }
                   
                }
            </MudList>
        </MudPaper>
    </MudHidden>
    <MudPaper Elevation="25" Class="flex-grow-1 pb-4">
       @Body
    </MudPaper>

</PageContainer>
        
</div>








    @code{
    [Parameter] public string parent_id { get; set; }
    public List<eKnowledgeBaseModel> eknowledgebase = new List<eKnowledgeBaseModel>();
    bool is_loading;
    bool is_saving;
    string TextValue { get; set; }
    MudListItem selectedItem;
     protected override async Task OnInitializedAsync()
        {
             is_loading = true;
              await LoadData();
        
        is_loading = false;
        }

        async Task LoadData(){

            var url = "eKnowledgeBase?$filter=parent_id eq null &$expand=children &$orderby= sort_order desc";
            var resp = await http.ApiGetOData(url);
            if(resp.IsSuccess){
                eknowledgebase = JsonSerializer.Deserialize<List<eKnowledgeBaseModel>>(resp.Content.ToString());
                nav.NavigateTo($"eknowledgebase/{eknowledgebase.FirstOrDefault().children.FirstOrDefault().id}");
            }

        }

        async Task AddNewEknowledgeParent()
       {
           
            var parameters = new DialogParameters { ["model"]= new eKnowledgeBaseModel()};
            var dialog = Dialog.Show<ComAddEknowledgeBase>("Add New Eknowledge Base",parameters);
            var result = await dialog.Result;
             if (!result.Cancelled)
            {
                eknowledgebase.Add((eKnowledgeBaseModel)result.Data);
            }

       }


    }
 