@inherits LayoutComponentBase
@inject NavigationManager nav;
<Loading is_loading="@state.is_loading" />
@if(!state.is_loading){ 
if(state.is_logined ){ 
    <MudLayout>
    <MudAppBar Elevation="4">
        <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="MudBlazor.Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <MudText Typo="Typo.h6" Class="ml-4">eSoftix System</MudText>
        </MudHidden>
        <MudAppBarSpacer />
        <ComGlobalSearch/>
        <MudAppBarSpacer />
        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <MudIconButton Icon="@Icons.Material.Outlined.Brightness4" Color="MudBlazor.Color.Inherit" Edge="Edge.Start" OnClick="@ChangeTheme" />
            <MudMenu Icon="@Icons.Material.Filled.Add" Color="MudBlazor.Color.Inherit" >
                <MudMenuItem>New Customer</MudMenuItem>
                <MudMenuItem>New Project</MudMenuItem>
            </MudMenu>
            <MudMenu Direction="Direction.Left" OffsetX="true" Dense="true" Class="mt-1 ml-4">
                <ActivatorContent>
                    <MudAvatar Image="@(http.ImageUrl(state.current_login_user?.photo))" />
                </ActivatorContent>
                <ChildContent>
                    <ComUserDisplay Class="mt-n2" />
                    <MudDivider Class="mb-2" />
                    <MudListItem Text="Account" Icon="@Icons.Material.Outlined.Person" Href="user/profile" />
                    <MudListItem Text="Logout" Icon="@Icons.Material.Outlined.Login" Href="auth/logout" />
                </ChildContent>
            </MudMenu>
        </MudHidden>
        <MudHidden Breakpoint="Breakpoint.MdAndUp">
             <MudIconButton Icon="@Icons.Material.Outlined.MoreVert" Color="MudBlazor.Color.Inherit" Edge="Edge.End" OnClick="@ToggleDrawer_modile" />
        </MudHidden>
    </MudAppBar>

  




    <MudDrawer @bind-Open="_drawerOpen" Elevation="25" ClipMode="DrawerClipMode.Always">
        <NavMenu />
    </MudDrawer>
        <MudDrawer @bind-Open="@is_open" Elevation="1" ClipMode="DrawerClipMode.Always" Variant="@DrawerVariant.Temporary" Anchor="Anchor.Right">
            <MudDrawerHeader Style="padding:0px;">
                  <ComUserDisplay Style="background-color: var(--mud-palette-drawer-background);color: var(--mud-palette-drawer-text);"/>
            </MudDrawerHeader>
             <MudDivider Style="margin-top:0px!important;"/>
                   <MudList>
                    <MudListItem Icon="@Icons.Material.Filled.Brightness4"  OnClick="@ChangeTheme" IconColor="MudBlazor.Color.Inherit">
                       Dark Mode
                    </MudListItem>
               
                </MudList>
              
            <MudNavMenu>
               <MudNavGroup Title="Quick Add" Icon="@Icons.Material.Outlined.Add" Expanded="true">
                <MudNavLink Href="/users" Icon="@Icons.Material.Filled.Person" IconColor="MudBlazor.Color.Default">New Customer</MudNavLink>
                <MudNavLink Href="/security" Icon="@Icons.Material.Filled.WorkspacesFilled" IconColor="MudBlazor.Color.Default">New Project</MudNavLink>
            </MudNavGroup>
            </MudNavMenu>
            <div style="height:20px;"></div>
           <div style="text-align:center;">
            <MudButton Link="auth/logout"
                       Variant="Variant.Filled"
                       EndIcon="@Icons.Material.Outlined.Login"
                       Color="MudBlazor.Color.Primary" FullWidth="false" Style="width:200px;">
               Logout
            </MudButton>
          </div>
        </MudDrawer>
    <MudMainContent Class="mb-8 pb-8">
       
            @Body
        
    </MudMainContent>
</MudLayout>

}else
{
    @Body
}
}
<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <MudScrollToTop>
        <MudFab Color="MudBlazor.Color.Primary" Icon="@Icons.Filled.ArrowCircleUp" />
    </MudScrollToTop>
</MudHidden>
 <MudThemeProvider Theme="state.current_theme" />

 @code{
     bool is_open;
    
    void ToggleDrawer_modile()
    {
        is_open = !is_open;
    }
 }