@if (roles == "")
{
    <li class="uk-parent">
        <a class="nav-link">
        <i class="material-icons">@icon</i><span class="sidemenu_title">@parent_menu_text</span>
        </a>
        <ul class="uk-nav-sub">
            @ChildContent
        </ul>
    </li>

}
else
{
    <AuthorizeView Roles="@roles">
        <li class="uk-parent">
            <a class="nav-link"><i class="material-icons">@icon</i><span class="sidemenu_title">@parent_menu_text</span></a>
            <ul class="uk-nav-sub">
                @ChildContent
            </ul>
        </li>

    </AuthorizeView>
}


@code{

    [Parameter] public string tool_tip { get; set; } = "";
    [Parameter] public string parent_menu_text { get; set; } = "";

    [Parameter] public string icon { get; set; } = "";
    [Parameter] public string roles { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }

}