@page "/dashboard"
@inherits PageCore

<Loading is_loading="@is_loading"/>
<Title Value="Dashboard"></Title>
<PageContainer roles=@gv.GetRole("dashboard_management")>
    <PageHeader>
        <HeaderLeft>
            <PageTitle ShowFilter="false">
                <HeaderTemplate>
                    Dashboard 
                </HeaderTemplate>
            </PageTitle>
        </HeaderLeft>
        <HeaderRight>
             <RefreshButton OnClick="@(async()=>await LoadData())" />
        </HeaderRight>
    </PageHeader>
    <PageBody class_card="no-card-dashboard">
        <div class="uk-grid-small" uk-grid uk-height-match="target: > div > .bg_kpi">
            <Column ClassName="uk-width-1-4">
                <ComKpi Value="@(500.ToString())" Label="All Customer"/>
            </Column>
            <Column ClassName="uk-width-1-4">
                <ComKpi Value="@(500.ToString())" Label="All Project" />
            </Column>
            <Column ClassName="uk-width-1-4">
                <ComKpi Value="@(500.ToString())" Label="New Customer (MTD)" />
            </Column>
            <Column ClassName="uk-width-1-4">
                <ComKpi Value="@(500.ToString())" Label="New Project (MTD)" />
            </Column>
            <Column ClassName="uk-width-1-4">
                <ComKpi Value="@(500.ToString())" Label="Active Project" />
            </Column>
            <Column ClassName="uk-width-1-4">
                <ComKpi Value="@(500.ToString())" Label="Today Expired Station" />
            </Column>
            <Column ClassName="uk-width-1-4">
                <ComKpi Value="@(500.ToString())" Label="This Week Expired" />
            </Column>
            <Column ClassName="uk-width-1-4">
                <ComKpi Value="@(500.ToString())" Label="This Month" />
            </Column>
        </div>
            
    </PageBody>
</PageContainer>

@code{

    async Task LoadData()
    {
        is_loading = true;
        await Task.Delay(500);
        is_loading = false;
    }
}