@inject IStringLocalizer<Resource> lang
@if (is_visible)
{
    if (is_loading)
    {
        <label class="uk-label active"> <Spinner /></label>

    }
    else
    {


        if (roles == "")
        {
            <label class="uk-label active @ClassName" @onclick="@OnClick"><Icon icon="@IconName" is_visible="@(!string.IsNullOrEmpty(IconName))" />@lang["Active"]</label>
        }
        else
        {
            <AuthorizeView Roles="@roles">
                <Authorized>
                    <label class="uk-label active @ClassName" @onclick="@OnClick"><Icon icon="@IconName" is_visible="@(!string.IsNullOrEmpty(IconName))" /> @lang["Active"]</label>
                </Authorized>
                <NotAuthorized>
                    <label class="uk-label active @ClassName"><Icon icon="@IconName" is_visible="@(!string.IsNullOrEmpty(IconName))" />@lang["Active"]</label>
                </NotAuthorized>
            </AuthorizeView>

        }
    }
}


@code
{
    [Parameter] public bool is_visible { get; set; } = true;
    [Parameter] public bool is_loading { get; set; } = false;
    [Parameter] public string roles { get; set; } = "";
    [Parameter] public string ClassName { get; set; } = "";
    [Parameter] public string IconName { get; set; } = "";
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }

}
