<UIContainerBox Title="Modifiers">
    <ModifierTypeahead @bind-modifier="@modifier" />
    <hr/>
    <table class="uk-table  view_table set-verticle-middle uk-table-small uk-table-striped uk-table-hover">
        <tr>
            <Th>Modifier Name</Th>
            <ThCenter>Price</ThCenter>
            <ThCenter></ThCenter>
        </tr>
        @foreach(var pm in model.product_modifiers.Where(r=>r.is_deleted == false))
        {
            <tr>
                <td>
                    @pm.modifier.modifier_name 
                </td>
                <TdCenter>
                    <NumberInput placeholder="Price" @bind-text="@pm.price" width="100px"/>
                </TdCenter>
                <TdCenter>
                    <Icon icon="delete" OnClick="@(()=>DeleteModifier(pm))" is_visible="@(pm.modifier_group_id==0)"/>
                </TdCenter>
            </tr>
        }
    </table>

</UIContainerBox>
@code{
    [Parameter] public ProductModel model { get; set; }


    private ModifierModel _modifier;

    public ModifierModel modifier
    {
        get { return _modifier; }
        set {

            if(!model.product_modifiers.Where(r=>r.is_deleted==false && r.modifier.modifier_name.Trim().ToLower().Contains(value.modifier_name.ToLower().Trim())).Any())
            {
                model.product_modifiers.Add(new ProductModifierModel() { modifier = value, modifier_id=value.id });
            }

            value = null;
            _modifier = value;
        }
    }


    void DeleteModifier(ProductModifierModel pm)
    {
        if (pm.id > 0)
        {
            pm.is_deleted = true;
        }
        else
        {
            model.product_modifiers.Remove(pm);
        }
    }


}