@page "/pricerule"
@inherits PageCore;

<Loading is_loading="@(is_loading || is_loading_data)" />

@if (!is_loading)
{
    <Title Value="@page_title"></Title>
    <PageContainer roles="@gv.GetRole("price_rule_management")">
        <PageHeader>
            <HeaderLeft>
                <PageTitle>
                    <HeaderTemplate>
                        @page_title
                    </HeaderTemplate>
                    <FilterTemplate>
                        <PageFilter title="Status">
                            <ModuleView module_views="@gv.GetModuleView("page_price_rule")" OnClick="@ViewClick" />
                        </PageFilter>
                    </FilterTemplate>
                </PageTitle>
            </HeaderLeft>
            <HeaderRight>
                <AddButton roles="@gv.GetRole("price_rule_add")" OnClick="@AddNew">New</AddButton>
                <RefreshButton OnClick="@(async()=>await LoadData())" />
                <ComSearch show_advance_filter="false" place_holder="@GetFilterValue2(filters, "keyword","")" KeywordChanged="@OnSearch"/>
            </HeaderRight>
        </PageHeader>
        <PageBody>
            <Com is_visible="@(prices != null)">
                <Table ShowCounter="true"
                       isLoading="@is_loading_data"
                       Items="@prices"
                       ShowPager="false"
                       ShowPagination="false"
                       ShowTotalCount="false"
                       EmptyText="There's no record in the system">
                    <TableHeader>
                        <Th ClassName="cp col-auto">Name</Th>
                        <Th>Status</Th>
                        <th></th>
                    </TableHeader>
                    <RowTemplate Context="p">
                        <td>
                            <ComAuthorize OnClick="@(()=>OnEdit(p.id))" roles="@gv.GetRole("price_rule_edit")">
                                @p.price_name
                            </ComAuthorize>                            
                        </td>
                        <TdCenter>     
                            <LabelDeleted is_visible="@p.is_deleted" />
                            <LabelActive is_visible="@(!p.is_deleted && p.status)" OnClick="(()=>OnToogleStatusLabel(p))" roles="@gv.GetRole("price_rule_edit")" is_loading="@p.is_change_status" />
                            <LabelInActive is_visible="@(!p.is_deleted && !p.status)" OnClick="(()=>OnToogleStatusLabel(p))" roles="@gv.GetRole("price_rule_edit")" is_loading="@p.is_change_status" />                                
                        </TdCenter>
                            <TdActions is_loading="@p.is_loading">
                                <TableActionItem roles="@gv.GetRole("price_rule_edit")" icon="edit" is_visible="@(!p.is_deleted)" OnClick="@(()=>OnEdit(p.id))">Edit</TableActionItem>
                                <TableActionItem roles="@gv.GetRole("price_rule_add")" icon="file_copy" OnClick="@(()=>Clone_Click(p.id))">Clone</TableActionItem>
                                <TableActionItem roles="@gv.GetRole("price_rule_edit")" icon="highlight_off" is_visible="@(p.status && !p.is_deleted)" OnClick="@(()=>OnToogleStatus(p))">Inactive</TableActionItem>
                                <TableActionItem roles="@gv.GetRole("price_rule_edit")" icon="check" is_visible="@(!p.status && !p.is_deleted)" OnClick="@(() => OnToogleStatus(p))">Active</TableActionItem>
                                <TableActionItem roles="@gv.GetRole("price_rule_delete")" icon="delete" is_visible="@(!p.is_deleted)" OnClick="@(() => OnDelete(p))">Delete</TableActionItem>
                                <TableActionItem roles="@gv.GetRole("price_rule_restore")" icon="refresh" is_visible="@(p.is_deleted)" OnClick="@(()=>OnRestore(p))">Restore</TableActionItem>
                            </TdActions>
                    </RowTemplate>
                </Table>
            </Com>
        </PageBody>
        @if (ShowModal)
        {
            <ComAddPriceRule Cancel_click="@(()=> { ShowModal = false;model = new PriceRuleModel();})" Save_Click="@OnSave" price="@model" modal_title="@ModalTitle" is_dialog_open="ShowModal"/>
        }
    </PageContainer>
}
@code{
    List<PriceRuleModel> prices = new List<PriceRuleModel>();
    PriceRuleModel model = new PriceRuleModel();
    List<FilterModel> filters = new List<FilterModel>();
    string page_title = "";

    bool ShowModal = false;
    string ModalTitle = "";

    string controller_api = "pricerule";
    DateTime date = DateTime.Now;
    string url = "";

    public string ControllerApi
    {
        get
        {
            return url = $"{controller_api}?&keyword={GetFilterValue2(filters, "keyword", "").ToString()}" + GetFilter(filters);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        is_loading = true;
        if (page_title == "")
        {
            page_title = "Price Rule";
            var default_view = gv.GetDefaultModuleView("page_price_rule");
            if (default_view != null)
            {
                page_title = default_view.title;
                filters = default_view.filters;
            }
        }
        await LoadData();
    }

    void AddNew()
    {
        model = new PriceRuleModel();
        ShowModal = true;
        ModalTitle = "Add New";
    }

    async Task OnEdit(int id)
    {
        is_loading_data = true;
        var resp = await http.ApiGet(controller_api + $"({id})?$expand=business_branch_prices");
        if (resp.IsSuccess)
        {
            model = JsonSerializer.Deserialize<PriceRuleModel>(resp.Content.ToString());
        }
        ModalTitle = "Edit:" + model.price_name;
        ShowModal = true;
        is_loading_data = false;
    }

    async Task Clone_Click(int id)
    {
        is_loading_data = true;
        var resp = await http.ApiGet(controller_api + $"({id})?$expand=business_branch_prices");
        if (resp.IsSuccess)
        {
            model = JsonSerializer.Deserialize<PriceRuleModel>(resp.Content.ToString());
            ShowModal = true;
            model.id = 0;
            model.created_date = DateTime.Now;
        }
        ModalTitle = "Clone:" + model.price_name;
        is_loading_data = false;
    }

    async Task ViewClick(ModuleViewModel m)
    {
        filters.Clear();
        filters = m.filters;
        page_title = m.title;
        await LoadData();
    }

    async Task LoadData(string api_url = "")
    {

        is_loading = true;
        if (string.IsNullOrEmpty(api_url))
        {
            api_url = $"{ControllerApi}";
        }
        var resp = await http.ApiGetOData(api_url);
        if (resp.IsSuccess)
        {
            prices = JsonSerializer.Deserialize<List<PriceRuleModel>>(resp.Content.ToString());
        }
        is_loading = false;
    }

    async Task OnSave()
    {
        model = new PriceRuleModel();
        ShowModal = false;
        await LoadData();
    }

    async Task OnToogleStatus(PriceRuleModel p)
    {
        p.is_loading = true;
        await SaveStatus(p);
        p.is_loading = false;
    }

    async Task OnToogleStatusLabel(PriceRuleModel p)
    {
        p.is_change_status = true;
        await SaveStatus(p);
        p.is_change_status = false;
    }

    async Task SaveStatus(PriceRuleModel p)
    {
        var price = new PriceRuleModel();
        price = p;
        price.status = !price.status;
        var resp = await http.ApiPost(controller_api + $"/status/{p.id}");
        if (resp.IsSuccess)
        {
            toast.Add("Change status successfully", MatToastType.Success);
            await LoadData();
        }
    }

    async Task OnDelete(PriceRuleModel p)
    {
        p.is_loading = true;
        if (await js.Confirm("Delete Price", "Are you sure you want to delete this record?"))
        {
            var resp = await http.ApiPost(controller_api + "/delete/" + p.id);
            if (resp.IsSuccess)
            {
                await LoadData();
            }
            toast.Add("Delete Price successfully", MatToastType.Success);
        }
        p.is_loading = false;
    }

    async Task OnRestore(PriceRuleModel p)
    {
        p.is_loading = true;
        if (await js.Confirm("Restore Price", "Are you sure you want to restore this record?"))
        {

            var resp = await http.ApiPost(controller_api + "/delete/" + p.id);

            if (resp.IsSuccess)
            {
                await LoadData();
            }
            toast.Add("Restore Price successfully", MatToastType.Success);

        }
        p.is_loading = false;
    }

    async Task OnSearch(string keyword)
    {
        SetFilterValue2(filters, "keyword", keyword);
        await LoadData();
    }
}




