@page "/productcategory"
@inject IJSRuntime js
@inherits PageCore;
<Loading is_loading="@is_loading" />
@if (!is_loading)
{
    <Title Value="Product Category & Group"></Title>
    <PageContainer roles="@gv.GetRole("product_category_group")">
        <PageHeader>
            <HeaderLeft>
                <PageTitle ShowFilter="false">
                    <HeaderTemplate>
                        Product Category & Group
                    </HeaderTemplate>
                </PageTitle>
            </HeaderLeft>
            <HeaderRight>
                <LinkButton url="productcategory/new" icon="add" background="uk-button-primary">New</LinkButton>
            </HeaderRight>
        </PageHeader>

            <PageBody>
                <UIGridCenter>

                    @foreach (var d in models.Where(r => r.is_deleted == false).ToList())
                    {
                    <div class="container-layout">
                        <div class="title-header">
                            <div class="uk-panel">
                                <div class="uk-float-left">
                                    <span>
                                        @d.product_group_en
                                    </span>
                                </div>
                                <div class="uk-float-right">
                                    <div>
                                        <td>
                                            <LabelActive OnClick="@(()=>Activebutton(d))" is_visible="@d.status" is_loading="@d.is_change_status" />
                                            <LabelInActive OnClick="@(()=>Activebutton(d))" is_visible="@(!d.status)" is_loading="@d.is_change_status" />
                                        </td>
                                        <td>
                                            <div class="uk-flex uk-flex-inline">
                                                <div style="margin-right:5px;">
                                                    <Icon icon="delete" OnClick="@(()=>click_delete(d))" />
                                                </div>
                                                <div>
                                                    <a href="@($"productcategory/edit/{d.id}")">
                                                        <Icon icon="edit" />
                                                    </a>

                                                </div>
                                            </div>
                                        </td>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <hr />
                        <div>
                            <table class="uk-table cus_hearder_table  view_table set-verticle-middle uk-table-small uk-table-striped uk-table-hover">
                                <tr>
                                    <Th>Product Category Name en</Th>
                                    <Th>Product Category Name Kh</Th>
                                </tr>

                                @foreach (var s in d.product_categories)
                                {
                                    <tr>
                                        <td>@s.product_category_en</td>
                                        <td>@s.product_category_kh </td>
                                    </tr>
                                }


                            </table>
                        </div>
                    </div>
                      

                    }



                </UIGridCenter>
            </PageBody>
    </PageContainer>
}

@code{
    List<ProductGroupModel> models = new List<ProductGroupModel>();
    List<ProductCategoryModel> product_category = new List<ProductCategoryModel>();
    string ControllerApi = "ProductGroup";

    protected override async Task OnInitializedAsync()
    {
        is_loading = true;
        await LoadData();
        is_loading = false;
    }



    async Task LoadData(string api_url = "")
    {

        is_loading_data = true;

        if (string.IsNullOrEmpty(api_url))
        {

            api_url = $"{ControllerApi}?$expand=product_categories($select=product_category_en,product_category_kh,id;$filter= is_deleted eq false)";
        }

        var resp = await http.ApiGetOData(api_url);
        if (resp.IsSuccess)
        {

            models = JsonSerializer.Deserialize<List<ProductGroupModel>>(resp.Content.ToString());

        }
        is_loading_data = false;

    }


    async Task Activebutton(ProductGroupModel b)
    {

        b.is_change_status = true;
        await Task.Delay(1000);
        b.status = !b.status;

        var resp = await http.ApiPost($"{ControllerApi}/Save", b);
        if (resp.IsSuccess)
        {
            toast.Add("Change status successfully", MatToastType.Success);
        }

        b.is_change_status = false;

    }
    async Task click_delete(ProductGroupModel d)
    {
        d.is_loading = true;
        if (await js.Confirm("Product Group", "Are you sure you want to delete this this record?", SweetAlertMessageType.question))
        {
            var resp = await http.ApiPost(ControllerApi + "/delete/" + d.id);

            if (resp.IsSuccess)
            {
                await LoadData();
                toast.Add("Delete Product Group successfully", MatToastType.Success);
            }
            else
            {
                toast.Add("Delete Product Group fail", MatBlazor.MatToastType.Warning);
            }


        }
        d.is_loading = false;
    }

}
