@page "/product/new"
@page "/product/edit/{id:int}"
@page "/product/clone/{clone_id:int}"

@inherits PageAddProductBase

<Loading is_loading="@(is_loading || is_loading_data)" />
 
@if (!is_loading && !is_error)
{

    <Title Value="@PageTitle"></Title>
    <PageContainer roles="@gv.GetRole(role_name)">
        <PageHeader>
            <HeaderLeft>
                <PageTitle ShowFilter="false">
                    <HeaderTemplate>
                        @PageTitle
                    </HeaderTemplate>

                </PageTitle>
            </HeaderLeft>
            <HeaderRight ShowBackButton="true">

            </HeaderRight>
        </PageHeader>
        <EditForm Model="@model" OnValidSubmit="@(()=>Save_Click())" @attributes="@formAttributes">
            <DataAnnotationsValidator />
            <PageBody>
                <Tab>
                    <TabHeader>
                        <TabHeaderItem>
                            Product Information
                        </TabHeaderItem>
                        <TabHeaderItem>
                            Modifired
                        </TabHeaderItem>
                    </TabHeader>
                    <TabBody>
                        <TabItem>
                            <UIGridCenter>
                                <UIContainerBox Title="Product Photo" ClassName="uk-text-center">
                                    <UIFlexCenter>
                                        <FileUpload @bind-ImageUrl="@model.photo" />
                                    </UIFlexCenter>
                                </UIContainerBox>
                                <UIContainerBox>
                                    <TextInput label="Code" text="@model.product_code">
                                    </TextInput>
                                    <TextInput label="Product Name(EN)" @bind-text="@model.product_name_en">
                                        <ValidationMessage For="@(() => model.product_name_en)" />
                                    </TextInput>
                                    <TextInput label="Product Name(KH)" @bind-text="@model.product_name_kh" />

                                    <SelectProductCategory @bind-selected_value="@model.product_category_id" show_empty="true">
                                        <ValidationMessage For="@(()=>model.product_category_id)" />
                                    </SelectProductCategory>

                                    <ComInputCheckBox @bind-value="@model.is_allow_discount" label="Allow Discount" />
                                    <ComInputCheckBox @bind-value="@model.is_allow_free" label="Allow Free" />
                                    <ComInputCheckBox @bind-value="@model.is_open_product" label="Is Opened Product" />
                                    <ComInputCheckBox @bind-value="@model.is_inventory_product" label="Is Inventory Product" />
                                    <ComInputCheckBox @bind-value="@model.is_ingredient_product" label="Is Ingredient Product" />
                                    <Com is_visible="@model.is_ingredient_product">
                                        <NumberInput label="Cost" class_name="uk-input uk-form-small" @bind-text="@model.cost" text_format="@gv.currency_format" />
                                    </Com>
                                    <SelectStatus @bind-selected_value="@model.status" />
                                </UIContainerBox>
                                <ComAddProduct_Portion model="@model" />
                                <ComAddProduct_Printer @bind-model="@model" />
                                <ComAddProduct_Menu @bind-model="@model" />
                                <UIContainerBox Title="Note">
                                    <TextInput label="" placeholder="Note" @bind-text="@model.note" type="textarea" row="2" />
                                </UIContainerBox>
                            </UIGridCenter>
                        </TabItem>
                        <TabItem>
                            <UIGridCenter>
                                <ComAddProduct_Modifier model="@model" />
                            </UIGridCenter>
                        </TabItem>
                    </TabBody>
                </Tab>
            </PageBody>
            <PageFooter>
                <FooterCenter>
                    <ComButtonLoading is_loading="@is_saving">
                        <Button icon="save" class_name="uk-button uk-button-primary button-large" roles="@gv.GetRole("product_add")" type="submit">Save</Button>
                        <Button icon="save" class_name="uk-button uk-button-primary button-large" OnClick="@(()=>is_save_and_new = true)" roles="@gv.GetRole("product_add")" type="submit">Save & New</Button>
                        <Button OnClick="@OnCancel" class_name="uk-button uk-button-danger button-large" icon="reply">Cancel</Button>
                    </ComButtonLoading>
                </FooterCenter>
            </PageFooter>
        </EditForm>
    </PageContainer>
}
else
{
    <Spinner/>
}
@if (is_error)
{
    <Error title="Product">@error_text</Error>
}
