@page "/product"
@inherits PageProductBase

<Loading is_loading="@(is_loading || is_loading_data)" />

@{
    RenderFragment HeaderTemplate(string field_name, string display_name, string ClassName = "") =>
    @<Th OnClick="@(async () => await OrderBy(field_name))" OrderBy="@(state.pager.order_by == field_name)" OrderByType="@state.pager.order_by_type" ClassName="@($"cp {ClassName}")"> @display_name</Th>;
}

@if (!is_loading)
{

    <Title Value="@lang["Products"]"></Title>
    <PageContainer roles="@gv.GetRole("product_management")">
        <PageHeader>
            <HeaderLeft>
                <PageTitle>
                    <HeaderTemplate>
                        @lang[state.page_title]
                    </HeaderTemplate>
                    <FilterTemplate>
                        <PageFilter title="@lang["Status"]">
                            <ModuleView module_views="@gv.GetModuleView("page_product")" OnClick="@ViewClick" />
                        </PageFilter>
                    </FilterTemplate>
                </PageTitle>
            </HeaderLeft>
            <HeaderRight>
                <MudHidden Breakpoint="Breakpoint.SmAndDown">
                    <AddButton roles="@gv.GetRole("product_add")" OnClick="@(()=>nav.NavigateTo("product/new"))">@lang["New Product"]</AddButton>

                </MudHidden>
                <MudHidden Breakpoint="Breakpoint.MdAndUp">
                    <AddButton roles="@gv.GetRole("product_add")" OnClick="@(()=>nav.NavigateTo("product/new"))"></AddButton>

                </MudHidden>
                <MudHidden Breakpoint="Breakpoint.SmAndDown">
                    <ComSearch place_holder="@GetFilterValue2(state.filters, "keyword","")" KeywordChanged="@OnSearch" show_advance_filter="true" OnFillterClick="@FilterClick">
                        <SelectProductGroup @bind-product_group="@state.product_group" show_empty="true" empty_text="@lang["All Product Group"]" />
                        <SelectProductCategory product_group_id="@state.product_group.id" @bind-product_category="@state.product_category" show_empty="true" empty_text="@lang["All Product Category"]" />
                    </ComSearch>
                </MudHidden>
                <RefreshButton OnClick="@(async()=>await LoadData())" />
            </HeaderRight>
        </PageHeader>
        <PageBody>
            <MudHidden Breakpoint="Breakpoint.MdAndUp">
                <ComSearch is_fullwidth="true" place_holder="@GetFilterValue2(state.filters, "keyword","")" KeywordChanged="@OnSearch" show_advance_filter="true" OnFillterClick="@FilterClick">
                    <SelectProductGroup @bind-product_group="@state.product_group" show_empty="true" empty_text="@lang["All Product Group"]" />
                    <SelectProductCategory @bind-product_category="@state.product_category" show_empty="true" empty_text="@lang["All Product Category"]" />
                </ComSearch>
            </MudHidden>
            <FilterInfo filters="@state.filters" OnRemoveFilterClick="@RemoveFilter" OnRemoveAllFilterClick="@RemoveAllFilter" />
            <Com is_visible="@(products != null)">
                <Table Items="@products"
                       PerPage="@state.pager.per_page"
                       TotalItem="@TotalRecord"
                       CurrentPage="@state.pager.current_page"
                       OnPagerChange="@SelectChange"
                       OnPageChange="@ChangePager"
                       isLoading="@is_loading_data"
                       ShowPager="true"
                       ShowCounter="true"
                       ClassName="uk-table-small uk-table-striped uk-table-hover"
                       ScrollClass="uk-overflow-auto">
                    <TableHeader>
                        <ThCenter>@lang["Image"]</ThCenter>
                        @HeaderTemplate("product_code", lang["Code"], "uk-text-center")
                        @HeaderTemplate("product_name_en", lang["Name En(Kh)"], "col-auto")
                        @HeaderTemplate("product_category/product_category_en", lang["Category"])
                        <ThCenter>@lang["Quantity"]</ThCenter>
                        <th>@lang["Unit"]</th>
                        <ThRight>@lang["Cost"]</ThRight>
                        <ThRight>@lang["Price"]</ThRight>
                        <ThRight>
                            @lang["Status"]
                        </ThRight>
                        <th class="uk-width-auto"></th>
                    </TableHeader>
                    <RowTemplate Context="p">
                        <TdCenter>
                            <Image ImageUrl="@http.ImageUrl(p.photo)" PopupImageUrl="@http.ImageUrl(p.photo)" IsLightBox="true" IsBackgroundImage="true" Width="50px" Height="50px" />
                        </TdCenter>
                        <TdCenter>
                            <a href="@($"product/{p.id}")">@p.product_code</a>
                        </TdCenter>
                        <td>
                            <a href="@($"product/{p.id}")">

                                @p.product_name_en 
                                @if (!string.IsNullOrEmpty(p.product_category_kh) && p.product_name_en != p.product_name_kh)
                                {
                                   <span>
                                       (@p.product_name_kh)
                                   </span>
                                }

                            </a>
                            <div>
                                <LabelIngredient is_visible="@p.is_ingredient_product" />
                                <LabelInventory is_visible="@p.is_inventory_product" />
                                <LabelCompositeMenu is_visible="@p.is_composite_product" />
                                <LabelProductionProduct is_visible="@p.is_production_product" />
                            </div>
                        </td>
                        <td>@p.product_category.product_category_en</td>
                        <TdCenter>
                            @p.quantity.ToString(gv.quantity_format)
                        </TdCenter>
                        <td>
                            @p.unit?.unit_name
                        </td>
                        <TdRight>
                            @p.cost.ToString(gv.currency_format)
                        </TdRight>
                        <TdRight>
                            @if (p.min_price == p.max_price)
                                {
                                <span>@p.min_price.ToString(gv.currency_format)</span>
                                }
                                else
                                {
                                <span>@p.min_price.ToString(gv.currency_format) - @p.max_price.ToString(gv.currency_format)</span>
                                }
                        </TdRight>
                        <TdRight>
                            <LabelDeleted is_visible="@p.is_deleted" />
                            <LabelActive is_visible="@(!p.is_deleted && p.status)" OnClick="(()=>OnToogleStatusLabel(p))" roles="@gv.GetRole("product_edit")" is_loading="@p.is_change_status" />
                            <LabelInActive is_visible="@(!p.is_deleted && !p.status)" OnClick="(()=>OnToogleStatusLabel(p))" roles="@gv.GetRole("product_edit")" is_loading="@p.is_change_status" />
                            <LabelProductInventoryStatus product="@p" is_product_model="true" />
                        </TdRight>
                        <TdActions is_loading="@p.is_loading">
                            <TableActionItem icon="visibility" is_visible="@(!p.is_deleted)" url="@($"product/{p.id}")">@lang["View"]</TableActionItem>
                            <TableActionItem roles="@gv.GetRole("product_edit")" icon="edit" is_visible="@(!p.is_deleted)" OnClick="@(()=>OnEdit(p.id))">@lang["Edit"]</TableActionItem>
                            <TableActionItem roles="@gv.GetRole("product_add")" icon="file_copy" OnClick="@(()=>Clone_Click(p.id))">@lang["Clone"]</TableActionItem>
                            <TableActionItem roles="@gv.GetRole("product_edit")" icon="highlight_off" is_visible="@(p.status && !p.is_deleted)" OnClick="@(()=>OnToogleStatus(p))">@lang["Inactive"]</TableActionItem>
                            <TableActionItem roles="@gv.GetRole("product_edit")" icon="check" is_visible="@(!p.status && !p.is_deleted)" OnClick="@(() => OnToogleStatus(p))">@lang["Active"]</TableActionItem>
                            <TableActionItem roles="@gv.GetRole("product_delete")" icon="delete" is_visible="@(!p.is_deleted)" OnClick="@(() => OnDelete(p))">@lang["Delete"]</TableActionItem>
                            <TableActionItem roles="@gv.GetRole("product_restore")" icon="refresh" is_visible="@(p.is_deleted)" OnClick="@(()=>OnRestore(p))">@lang["Restore"]</TableActionItem>
                        </TdActions>
                    </RowTemplate>
                </Table>
            </Com>
        </PageBody>
    </PageContainer>
}

