@page "/productprinter"
@inherits PageProductPrinterBase

<Loading is_loading="@(is_loading || is_loading_data)" />
@if (!is_loading)
{
    @if (!is_error)
    {
        @if (model.printers != null)
        {
            <Title Value="@(lang["Product Price Adjustment"])"></Title>
            <PageContainer roles="@gv.GetRole("product_printer")">
                <PageHeader>
                    <HeaderLeft>
                        <PageTitle ShowFilter="false">
                            <HeaderTemplate>
                                @lang["Product Printer Assignment"]
                            </HeaderTemplate>
                        </PageTitle>
                    </HeaderLeft>
                    <HeaderRight ShowBackButton="true">
                        <MudHidden Breakpoint="Breakpoint.SmAndDown">
                            <ComSearch @bind-Keyword="@keyword" show_advance_filter="false" />
                        </MudHidden>
                        <RefreshButton OnClick="@(async()=>await LoadData())" />
                    </HeaderRight>
                </PageHeader>
                <MudHidden Breakpoint="Breakpoint.MdAndUp">
                    <ComSearch @bind-Keyword="@keyword" show_advance_filter="false" is_fullwidth="true" />
                    <Spacing Number="4" />
                </MudHidden>
                <PageBody>
                    <UIGridCenter>
                        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
                            @foreach (var b in gv.business_branch_by_role)
                            {
                                <MudTabPanel Text="@b.business_branch_name_en">
                                    <MudExpansionPanels MultiExpansion="true">
                                        @foreach (var c in model.categories)
                                        {
                                            if (c.product.Where(r => r.p_name.Trim().ToLower().Contains(keyword.Trim().ToLower())).Any())
                                            {

                                                <MudExpansionPanel Class="mb-4" Text="@($"{c.product_category_en}")">
                                                    <ComProductPrinterAdjustment business_branch_id="@b.id.ToString()" category="@c" printers="@model.printers" keyword="@keyword" OnCheckChanged="OnCheckChanged"/>
                                                </MudExpansionPanel>
                                            }
                                        }
                                    </MudExpansionPanels>
                                </MudTabPanel>
                            }
                        </MudTabs>


                    </UIGridCenter>

                </PageBody>


            </PageContainer>
        }

    }
    else
    {
        <Error title="@lang["Product Printer Adjustment"]">@error_text</Error>
    }

}
