@page "/happyhour/new"
@page "/happyhour/edit/{id:guid}"

@inherits PageAddEditDiscountPromotionBase


<Loading is_loading="@(is_loading || is_loading_data)" />
 
    @if (!is_loading)
    {
        @if (!is_error)
        {
            <Title Value="@PageTitle"></Title>
            <PageContainer roles="@gv.GetRole(role_name)">
                <PageHeader>
                    <HeaderLeft>
                        <PageTitle ShowFilter="false">
                            <HeaderTemplate>
                                @PageTitle
                            </HeaderTemplate>
                        </PageTitle>
                    </HeaderLeft>
                    <HeaderRight ShowBackButton="true">

                    </HeaderRight>
                </PageHeader>
                <EditForm Model="@model" OnValidSubmit="@(() => OnSaveClick())" @attributes="@formAttributes">
                    <DataAnnotationsValidator />
                    <PageBody>

                        <UIGridCenter>
                            <UIContainerBox Title="">
                                <MudSelect T="Guid" Label="@lang["Business Branch"]" AnchorOrigin="Origin.BottomCenter" @bind-Value="@(model.business_branch_id)">
                                    @foreach (var b in gv.business_branch_by_role)
                                    {
                                        <MudSelectItem Value="@b.id">
                                            @b.business_branch_name_en
                                        </MudSelectItem>
                                    }
                                </MudSelect>
                                <MudTextField @bind-Value="@model.title" Label="@lang["Title"]" Variant="Variant.Text"></MudTextField>                                 
                                    <MudCheckBox Style="margin-top:5px" Label="@lang["Base on Hour"]" @bind-Checked="@model.is_base_on_hour" Color="MudBlazor.Color.Secondary"></MudCheckBox>                                   

                                    <MudGrid  Style="margin-top:5px">
                                        <MudItem xs="6"> 
                                            <MudDatePicker PickerVariant="PickerVariant.Dialog" Color="MudBlazor.Color.Secondary" Rounded="true" Label="Start Date" @bind-Date="@model.start_date"/>
                                            <MudDatePicker PickerVariant="PickerVariant.Dialog" Color="MudBlazor.Color.Secondary" Rounded="true" Label="End Date"  @bind-Date="@model.end_date" />
                                        </MudItem>
                                        <MudItem xs="6">                                          
                                                <MudTimePicker  Label="Start Time" AmPm="true" Color="MudBlazor.Color.Secondary" @bind-Time="start_time" Disabled="@(!model.is_base_on_hour)" ReadOnly="@(!model.is_base_on_hour)" />
                                                <MudTimePicker  Label="End Time" AmPm="true" Color="MudBlazor.Color.Secondary" @bind-Time="end_time" Disabled="@(!model.is_base_on_hour)" ReadOnly="@(!model.is_base_on_hour)" />
                                        </MudItem>
                                    </MudGrid>

                                    <MudTextField T="string" Label="Description" Variant="Variant.Text" @bind-Text="@model.description" Lines="3" />

                                    <MudDivider />
                                   
                                        <table class="uk-table cus_hearder_table  view_table uk-table-small uk-table-striped uk-table-hover">
                                            <tr>
                                                <ThAuto>@lang["Product Category"]</ThAuto>
                                                <th>@lang["Discount Type"]</th>
                                                <th>@lang["Discount Value"]</th>
                                                <th></th>
                                            </tr>
                                            @if (model.discount_promotion_items != null)
                                            {
                                                @foreach (var m in model.discount_promotion_items.Where(r => !r.is_deleted).ToList())
                                                {
                                                    <tr>
                                                        <td>
                                                            <MudSelect T="int" AnchorOrigin="Origin.BottomCenter" @bind-Value="@(m.product_category_id)" MaxHeight="150">
                                                                @foreach (var c in gv.product_categories.Where(r => !r.is_deleted).ToList())
                                                                {
                                                                    <MudSelectItem Value="@c.id">
                                                                        @c.product_category_en
                                                                    </MudSelectItem>
                                                                }
                                                            </MudSelect>
                                                        </td>
                                                        <td style="vertical-align: bottom;">
                                                            <SelectDiscountType @bind-selected_value="@m.discount_type"></SelectDiscountType>
                                                        </td>
                                                        <td>
                                                            <MudTextField T="string" Value="@(m.discount_value.ToString("0.####"))" ValueChanged="@((val)=>m.discount_value = Convert.ToDecimal(val??"0"))"/>
                                                        </td>
                                                        <td>
                                                            <Icon icon="delete" OnClick="@(()=>onDeleteRecordClick(m))" />
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </table>
                                    
                                    <MudDivider />
                                    <div style="margin-top:5px">
                                        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add"  Color="MudBlazor.Color.Info" Size="Size.Small" OnClick="@(()=>onAddRecord())" >@lang["Add New"]</MudButton>
                                    </div>
                            </UIContainerBox> 
                        </UIGridCenter>
                    </PageBody>
                    <PageFooter>
                        <FooterCenter>
                            <ComSavingFormButton is_loading="@is_saving" is_show_cancel_action="true" OnCancel="@OnCancelClick" />
                        </FooterCenter>
                    </PageFooter>

                </EditForm>

            </PageContainer>
        }
    }
 




