@if(PermissionOptions.Count() > 0)
{
    <ComRenderTree is_parent="@is_parent" toogle=".content_title" css_class="uk-list" Items="@PermissionOptions.Where(r=>r.parent_id == parent_id).ToList()">
        <ItemTemplate Context="p">
            <li class="@(is_parent && p.permission_options.Count() > 0 ? "uk-parent" : "child_list")">
                <div class="content_title">
                    <span class="button_group"></span>
                    <p @onclick="(() => SelectPermission_Click(p))" class="title @(ChildPermissionOption(p.id).Count() > 0 && show_delete ? "parent_title" : "") @(p.is_checked ? "focus" : "")">
                        @if (p.is_checked)
                        {
                            <input class="uk-checkbox" type="checkbox" id="@p.id" @onchange="@(async(e)=> {   await SelectPermission_Click(p); })" checked />
                        }
                        else
                        {
                            <input class="uk-checkbox" type="checkbox" id="@p.id" @onchange="@(async(e)=> { await SelectPermission_Click(p); })" />
                        }
                        @p.note  
                    </p>
                    @if (ChildPermissionOption(p.id).Count() > 0)
                    {
                        <ComPerMissionOptionTree role_id="@role_id" parent_id="@p.id" OnSelect="@SelectPermission_Click" />
                    }
                </div>
            </li>
        </ItemTemplate>
    </ComRenderTree>
}

@code{

    [CascadingParameter] public List<PermissionOptionModel> PermissionOptions { get; set; }


    public List<PermissionOptionModel> ChildPermissionOption(int? id)
    {
        return PermissionOptions.Where(r => r.id == id).ToList();
    }




    [Parameter] public bool show_delete { get; set; } = false;

    [Parameter] public bool is_parent { get; set; } = false;

    [Parameter] public int role_id { get; set; }
    [Parameter] public EventCallback<PermissionOptionModel> OnSelect { get; set; }
    [Parameter] public int? parent_id { get; set; }
    async Task SelectPermission_Click(PermissionOptionModel permission)
    {
        await OnSelect.InvokeAsync(permission);
    }





}


