@if (is_visible)
{
    @if (RowSpan > 0 && ColSpan > 0)
    {
        <td @onclick="@OnClick" rowspan="@RowSpan" colspan="@ColSpan" class="text-rigth @ClassName" style="width:@Width;">@ChildContent</td>
    }
    else if (RowSpan > 0)
    {
        <td @onclick="@OnClick" rowspan="@RowSpan" class="text-rigth @ClassName" style="width:@Width;">@ChildContent</td>
    }
    else if (ColSpan > 0)
    {
        <td @onclick="@OnClick" colspan="@ColSpan" class="text-rigth @ClassName" style="width:@Width;">@ChildContent</td>
    }
    else
    {
        <td @onclick="@OnClick" class="text-rigth @ClassName" style="width:@Width;">@ChildContent</td>
    }
}
@code{
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
    [Parameter] public int RowSpan { get; set; } = 0;
    [Parameter] public int ColSpan { get; set; } = 0;
    [Parameter] public string ClassName { get; set; } = "";
    [Parameter] public string Width { get; set; } = "";
    [Parameter] public bool is_visible { get; set; } = true;
}