@page "/eknowledgebase/new/{parent_id}"
@page "/eknowledgebase/edit/{id}"
@layout EknowledgeBaseLayout
@inherits PageAddEknowledgeBases
<PageContainer>


    <PageBody>
        <UICenter>

            <MudCard Elevation="0">
                @if (!string.IsNullOrEmpty(id))
                {
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">Add Content Eknowledge Base</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                }
                <MudCardContent>
                    <MudPaper Class="pa-4">
                        <MudTextField @bind-Value="@model.youtube_url" Label="YouTube URL" Variant="Variant.Text" />
                    </MudPaper>
                    <ComAddArticleCard @bind-model="@model" />

                    <div class="d-flex">
                        <MudButton OnClick="AddChild_Click"
                                   Variant="Variant.Filled"
                                   EndIcon="@Icons.Filled.Add"
                                   Color="MudBlazor.Color.Primary">
                            Add New Sub Content
                        </MudButton>
                    </div>
                    @foreach (var c in model.children.Where(r => r.is_deleted == false).OrderBy(r => r.sort_order))
                    {
                        <MudPaper Class="mt-4 mb-4 pa-4">
                            <MudTabs Elevation="0" Rounded="true" ApplyEffectsToContainer="true">
                                <MudTabPanel Text="Title Kh">
                                    <MudGrid Class="d-flex align-center">
                                        <MudItem xs="3" Class="text-center"> 
                                            <FileUpload @bind-ImageUrl="c.photo_kh" is_square="true"></FileUpload>
                                            @if (!string.IsNullOrEmpty(c.photo_kh))
                                            {
                                                <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Warning" OnClick="@(()=>Deleteimage_Click(c))" Class="mt-2 mb-2">Remove​​ Photo</MudButton>
                                            }
                                        </MudItem>
                                        <MudItem xs="9">
                                            <MudTextField @bind-Value="@c.title_kh" Label="Title Kh" Variant="Variant.Text" Class="mb-2" />
                                            <Editor  @bind-Value="@c.description_kh" Conf="@editorConf" ApiKey="6bgc211uq2mw31fki1i1dmssvyxp93n3gaulsa02uzcfksyy" />
                                        </MudItem>
                                    </MudGrid>

                                </MudTabPanel>
                                <MudTabPanel Text="Title En">
                                    <MudGrid Class="d-flex align-center">
                                        <MudItem xs="3" Class="text-center">
                                            <FileUpload @bind-ImageUrl="c.photo_en" is_square="true"></FileUpload>
                                            @if (!string.IsNullOrEmpty(c.photo_en))
                                            {
                                                <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Warning" OnClick="@(()=>Deleteimageen_Click(c))" Class="mt-2 mb-2">Remove​​ Photo</MudButton>
                                            }
                                        </MudItem>
                                        <MudItem xs="9">
                                            <MudTextField @bind-Value="@c.title_en" Label="Title En" Variant="Variant.Text" Class="mb-2" />

                                            <Editor @bind-Value="@c.description_en" Conf="@editorConf" ApiKey="6bgc211uq2mw31fki1i1dmssvyxp93n3gaulsa02uzcfksyy" />
                                        </MudItem>
                                    </MudGrid>

                                </MudTabPanel>
                            </MudTabs>
                            <MudGrid Class="d-flex align-center">
                                <MudItem xs="3"></MudItem>
                                <MudItem xs="9">
                                    <MudTextField T="int" @bind-Value="@c.sort_order" Label="Sort Order" Variant="Variant.Text" Class="mt-2" />
 
                                        <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Warning" OnClick="@(()=>DeleteChil_Click(c))" Class="mt-2 mb-2">Delete</MudButton>
                                </MudItem>
                            </MudGrid>
                        </MudPaper>
                    }
                    @if (model.children.Where(r => r.is_deleted == false).ToList().Count() > 0)
                    {
                        <div class="d-flex">
                            <MudButton OnClick="AddChild_Click"
                                   Variant="Variant.Filled"
                                   EndIcon="@Icons.Filled.Add"
                                   Color="MudBlazor.Color.Primary" Class="mt-2 mb-2">
                                Add New Sub Content
                            </MudButton>
                            <div style="margin-left:3px;">
                                  <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Tertiary" OnClick="@(()=>copy_content(model))" Class="mt-2 mb-2" EndIcon="@Icons.Filled.FileCopy">Copy Kh to En</MudButton>
                            </div>
                         
                        </div>
                    }


                </MudCardContent>
            </MudCard>

            <Spacing Number="20" />
            <div class="d-flex justify-end">
                         <MudButton Disabled="@is_saving" Color="MudBlazor.Color.Primary" Variant="Variant.Filled" ButtonType="ButtonType.Submit" OnClick="@Save_Click" Class="mx-2">
                          Save
                            @if (is_saving)
                            {
                                <MudProgressCircular Color="MudBlazor.Color.Primary" Size="Size.Small" Indeterminate="true" />
                            }
                        </MudButton>
                        <MudButton Disabled="@is_saving" Color="MudBlazor.Color.Primary" Variant="Variant.Filled" ButtonType="ButtonType.Submit" OnClick="@Save_Close_Click" Class="mx-2">
                            
                             Save Close
                            @if (is_saving)
                            {
                                <MudProgressCircular Color="MudBlazor.Color.Primary" Size="Size.Small" Indeterminate="true" />
                            }
                        </MudButton>
              
                <MudButton Color="MudBlazor.Color.Default" Variant="Variant.Filled" ButtonType="ButtonType.Button" OnClick="@(()=>nav.NavigateTo($"eknowledgebase/{model.parent_id}"))">Cancel</MudButton>
            </div>

        </UICenter>
    </PageBody>


</PageContainer>
