@page "/eknowledgebase"
@page "/eknowledgebase/{id}"
@inherits PageEknowledgeBases
@layout EknowledgeBaseLayout
<Loading is_loading="@(is_loading || is_loading_data)" />
@if (!is_loading)
{
    <PageContainer>
         <PageHeader title="@state.page_title" show_refresh_button="false">
            <Right>
                <ComSearch search_text="@GetFilterValue2(state.filters, "keyword","")" show_advance_filter="false">
                   
                </ComSearch>
                 <AddButton OnClick="@(()=>nav.NavigateTo($"eknowledgebase/new/{id}"))"/>
            </Right>
        </PageHeader>
        <PageBody>
            @if(!string.IsNullOrEmpty(id)){
              <Table Items="@eknowledgebase.Where(r=>r.parent_id == Guid.Parse(id)).ToList()"
                        PerPage="@state.pager.per_page"
                        TotalItem="@TotalRecord"
                        CurrentPage="@state.pager.current_page"
                        OnPagerChange="@SelectChange"
                        OnPageChange="@ChangePager"
                        isLoading="@is_loading_data"
                        ShowPager="true"
                        ShowCounter="true"
                        EmptyText="There is no customer record.">
                     <TableHeader>
                         <ThAuto>Title </ThAuto>
                         <ThCenter>Status</ThCenter>
                         <ThCenter></ThCenter>
                     </TableHeader>
                      <RowTemplate Context="e">
                          <td> 
                              <a href="@($"eknowledgebasedetail/{e.id}")">
                                  @e.title_en
                              </a>
                          </td>
                          <TdCenter>
                           <LabelDeleted is_visible="@e.is_deleted"/> 
                          </TdCenter>
                            <TdActions>
                                <TableActionItem icon="@Icons.Material.Filled.Edit" url="@($"eknowledgebase/edit/{e.id}")">Edit</TableActionItem>
                                <TableActionItem icon="@Icons.Material.Filled.Delete" OnClick="@(()=>Delete_Click(e.id))" is_visible="@(!e.is_deleted)">Delete</TableActionItem>
                                <TableActionItem icon="@Icons.Material.Filled.Delete" OnClick="@(()=>Delete_Click(e.id))" is_visible="@e.is_deleted">Restore</TableActionItem>

                            </TdActions>
                      </RowTemplate>
              </Table>
          
        }
        </PageBody>
  
    </PageContainer>
}
