@page "/eknowledgebase/new/{parent_id}"
@page "/eknowledgebase/edit/{id}"
@layout EknowledgeBaseLayout
@inherits PageAddEknowledgeBases
<PageContainer>
    <EditForm Model="@model" OnValidSubmit="@Save_Click">
        <PageBody>
            <UICenter>
               
            <MudCard>
                @if (string.IsNullOrEmpty(id))
                {
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">Add Content Eknowledge Base</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                }
                <MudCardContent>
                          <MudPaper Class="pa-4 ma-2" Square="true">
                              <MudGrid Class="d-flex align-center">
                                   <MudItem xs="2">
                                      <FileUpload @bind-ImageUrl="model.photo" is_square="true"></FileUpload>
                                    </MudItem>
                                    <MudItem xs="10">
                                         <MudTabs Elevation="0" Rounded="true" ApplyEffectsToContainer="true">
                                           <MudTabPanel Text="Title Kh">
                                              <MudTextField @bind-Value="@model.title_kh" Label="Title Kh" Variant="Variant.Text"/>
                                              <MudTextField @bind-Value="@model.description_kh" Label="Description Kh" Variant="Variant.Text" Lines="3"/>
                                            </MudTabPanel>
                                             <MudTabPanel Text="Title En">
                                               <MudTextField @bind-Value="@model.title_en" Label="Title En" Variant="Variant.Text"/>
                                               <MudTextField @bind-Value="@model.description_en" Label="Description En" Variant="Variant.Text" Lines="3"/>
                                            </MudTabPanel>
                                        </MudTabs>
                                        <Spacing Number="20"/>
                                        <div class="d-flex justify-end">
                                               <MudButton OnClick="AddChild_Click"
                                                   Variant="Variant.Filled"
                                                   EndIcon="@Icons.Filled.Add"
                                                   Color="MudBlazor.Color.Primary">
                                                   Add
                                               </MudButton>
                                        </div>
                                    </MudItem>
                              </MudGrid>
                                @foreach(var c in model.children){
                                             <MudPaper Class="pa-4 ma-2" Square="true">
                                                 <MudGrid Class="d-flex align-center">
                                                     <MudItem xs="2">
                                                          <FileUpload @bind-ImageUrl="c.photo" is_square="true"></FileUpload>
                                                     </MudItem>
                                                     <MudItem xs="10">
                                                             <MudTabs Elevation="0" Rounded="true" ApplyEffectsToContainer="true">
                                                                <MudTabPanel Text="Title En">
                                                                   <MudTextField @bind-Value="@c.title_en" Label="Title En" Variant="Variant.Text"/>
                                                                   <MudTextField @bind-Value="@c.description_en" Label="Description En" Variant="Variant.Text" Lines="3"/>
                                                                </MudTabPanel>
                                                                <MudTabPanel Text="Title Kh">
                                                                  <MudTextField @bind-Value="@c.title_kh" Label="Title Kh" Variant="Variant.Text"/>
                                                                  <MudTextField @bind-Value="@c.description_kh" Label="Description Kh" Variant="Variant.Text" Lines="3"/>
                                                                </MudTabPanel>
                                                            </MudTabs>
                                                     </MudItem>
                                                 </MudGrid>
                                             </MudPaper>
                                        }
                         </MudPaper>
                        
                </MudCardContent>
            </MudCard>

                <Spacing Number="20"/>
                <div class="d-flex justify-end">
                     <MudButton Disabled="@is_saving" Color="MudBlazor.Color.Primary" Variant="Variant.Filled" ButtonType="ButtonType.Submit" Class="mx-2">Save
                        @if(is_saving){
                            <MudProgressCircular Color="MudBlazor.Color.Primary" Size="Size.Small" Indeterminate="true"/>    
                        }
                    </MudButton>
                    <MudButton Color="MudBlazor.Color.Default" Variant="Variant.Filled"  ButtonType="ButtonType.Button" OnClick="@(()=>nav.NavigateTo($"eknowledgebase/{model.parent_id}"))">Cancel</MudButton> 
                </div>
           
            </UICenter>
        </PageBody>
         
    </EditForm>
</PageContainer>
