@page "/config/confirm/{project_id}/{server_id}"
@layout BlankLayout
  @inject IHttpService  http;
@inject NavigationManager nav;
@inject IStringLocalizer<Resource> lang

@inject IMatToaster toast;

<Loading is_loading="@is_loading"/>
 
    <div class="wrp-login-page_projct">
        <div class="wrp_project_theme">
            <div class="login-header">
                <img src="images/ePOS-Rest.svg" />
            </div>
            <div class="login-form">
                <div>
                    @if (!is_loading) {
                     <Button OnClick="@OnInitializedAsync">Refresh</Button>
                }
                   
                    @if (is_loading)
                    {
                        <Spinner />
                    }
                    else
                    {
                        @if (model == null)
                        {
                            <p class="warning">@lang["Get Project information fail. Please contact your system administrator"]</p>
                        }
                        else
                        {
                            <h2 class="uk-text-center" style=" text-transform: capitalize; font-size: 24px; ">@lang["This project is belong to"]</h2>
                            <div class="wrp_pos_copany">
                                <div>
                                    <h3 class="mg_b_5 verefy_title">Customer Information</h3>
                                </div>
                                <div class="table_inf">
                                    <table class="uk-table uk-table uk-table-small">
                                        <tbody>
                                            <tr>
                                                <td class="text-table">@lang["Company"]</td>
                                                <td>: @model.customer.company_name</td>
                                            </tr>
                                            <tr>
                                                <td class="text-table">@lang["Contact Name"]</td>
                                                <td>: @model.customer.customer_code - @model.customer.customer_name_en</td>
                                            </tr>
                                            <tr>
                                                <td class="text-table">@lang["Phone"]</td>
                                                <td>: @model.customer.phone_1</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div>
                                    <h3 class="mg_b_5 verefy_title">@lang["Detail"]</h3>
                                    <Spacing Number="5"/>
                                </div>
                                <div>
                                    @*<h3>@lang["Branches"] (@model.business_branches.Count())</h3>*@

                                    @foreach (var b in model.business_branches)
                                    {
                                    <div class="box_station_out">
                                        <div class="title_branches_box">
                                            Branch: @b.business_branch_name_en
                                        </div>


                                        @*<strong>@lang["Outlets"] (@b.outlets.Count())</strong>*@
                                   
                                        <ComConfigBusinessBranchSystemFeature business_branch_system_features="@b.business_branch_system_features" />
                                        <hr />

                                        @foreach (var o in b.outlets)
                                        {
                                            <div class="box_branch">
                                                <div class="title_oulet">
                                                   Outlet: @o.outlet_name_en
                                                </div>
                                                @*<strong>@lang["Stations"] (@o.stations.Count())</strong>*@
                                                <div style="margin-left:10px;">
                                                    @foreach (var s in o.stations)
                                                    {
                                                        <div>@s.station_name_en</div>
                                                    }
                                                </div>
                                            </div>
                                            <Spacing Number="10" />

                                        }


                                        @if (b.stock_locations.Count() > 0)
                                        {
                                            <div class="box_branch">
                                                <div class="title_oulet">@lang["Warehouses"]</div>
                                                <div style="margin-left:10px;">
                                                    @foreach (var s in b.stock_locations)
                                                    {
                                                        <div>@s.stock_location_name</div>
                                                    }
                                                </div>
                                            </div>
                                        }
                                         

                                     
                                    </div>
                                    <Spacing Number="10"/>
                                        }





                                    </div>
                                    <ComConfigProjectFeature project_features="@model.project_system_features"/>
                            </div>
                            <Spacing Number="20"/>
                            <div>
                                <div class="box_verify">
                                    <div class="uk-flex uk-flex-middle">
                                        <div style="margin-right:5px;">
                                            <Icon icon="error_outline" icon_color="#ff002e" />
                                        </div>
                                        <div class="text_verfy">
                                            Please verify these information with your system administrator
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-text-center">
                                    @if (is_saving)
                                    {
                                        <button class="btn-login" type="button"> <Spinner /> @lang["Confirm"]  </button>
                                    }
                                    else
                                    {
                                        <button class="btn-login" type="submit" @onclick="@ConfirmBackendData">@lang["Confirm"] </button>
                                    }
                                </div>
                            </div>
                            }
                        }

                </div>
            </div>
        </div>
    </div>
 

@code {
    [CascadingParameter] public GlobalVariableModel gv { get; set; }
    [Parameter] public string project_id { get; set; }
    [Parameter] public string server_id { get; set; }
    eSoftixBackend.ProjectModel model = new eSoftixBackend.ProjectModel();
    string Message = "";
    bool IsShowMessage = false;
    bool is_loading,is_saving;


    protected override async Task OnInitializedAsync()
    {

        is_loading = true;
        try
        {
            var resp = await http.eSoftixApiGet($"project({project_id})?$expand=customer,project_system_features($expand=system_feature),business_branches($expand=business_branch_system_features($expand=system_feature),stock_locations,outlets($expand=stations($filter=is_deleted eq false);$filter=is_deleted eq false);$filter=is_deleted eq false)");
            if (resp.IsSuccess)
            {
                model = JsonSerializer.Deserialize<eSoftixBackend.ProjectModel>(resp.Content.ToString());
            }
        }
        catch {
            model = null;
        }

        is_loading = false;
    }



    async Task ConfirmBackendData()
    {

        is_saving = true;

        //check validation
        //check if project have business branch
        if (!model.business_branches.Any())
        {

            toast.Add(lang["This project does not have business branch."], MatToastType.Warning);
            is_saving= false;
            return;
        }
        else {
            foreach(var b in model.business_branches)
            {
                if (!b.outlets.Any()) {
                    toast.Add($"{b.business_branch_name_en} {lang["does not have outlet."]}", MatToastType.Warning);
                    is_saving = false;
                    return;
                }
                foreach(var o in b.outlets)
                {
                    if (!o.stations.Any())
                    {
                        toast.Add($"{o.outlet_name_en} {lang["does not have station."]}", MatToastType.Warning);
                        is_saving = false;
                        return;
                    }
                }
                //validate stock location
                if(b.business_branch_system_features.Where(x=>(x.system_feature.feature_code =="INV_SIMPLE" && x.status==true) || (x.system_feature.feature_code == "INV_ADVANCE" && x.status == true)).Any())
                {
                    if (b.stock_locations.Count() == 0)
                    {
                         toast.Add($"{b.business_branch_name_en} {lang["does not have stock location."]}", MatToastType.Warning);
                        is_saving = false;
                        return;
                    }
                }
            }
        }


        //save server id to project db
        ServerConfigModel project_config = new ServerConfigModel();
        project_config.project_id = model.id.ToString();
        project_config.hardware_server_id = server_id;

        var resp_projct = await http.eSoftixApiPost("Project/SaveServerID", project_config);
        if ( resp_projct.IsSuccess)
        {
            var resp = await http.ApiPost("ConfirmBackendData", model);
            if (resp.IsSuccess)
            {

                toast.Add(lang["Update data successfully."], MatToastType.Success);
                nav.NavigateTo("config/done");
            }else
            {
                toast.Add(lang["Confirm data fail. Please try again"], MatToastType.Warning);
            }

        }else
        {
            if (resp_projct.status_code == 503)
            {
                toast.Add(lang["Cannot connect to eSoftix Server. Please contact your system administrator"], MatToastType.Warning);
            }
            else {

                toast.Add(lang["Confirm data fail. Please try again"], MatToastType.Warning);
            }

        }


        is_saving = false;
    }

}