@inject IHttpService http
@inject IStringLocalizer<Resource> lang
<div class="defualt-stock-location">
    <Spacing Number="15" />
    <div class="uk-text-bold uk-margin-small-bottom">@lang["Defualt Stock Location"]</div>
    <MudTabs PanelClass="pa-6">
        @foreach (var b in gv.business_branch_by_role)
        {
            if (gv.business_branch_has_inventory(b.id.ToString()))
            {
                <MudTabPanel Text="@(gv.current_language.language_id == "km-KH"?b.business_branch_name_kh : b.business_branch_name_en)">
                    <div class="uk-overflow-auto">
                        <table class="uk-table view_table set-verticle-middle uk-table-small uk-table-striped uk-table-hover">
                            <tr>
                                <ThAuto>@lang["Station"]</ThAuto>
                                <th>@lang["Stock location"]</th>
                            </tr>
                            @if (model.default_stock_location_products.Where(r => r.business_branch_id == b.id).Any())
                            {
                                @foreach (var d in model.default_stock_location_products.Where(r => r.business_branch_id == b.id).ToList())
                                {
                                    @if (d.station != null)
                                    {
                                        <tr>
                                            <td>@(gv.current_language.language_id == "km-KH"?d.station?.station_name_kh : d.station?.station_name_en)</td>
                                            <td>
                                                @d.stock_location?.stock_location_name
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="3">
                                        <div class="uk-text-center">
                                            <Icon icon="search" />
                                            <br />
                                            <p>@lang["There is no station"]</p>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </MudTabPanel>
            }
        }
    </MudTabs>

</div>
 
@code {
    [CascadingParameter] public GlobalVariableModel gv { get; set; }
    [Parameter] public int product_id { get; set; }
    ProductModel model = new ProductModel();
  
    protected override async Task OnInitializedAsync()
    {

      
        if (product_id > 0)
        {
            var resp = await http.ApiGet($"Product({product_id})?$select=id&$expand=default_stock_location_products($expand=stock_location($select=stock_location_name)," +
                $"business_branch($select=business_branch_name_en,business_branch_name_kh)," +
                $"station($select=id,station_name_en,station_name_kh,is_deleted,is_full_license,expired_date))");
            if (resp.IsSuccess)
            {
                model = JsonSerializer.Deserialize<ProductModel>(resp.Content.ToString());
            }
        }

     
    }
}
