@inject IHttpService http
@inject IMatToaster toast
<UIGridCenter>
@foreach(var pp in model.product_portions){
    <UIContainerBox Title="@pp.portion_name" is_show_add_button="@(!model.product_ingredients.Any())" is_show_edit_button="@model.product_ingredients.Any()" OnAddClick="@(()=>show_modal=true)" OnEditClick="@(()=>show_modal=true)">
        <table class="uk-table  view_table set-verticle-middle uk-table-small uk-table-striped uk-table-hover">
            <tr>
                <ThAuto>Ingredient Name</ThAuto>
                <ThCenter>Quantity</ThCenter>
                <ThCenter>Unit</ThCenter>
                <ThRight>Cost</ThRight>
                <ThRight>Total Cost</ThRight>
            </tr>

            @if(model.product_ingredients.Any()){
                foreach(var pi in model.product_ingredients)
                {
                    <tr>
                        <td>
                            @pi.product_ingredient?.product_display_name
                        </td>
                        <TdCenter>
                            @pi.quantity
                        </TdCenter>
                        <TdCenter>@pi.unit</TdCenter>
                        <TdRight>@pi.cost.ToString(gv.currency_format)</TdRight>
                        <TdRight>@pi.total_cost.ToString(gv.currency_format)</TdRight>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">
                    <ComEmptyTemplate padding_top_bottom="25px"/>
                    </td>
                </tr>
            }
        </table>
    </UIContainerBox>
    }
</UIGridCenter>
@*<ComProductDetail_AddIngredientProduct models="@models" @bind-is_open="@show_modal" Save_Click="OnSave"/>*@

@code {
    [CascadingParameter] public GlobalVariableModel gv { get; set; }
    [Parameter] public int product_id { get; set; }

    ProductModel model = new ProductModel();

    bool is_loading, show_modal;

    protected override async Task OnInitializedAsync()
    {

        is_loading = true;
        await LoadData();
        is_loading = false;
    }

    public async Task LoadData()
    {
        is_loading = true;

        if (product_id > 0)
        { 
            var resp = await http.ApiGet($"Product({product_id})?$select=id&$expand=product_portions,product_ingredients))");
            if (resp.IsSuccess)
            {
                model = JsonSerializer.Deserialize<ProductModel>(resp.Content.ToString()); 
            }
        }
        is_loading = false; 
    }

    public async Task OnSave()
    {
        show_modal = false;
        await LoadData();
    }
    
}
