@inject IStringLocalizer<Resource> lang
<UIGridCenter>
    <UISummaryBox Title="@lang["Product Information"]"  ShowImage="true" ImageUrl="@model.photo">
        <ContentLeft>
            <table>
                <tr>
                     <th>@lang["Product Code"]</th>
                    <td>@model.product_code</td>
                </tr>
                <tr>
                     <th>@lang["Product (En)"]</th>
                    <td>@model.product_name_en</td>
                </tr>
                <tr>
                    <th>@lang["Product (Kh)"]</th>
                    <td>@model.product_name_kh</td>
                </tr>
                <tr>
                    <th>@lang["Categroy"]</th>
                    <td>@model.product_category?.product_category_en</td>
                </tr>
                <tr>
                    <th>@lang["Unit"]</th>
                    <td>@model.unit?.unit_name</td>
                </tr>
            </table>
        </ContentLeft>
        <ContentRight>
            <table>
                <tr>
                    <th>@lang["Cost"]</th>
                    <td>@model.cost.ToString(gv.currency_format)</td>
                </tr>
                <tr>
                    <th>@lang["Vendor"]</th>
                    <td>@model.vendor?.vendor_display_name</td>
                </tr>
            </table>
            </ContentRight>

    </UISummaryBox>
    <Spacing Number="10"/>
    <Com is_visible="@model.is_inventory_product">
        <ComProductDetail_InventoryInformation product_id="@model.id"/>
        <Spacing Number="10"/>
    </Com>
    <ComProductDetail_Portion product_id="@model.id"/>
    <Spacing Number="10"/>

    <ComProductDetail_Modifired product="@model"/>
    <Spacing Number="10"/>

    <ComProductDetail_Menu product_id="@model.id"/>
    <Spacing Number="10"/>
    <ComProductDetail_ProductPrinter product_id="@model.id"/>
    <UIContainerBox Title="Note" is_visible="@(!string.IsNullOrEmpty(model.note))">
        @model.note
    </UIContainerBox>
</UIGridCenter>


@code {

    [CascadingParameter] public GlobalVariableModel gv { get; set; }
    [Parameter] public ProductModel model { get; set; }
}
