@inject IStringLocalizer<Resource> lang
<UIGridCenter>
    <UISummaryBox Title="@lang["Product Information"]" ShowImage="true" ImageUrl="@model.photo">
        <ContentLeft>
            <table>
                <tr>
                    <th>@lang["Code"]</th>
                    <td>@model.product_code</td>
                </tr>
                <tr>
                    <th>@lang["Name En"]</th>
                    <td>@model.product_name_en</td>
                </tr>
                <tr>
                    <th>@lang["Name Kh"]</th>
                    <td>@model.product_name_kh</td>
                </tr>
                <tr>
                    <th>@lang["Product Group"]</th>
                    <td>@model.product_category?.product_group.product_group_en</td>
                </tr>
                <tr>
                    <th>@lang["Category"]</th>
                    <td>@model.product_category?.product_category_en</td>
                </tr>

                <tr>
                    <th>@lang["Revenue Group"]</th>
                    <td>@model.revenue_group_name</td>
                </tr>

                <Com is_visible="@(model.kitchen_group_id > 0)">
                    <tr>
                        <th>@lang["Kitchen Group"]</th>
                        <td>@model.kitchen_group?.kitchen_group_name</td>
                    </tr>
                </Com>
                <tr>
                    <th>@lang["Unit"]</th>
                    <td>@model.unit?.unit_name</td>
                </tr>
            </table>
        </ContentLeft>
        <ContentRight>
            @if (model.vendor_id > 0)
            {
                <div>
                    <ComVendorInfo vendor="@model.vendor" />
                </div>
            }
            <table>
                <tr>
                    <th>@lang["Cost"]</th>
                    <td>@model.cost.ToString(gv.currency_format)</td>
                </tr>
                <tr>
                    <th>@lang["Open Product"]</th>
                    <td><ComInputCheckBox label="" is_read_only="true" value="@model.is_open_product" /></td>
                </tr>
                <tr>
                    <th>@lang["Allow Discount"]</th>
                    <td><ComInputCheckBox label="" is_read_only="true" value="@model.is_allow_discount" /></td>
                </tr> 
                <tr>
                    <th>@lang["Allow Free"]</th>
                    <td><ComInputCheckBox label="" is_read_only="true" value="@model.is_allow_free" /></td>
                </tr>
                <tr>
                    <th>@lang["Allow Change Price"]</th>
                    <td><ComInputCheckBox label="" is_read_only="true" value="@model.is_allow_change_price" /></td>
                </tr>

            </table>
        </ContentRight>
    </UISummaryBox>
    <Spacing Number="10" />
    <Com is_visible="@(model.is_inventory_product && gv.project_has_inventory)">
        <ComProductDetail_InventoryInformation product_id="@model.id" product_deleted="@model.is_deleted" />
        <Spacing Number="10" />
    </Com>
    <ComProductDetail_Portion product_id="@model.id" />

    <ComProductDetail_Modifired product="@model" />

    @if (gv.enable_tax_feature)
    {
        <ComProductDetail_ProductTax product_id="@model.id" />

    }
    <ComProductDetail_Menu product_id="@model.id" />
    <Spacing Number="10" />
    @if (gv.system_feature_status("KOT"))
    {
        <ComProductDetail_ProductPrinter product_id="@model.id" />
    }

    <UIContainerBox Title="@lang["Note"]" is_visible="@(!string.IsNullOrEmpty(model.note))">
        @model.note
    </UIContainerBox>
</UIGridCenter>
 
<div class="invoice_footer_description">
    <div>
        @lang["Created by"] @model.created_by @lang["on"] @model.created_date.ToString(gv.date_time_format)
    </div>
    @if (model.is_deleted)
    {
        <div>
            @lang["Deleted by"] @model.deleted_by @lang["on"] @(model.deleted_date != null? model.deleted_date.Value.ToString(gv.date_time_format):"")
        </div>
    }
    <div>@lang["Last modified by"] @model.last_modified_by @lang["on"] @model.last_modified_date.ToString(gv.date_time_format)</div>
</div>

@code {

    [CascadingParameter] public GlobalVariableModel gv { get; set; }
    [Parameter] public ProductModel model { get; set; }
}
