@inherits ComProductDetailSaleHistoryBase
<Loading is_loading="@(is_loading || is_loading_data)" />

@{
    RenderFragment HeaderTemplate(string field_name, string display_name, string ClassName = "") =>
    @<Th OnClick="@(async () => await OrderBy(field_name))" OrderBy="@(state.pager.order_by == field_name)" OrderByType="@state.pager.order_by_type" ClassName="@($"cp {ClassName}")"> @display_name</Th>;
}

@if (!is_loading)
{
    <PageContainer is_container="false">
        <PageHeader is_subpage="true">
            <HeaderLeft>
                <PageTitle ShowFilter="false">
                    <HeaderTemplate>
                        @lang["All Sale History"]
                    </HeaderTemplate>
                </PageTitle>
            </HeaderLeft>
            <HeaderRight> 
                <RefreshButton OnClick="@(async()=>await LoadData())" />
                <MudHidden Breakpoint="Breakpoint.SmAndDown">
                    <ComSearch place_holder="@GetFilterValue2(state.filters, "keyword","")" KeywordChanged="@OnSearch" show_advance_filter="true" OnFillterClick="@FilterClick">
                        <FilterDateRange @bind-dates="@state.date_range" />
                        <SelectBusinessBranchMutiple selected_business="@state.multi_select_id_1" selected_businessChanged="@((val)=> { state.multi_select_id_1 = val;state.multi_select_id_2= null;  } )" business_id="@((val)=>state.multi_select_value_1=val)" />
                        <SelectOutletMultiple business_branch_ids="@state.multi_select_value_1" @bind-selected_outlet="@state.multi_select_id_2" outlet_id="@((val)=>state.multi_select_value_2=val)" />
                    </ComSearch>
                </MudHidden>
            </HeaderRight>
        </PageHeader>
        <PageBody>
            <MudHidden Breakpoint="Breakpoint.MdAndUp">
                <ComSearch is_fullwidth="true" place_holder="@GetFilterValue2(state.filters, "keyword","")" KeywordChanged="@OnSearch" show_advance_filter="true" OnFillterClick="@FilterClick">
                    <FilterDateRange @bind-dates="@state.date_range" />
                    <SelectBusinessBranchMutiple selected_business="@state.multi_select_id_1" selected_businessChanged="@((val)=> { state.multi_select_id_1 = val;state.multi_select_id_2= null;  } )" business_id="@((val)=>state.multi_select_value_1=val)" />
                    <SelectOutletMultiple business_branch_ids="@state.multi_select_value_1" @bind-selected_outlet="@state.multi_select_id_2" outlet_id="@((val)=>state.multi_select_value_2=val)" />
                </ComSearch>
            </MudHidden>
            <FilterInfo filters="@state.filters" OnRemoveFilterClick="@RemoveFilter" OnRemoveAllFilterClick="@RemoveAllFilter" />
            <Com is_visible="@(models != null)">
                <Table Items="@models"
                       PerPage="@state.pager.per_page"
                       TotalItem="@TotalRecord"
                       CurrentPage="@state.pager.current_page"
                       OnPagerChange="@SelectChange"
                       OnPageChange="@ChangePager"
                       isLoading="@is_loading_data"
                       ShowPager="true"
                       ShowCounter="true"
                       ClassName="uk-table-small uk-table-striped uk-table-hover"
                       ScrollClass="uk-overflow-auto">
                    <TableHeader>
                        @HeaderTemplate("sale/working_date", lang["Date"], "uk-text-center")
                        @HeaderTemplate("sale/document_number", lang["Document #"])
                        @HeaderTemplate("sale/customer/customer_name", lang["Customer"], "col-auto")
                        <ThAuto>
                            <div>@lang["Business Branch"]</div>
                            <div class="sub-header-table">@lang["Outlet"]</div>
                            <div class="sub-header-table">@lang["Station"]</div>
                        </ThAuto>
                        <ThCenter>@lang["Quantity"]</ThCenter>
                        <ThCenter>@lang["Unit"]</ThCenter>
                        <ThRight>@lang["Price"]</ThRight>
                        <ThRight>@lang["Discount"]</ThRight>
                        <ThRight>@lang["Amount"]</ThRight>
                        <th class="uk-width-auto"></th>
                    </TableHeader>
                    <RowTemplate Context="p">
                        <TdCenter>
                            @p.sale?.working_date.ToString(gv.date_format)

                        </TdCenter>
                        <td>
                            <div>
                            ​​​     <a href="@($"receiptlist/sale/{p.sale_id}")">
                                        @if (p.sale.document_number == "New")
                                        {
                                           @p.sale.sale_number
                                        }
                                        else
                                        {
                                            @p.sale?.document_number
                                        }
                                 </a>
                            </div>
                            <ComSaleStatus sale="@p.sale"/>
                            <LabelSaleType Text="@p.sale?.sale_type"/>
                        </td>
                        <td>
                            <ComProfileInfo url="@($"customer/{p.sale.customer_id}")" photo="@p.sale.customer?.photo" role="customer_management">@p.sale?.customer?.customer_code_name</ComProfileInfo>
                        </td>
                        <td>
                            <div>@p.sale?.business_branch?.business_branch_name_en</div>
                            <div class="sub-info-row-table">@p.sale?.outlet?.outlet_name_en</div>
                            <div class="sub-info-row-table">@p.station_name_en</div>
                        </td>
                        <TdCenter>
                            @p.quantity.ToString(gv.quantity_format)
                        </TdCenter>
                        <TdCenter>
                            @p.unit
                        </TdCenter>
                        <TdRight>
                            @p.total_price.ToString(gv.main_currency_format)
                        </TdRight>
                        <TdRight>
                            @if (p.sale_product_discount_value <= 0)
                                {
                                <span>-</span>
                                }
                                else if (p.sale_product_discount_type == "Percent")
                                {
                                <span>@((p.sale_product_discount_value / 100).ToString("00.## %"))</span>
                                }
                                else
                                {
                                <span>@p.sale_product_discount_amount.ToString(gv.currency_format)</span>
                                }
                        </TdRight>
                        <TdRight>
                            @((p.sub_total - p.sale_product_discount_amount).ToString(gv.currency_format))
                        </TdRight>
                        <TdCenter>
                            <Icon icon="visibility" OnClick="@(()=>nav.NavigateTo($"receiptlist/sale/{p.sale_id}"))" />
                        </TdCenter>
                    </RowTemplate>
                </Table>
            </Com>
        </PageBody>
    </PageContainer> 
}