<UIGridCenter>
    <UISummaryBox Title="Product Information"  ShowImage="true" ImageUrl="@model.photo">
        <ContentLeft>
            <table>
                <tr>
                    <td>@model.product_code</td>
                </tr>
                <tr>
                    <td>@model.product_name_en</td>
                </tr>
                <tr>
                    <td>@model.product_name_kh</td>
                </tr>
                <tr>
                    <td>@model.product_category?.product_category_en</td>
                </tr>

                
            </table>
        </ContentLeft>
        <ContentRight>
            <table>
                <tr>
                    <td>Allow Discount</td>
                    <td><ComInputCheckBox label="" is_read_only="true" value="@model.is_allow_discount" /></td>
                </tr>
                <tr>
                    <td>Allow Free</td>
                    <td><ComInputCheckBox label="" is_read_only="true" value="@model.is_allow_free" /></td>
                </tr>
                <tr>
                    <td>Is Opened Product</td>
                    <td><ComInputCheckBox label="" is_read_only="true" value="@model.is_open_product" /></td>
                </tr>
                <tr>
                    <td>Is Inventory</td>
                    <td><ComInputCheckBox label="" is_read_only="true" value="@model.is_inventory_product" /></td>
                </tr>

            </table>
        </ContentRight>

    </UISummaryBox>
    <Spacing Number="10"/>
    <ComProductDetail_Portion product_id="@model.id"/>
    <Spacing Number="10"/>

    <ComProductDetail_Menu product_id="@model.id"/>
    <Spacing Number="10"/>

    <ComProductDetail_ProductPrinter product_id="@model.id"/>
    

    <UIContainerBox Title="Note" is_visible="@(!string.IsNullOrEmpty(model.note))">
        @model.note
    </UIContainerBox>
</UIGridCenter>


@code {
    [Parameter] public ProductModel model { get; set; }
}
