@if (models.Any()) { 
foreach (var mg in models.Select(r => r.modifier_group).Where(r => r.modifier_group_items.Any()).ToList())
{
    foreach (var m in mg.modifier_group_items)
    {
        <tr>
            <td>
                <div>

                    @if (!string.IsNullOrEmpty(mg.modifier_group_display_name))
                    {<a href="modifiergroup/@mg.id" target="_blank"><span uk-tooltip="Modifier Group Name">(@mg.modifier_group_display_name)</span></a>
            }
            else
            {
                <span>@m.section_name</span>
            }
                    </div>
                    <div class="uk-margin-small-top">
                        <LabelIsRequired is_visible="@m.is_required" />
                        <LabelIsMultipleSelect is_visible="@m.is_multiple_select" />
                    </div>
                </td>
                <td colspan="2">
                    @foreach (var c in m.children.OrderBy(r => r.sort_order))
                    {
                        <Grid ClassName="uk-grid-small">
                            <div class="uk-width-expand" uk-leader><a href="@($"modifier/{c.modifier?.id}")" target="_blank">@c.modifier?.modifier_name</a></div>
                            <div class="uk-width-auto">@c.price.ToString(gv.main_currency_format)</div>
                        </Grid>
                    }
                </td>
            </tr>
        }
    }
}

@code {
    [CascadingParameter] public GlobalVariableModel gv { get; set; }
    [Parameter] public List<ModifierGroupProductCategoryModel> models { get; set; } = new List<ModifierGroupProductCategoryModel>();
}
