@inject ISnackbar toast;
@inject IStringLocalizer<Resource> lang
    <div class="uk-overflow-auto table-scroll">
        <table class="uk-table  view_table set-verticle-middle uk-table-small uk-table-striped uk-table-hover">
            <tr>
                <Th>@lang["Sale Type Name"]</Th>
                <ThCenter>@lang["Color"]</ThCenter>
                <ThCenter>@lang["Is Order Use Table"]</ThCenter>
                <ThCenter>@lang["Sort Order"]</ThCenter>
                <Th></Th>
            </tr>
            @foreach (var p in sale_types.Where(r => r.is_deleted == false))
            {
                <tr>
                    <ComFormAddSaleType sale_type="p" colorChanged="OnColorChanged" Ondelete="@(()=>Delete(p))"/>

                </tr>
            }


        </table>
    </div>
@code {

    [Parameter] public List<SaleTypeModel> sale_types { get; set; }
    [Parameter] public EventCallback<SaleTypeModel> ColorSelected { get; set; }

    SaleTypeModel sale_type = new SaleTypeModel();

    void Delete(SaleTypeModel p)
    {
        if (p.id == Guid.Empty)
        {
            sale_types.Remove(p);
        }
        else
        {
            p.is_deleted = true;
        }
    }

    async Task OnColorChanged(SaleTypeModel p)
    {
        await ColorSelected.InvokeAsync(p);

    }

    }
