@inherits PageCore
<Loading is_loading="@is_loading" />
@if (!is_loading)
{
    <PageContainer is_container="false">
        <PageHeader is_subpage="true">
            <HeaderLeft>
                <PageTitle ShowFilter="false">
                    <HeaderTemplate>
                        @business_branch.business_branch_name_en
                    </HeaderTemplate>
                </PageTitle>
            </HeaderLeft>
            @if (business_branch.outlets.Any()) {
        <HeaderRight>
            <MudHidden Breakpoint="Breakpoint.SmAndDown">
                <LinkButton url="@($"tablegroupandtable/{business_branch.id}/new")" icon="add" background="uk-button-primary">@lang["Add New"]</LinkButton>
            </MudHidden>

            <MudHidden Breakpoint="Breakpoint.MdAndUp">
                <LinkButton url="@($"tablegroupandtable/{business_branch.id}/new")" icon="add" background="uk-button-primary"></LinkButton>
            </MudHidden>
          
        </HeaderRight>
            }
        </PageHeader>

        <PageBody>
            @if (business_branch.outlets.Any())
            {
                <MudTabs PanelClass="pa-6">
                    @foreach (var o in business_branch.outlets)
                    {
                        if (models.Where(r => r.outlet_id == o.id).Any())
                        {
                            @foreach (var d in models.Where(r => r.outlet_id == o.id && r.is_deleted == false).ToList())
                            {
                    <MudTabPanel Text="@d.table_group_name_en">
                        <UIGridCenter>
                            <div class="container-layout">
                                <div class="title-header">
                                    <div class="uk-panel">
                                        <div class="uk-float-left">
                                            <span>
                                                @d.table_group_name_en
                                            </span>
                                            <span>
                                                <label class="uk-label activ"><Icon icon="home" />@d.outlet?.outlet_name_en</label>
                                            </span>
                                        </div>
                                        <div class="uk-float-right">
                                            <div class="uk-flex uk-flex-middle">
                                                <div>
                                                    <LabelActive OnClick="@(() => Activebutton(d))" is_visible="@d.status" is_loading="@d.is_change_status" />
                                                    <LabelInActive OnClick="@(() => Activebutton(d))" is_visible="@(!d.status)" is_loading="@d.is_change_status" />
                                                </div>
                                                <div>
                                                    <div class="uk-flex uk-flex-inline">
                                                        <div style="margin-right:5px;">
                                                            <Icon icon="delete" OnClick="@(() => click_delete(d))" />
                                                        </div>
                                                        <div>
                                                            <a href="@($"tablegroupandtable/edit/{d.id}")">
                                                                <Icon icon="edit" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div>
                                    <UISummaryBox ImageUrl="@d.photo">
                                        <ContentLeft>
                                            <table>
                                                <tr>
                                                    <th>@lang["Table Group Name"]</th>
                                                    <td>@d.table_group_name_en</td>
                                                </tr>
                                                <tr>
                                                    <th>@lang["Outlet"]</th>
                                                    <td>@d.outlet?.outlet_name_en</td>
                                                </tr>
                                            </table>
                                        </ContentLeft>
                                    </UISummaryBox>
                                    <hr />
                                    <ComAccordion>
                                        <Header>
                                            @lang["Table"]
                                        </Header>
                                        <Content>
                                            <table class="uk-table cus_hearder_table  view_table set-verticle-middle uk-table-small uk-table-striped uk-table-hover">
                                                <tr>
                                                    <ThAuto>@lang["Table​ Name"]</ThAuto>
                                                    <ThCenter>@lang["Width"]</ThCenter>
                                                    <ThCenter>@lang["Height"]</ThCenter>
                                                    <th>@lang["Shape"]</th>
                                                    <th>@lang["Sale Type"]</th>
                                                    <ThCenter>@lang["Sort Order"]</ThCenter>
                                                    <th>@lang["Price Rule"]</th>

                                                </tr>
                                                @foreach (var s in d.tables)
                                                {
                                                    <tr>
                                                        <td>@s.table_name</td>
                                                        <TdCenter>@s.width</TdCenter>
                                                        <TdCenter>@s.height</TdCenter>
                                                        <td>
                                                            @if (!string.IsNullOrEmpty(s.shape))
                                                            {
                                                                @s.shape
                                                            }
                                                        </td>
                                                        <td>@s.sale_type</td>
                                                        <TdCenter>
                                                            @s.sort_order
                                                        </TdCenter>
                                                        <td>@s.price_rule?.price_name</td>
                                                    </tr>
                                                }
                                            </table>
                                        </Content>
                                    </ComAccordion>
                                </div>
                            </div>
                        </UIGridCenter>
                    </MudTabPanel>
                            }
                        }
                    }
                </MudTabs>
            }
            else
            {
                <ComEmptyTemplate empty="@lang["There is no table group."]" />
            }
        </PageBody>
    </PageContainer>
}

@code{
    [Parameter] public BusinessBranchModel business_branch { get; set; }
    List<TableGroupModel> models = new List<TableGroupModel>();
    List<TableModel> Tables = new List<TableModel>();
    string ControllerApi = "TableGroup";

    protected override async Task OnInitializedAsync()
    {
        is_loading = true;
        await LoadData();
        is_loading = false;
    }



    async Task LoadData(string api_url = "") 
    {

        is_loading_data = true;

        if (string.IsNullOrEmpty(api_url))
        {

            api_url = $"{ControllerApi}?$expand=tables($expand=price_rule;$select=table_name,sale_type,sort_order,height,shape,width,position_x_percent,position_y_percent,id;$filter= is_deleted eq false;$orderby=sort_order desc),outlet($select=id,outlet_name_en,outlet_name_kh;$filter= is_deleted  eq false)";
        }

        var resp = await http.ApiGetOData(api_url);
        if (resp.IsSuccess)
        {

            models = JsonSerializer.Deserialize<List<TableGroupModel>>(resp.Content.ToString());

        }
        is_loading_data = false;

    }


    async Task Activebutton(TableGroupModel b)
    {

        b.is_change_status = true;
        await Task.Delay(1000);
        b.status = !b.status;

        var resp = await http.ApiPost($"{ControllerApi}/Save", b);
        if (resp.IsSuccess)
        {
            toast.Add(lang["Change status successfully"], MudBlazor.Severity.Success);
        }

        b.is_change_status = false;

    }
    async Task click_delete(TableGroupModel d)
    {
        d.is_loading = true;
        if (await js.Confirm(lang["Delete Record"], lang["Are you sure you want to delete this this record?"], SweetAlertMessageType.question))
        {
            var resp = await http.ApiPost(ControllerApi + "/delete/" + d.id);

            if (resp.IsSuccess)
            {
                await LoadData();
                toast.Add(lang["Delete Record Successfully"], MudBlazor.Severity.Success);
            }
            else
            {
                toast.Add(lang["Delete record fail"], MudBlazor.Severity.Warning);
            }


        }
        d.is_loading = false;
    }

}
