@page "/setting/hourlytimechargrate"
@inherits PageCore
<Loading is_loading="@(is_loading || is_saving)" />
@if (!is_loading)
{

    <Title Value="@lang["Hourly Time Charge Rate"]"></Title>
    <PageContainer roles="@gv.GetRole("hourly_time_charge_rate_management")">
        <PageHeader>
            <HeaderLeft>
                <PageTitle ShowFilter="false">
                    <HeaderTemplate>
                        @lang["Hourly Time Charge Rate"]
                    </HeaderTemplate>
                </PageTitle>
            </HeaderLeft>
            <HeaderRight ShowBackButton="true">
                <RefreshButton OnClick="@OnInitializedAsync" />
            </HeaderRight>
        </PageHeader>

        <PageBody>
            <MudTabs>
                 @foreach (var branch in branch_item_charges)
                    {

                            
                    <MudTabPanel Text="@branch.business_branch.business_branch_name_en" Class="py-2">
                        
                        <UIGridCenter>
                                <div class="uk-overflow-auto table-scroll">
                                    <table class="uk-table  view_table set-verticle-middle uk-table-small uk-table-striped uk-table-hover">
                                        <tr>
                                            <Th>@lang["Hour"]</Th>
                                            <ThCenter>@lang["Portion"]</ThCenter>
                                            <ThCenter>@lang["Break Point"]</ThCenter>
                                        </tr>
                                         @foreach (var item in branch.hourly_time_charge_rates.OrderBy(r=>r.hour))
                                        {
                                            <tr>
                                                <td>
                                                    @(item.hour.ToString("00"))
                                                </td>
                                                <TdCenter>
                                                    <SelectProductPortion is_inline product_id="@gv.product_id_item_charge" @bind-selected_value="@item.portion_id"/>
                                                </TdCenter>
                                                <TdCenter>
                                                    <ComInputCheckBox @bind-value="item.is_break_point"/>
                                                </TdCenter>
                                            </tr>
                                        }
                                    </table>
                                </div>
                                       
                                        
                     
                        </UIGridCenter>
                    </MudTabPanel>
                    }
                    
                      
            </MudTabs>

        </PageBody>
        <PageFooter>
            <FooterCenter>
                <ComSavingFormButton is_loading="@is_saving" is_show_cancel_back="false" is_show_save_action="true" OnSave="@Save_Click" />
            </FooterCenter>
        </PageFooter>
    </PageContainer>
}

@code {
    List<BusinessBranchSettingModel> branch_settings = new List<BusinessBranchSettingModel>();  
    List<BranchItemChargeRateModel> branch_item_charges = new List<BranchItemChargeRateModel>();


    protected override async Task OnInitializedAsync()
    {
        is_loading = true;
        await LoadData();

        is_loading = false;
    }


    List<HourlyTimeChargeRateModel> GetHourlyTimeChargeByBusinessBranch(Guid business_branch_id)
    {
        var setting = branch_settings.Where(r => r.business_branch_id == business_branch_id).ToList(); 
        if (setting.Any())
        { 
            var _data = JsonSerializer.Deserialize<List<HourlyTimeChargeRateModel>>(setting.FirstOrDefault().setting_value);
            return _data.ToList();
        }else
        {
            return new List<HourlyTimeChargeRateModel>() ;
        }
    }

    

    async Task LoadData()
    {

        var resp = await http.ApiGetOData("businessbranchsetting?$filter=setting_id eq 113"); //setting id = 113 get hourly time charge configure
        if (resp.IsSuccess)
        {
            branch_settings = new List<BusinessBranchSettingModel>();
            branch_settings = JsonSerializer.Deserialize<List<BusinessBranchSettingModel>>(resp.Content.ToString()); 


            branch_item_charges = new List<BranchItemChargeRateModel>();
            foreach (var branch in gv.business_branch_by_role )
            {
                BranchItemChargeRateModel branch_item_charge = new BranchItemChargeRateModel();
                branch_item_charge.business_branch = branch;
                branch_item_charge.hourly_time_charge_rates = new List<HourlyTimeChargeRateModel>();

                branch_item_charge.hourly_time_charge_rates.AddRange(GetHourlyTimeChargeByBusinessBranch(branch.id));


                branch_item_charges.Add(branch_item_charge);
            }

        }
        else
        {

            toast.Add(lang["Loading time charge rate failed."], MudBlazor.Severity.Warning);
        }


    }

    async Task Save_Click()
    {
        is_saving = true;
        var save_model = new List<BusinessBranchSettingModel>();

        foreach (var b in branch_item_charges)
        {
            var _setting_value = JsonSerializer.Serialize(b.hourly_time_charge_rates);
            save_model.Add(new BusinessBranchSettingModel (){ 
                business_branch_id = b.business_branch.id,
                setting_id = 113,
                setting_value=_setting_value,
            });
        }

        
        var resp = await http.ApiPost("BusinessBranchSetting/save/multiple",save_model);
        if (resp.IsSuccess)
        {

            toast.Add(lang["Save successfully"], MudBlazor.Severity.Success);

            await LoadData();
        }
        else
        {

            toast.Add(lang["Save item charge rate fail"], MudBlazor.Severity.Warning);
        }
        is_saving = false;
    }

    internal class BranchItemChargeRateModel
    {
        public BusinessBranchModel business_branch { get; set; }
        public List<HourlyTimeChargeRateModel> hourly_time_charge_rates { get; set; }

    }
}
