@page "/paymenttype"
@inherits PageCore;

<Loading is_loading="@(is_loading || is_loading_data)" />

@if (!is_loading)   
{
    <Title Value="@state.page_title"></Title>
    <PageContainer roles="@gv.GetRole("payment_type_management")">
        <PageHeader>
            <HeaderLeft>
                <PageTitle>
                    <HeaderTemplate>
                        @state.page_title
                    </HeaderTemplate>
                    <FilterTemplate>
                        <PageFilter title="Status">
                            <ModuleView module_views="@gv.GetModuleView("page_payment_type")" OnClick="@ViewClick" />
                        </PageFilter>
                    </FilterTemplate>
                </PageTitle>
            </HeaderLeft>
            <HeaderRight>
                <AddButton roles="@gv.GetRole("payment_type_add")" OnClick="@AddNew">New</AddButton>
                <RefreshButton OnClick="@(async()=>await LoadData())" />
            </HeaderRight>
        </PageHeader>
        <PageBody>
            <Com is_visible="@(payment_types != null)">
                <Table ShowCounter="true"
                       isLoading="@is_loading_data"
                       Items="@payment_types"
                       ShowPager="false"
                       ShowPagination="false"
                       ShowTotalCount="false"
                       EmptyText="There's no record in the system">
                    <TableHeader>
                        <ThCenter>Image</ThCenter>
                        <Th ClassName="cp col-auto">Payment Type</Th>
                        <Th>Status</Th>
                        <th></th>
                    </TableHeader>
                    <RowTemplate Context="p">
                        <TdCenter>
                            <Image ImageUrl="@(http.ImageUrl(p.photo))" IsBackgroundImage="true" Width="50px" Height="50px" />
                        </TdCenter>
                        <td>
                            @if (p.is_build_in == false)
                                {
                                @if (!p.is_deleted)
                                    {
                                    <ComAuthorize roles="@gv.GetRole("payment_type_edit")" OnClick="@(()=>OnEdit(p.id))">
                                        @p.payment_type_name_en
                                    </ComAuthorize>
                                    }
                                    else
                                    {
                                    @p.payment_type_name_en
                                    }
                                }
                                else
                                {
                                @p.payment_type_name_en
                                }
                        </td> 
                        <TdCenter>
                            @if (p.is_build_in)
                                {
                                <LabelDeleted is_visible="@p.is_deleted" />
                                <LabelActive is_visible="@(!p.is_deleted && p.status)" is_loading="@p.is_change_status" />
                                <LabelInActive is_visible="@(!p.is_deleted && !p.status)" is_loading="@p.is_change_status" />
                                }
                                else
                                {
                                <LabelDeleted is_visible="@p.is_deleted" />
                                <LabelActive is_visible="@(!p.is_deleted && p.status)" OnClick="(()=>OnToogleStatusLabel(p))" roles="@gv.GetRole("payment_type_edit")" is_loading="@p.is_change_status" />
                                <LabelInActive is_visible="@(!p.is_deleted && !p.status)" OnClick="(()=>OnToogleStatusLabel(p))" roles="@gv.GetRole("payment_type_edit")" is_loading="@p.is_change_status" />
                                }
                        </TdCenter>
                        @if (p.is_build_in)
                            {
                            <TdActions is_loading="@p.is_loading">
                                <TableActionItem roles="@gv.GetRole("payment_type_add")" icon="file_copy" OnClick="@(()=>Clone_Click(p.id))">Clone</TableActionItem>
                            </TdActions>
                            }
                            else
                            {
                            <TdActions is_loading="@p.is_loading">
                                <TableActionItem  icon="edit" is_visible="@(!p.is_deleted)" OnClick="@(()=>OnEdit(p.id))">Edit</TableActionItem>
                                <TableActionItem roles="@gv.GetRole("payment_type_add")" icon="file_copy" OnClick="@(()=>Clone_Click(p.id))">Clone</TableActionItem>
                                <TableActionItem roles="@gv.GetRole("payment_type_edit")" icon="highlight_off" is_visible="@(p.status && !p.is_deleted)" OnClick="@(()=>OnToogleStatus(p))">Inactive</TableActionItem>
                                <TableActionItem roles="@gv.GetRole("payment_type_edit")" icon="check" is_visible="@(!p.status && !p.is_deleted)" OnClick="@(() => OnToogleStatus(p))">Active</TableActionItem>
                                <TableActionItem roles="@gv.GetRole("payment_type_delete")" icon="delete" is_visible="@(!p.is_deleted && !p.is_build_in)" OnClick="@(() => OnDelete(p))">Delete</TableActionItem>
                                <TableActionItem roles="@gv.GetRole("payment_type_restore")" icon="refresh" is_visible="@(p.is_deleted)" OnClick="@(()=>OnRestore(p))">Restore</TableActionItem>
                            </TdActions>
                            }
                    </RowTemplate>
                </Table>
            </Com>
        </PageBody>
        @if (ShowModal)
        {
            <ComAddPaymentType @bind-is_dialog_open="@ShowModal" payment_type="@model" Cancel_click="@(()=> { ShowModal = false; model = new PaymentTypeModel();  })" Save_Click="@OnSave" modal_title="@ModalTitle" />
        }
    </PageContainer>
}
@code{
    List<PaymentTypeModel> payment_types = new List<PaymentTypeModel>();
    PaymentTypeModel model = new PaymentTypeModel();
    List<FilterModel> filters = new List<FilterModel>();
    string page_title = "";

    bool ShowModal = false;
    string ModalTitle = "";

    string controller_api = "PaymentType";
    DateTime date = DateTime.Now;
    string url = "";

    public string ControllerApi
    {
        get
        {
            return url = $"{controller_api}";
        }
    }

    protected override async Task OnInitializedAsync()
    {
        is_loading = true;

        if (page_title == "")
        {
            page_title = "Payment Type";
            var default_view = gv.GetDefaultModuleView("page_payment_type");
            if (default_view != null)
            {
                page_title = default_view.title;
                filters = default_view.filters;
            }
        }
        await LoadData();
    }

    void AddNew()
    {
        model = new PaymentTypeModel();
        ShowModal = true;
        ModalTitle = "Add New";
    }

    async Task Clone_Click(int id)
    {
        is_loading_data = true;
        var resp = await http.ApiPost(controller_api + "/clone/" + id);
        if (resp.IsSuccess)
        {
            model = JsonSerializer.Deserialize<PaymentTypeModel>(resp.Content.ToString());
        }
        ModalTitle = "Clone:" + model.payment_type_name_en;
        ShowModal = true;
        is_loading_data = false;
    }

    async Task ViewClick(ModuleViewModel m)
    {
        filters.Clear();
        filters = m.filters;
        page_title = m.title;
        await LoadData();
    }

    async Task LoadData(string api_url = "")
    {

        is_loading = true;
        if (string.IsNullOrEmpty(api_url))
        {
            api_url = $"{ControllerApi}";
        }
        var resp = await http.ApiGetOData(api_url);
        if (resp.IsSuccess)
        {
            payment_types = JsonSerializer.Deserialize<List<PaymentTypeModel>>(resp.Content.ToString());
        }
        is_loading = false;
    }

    async Task OnSave()
    {
        model = new PaymentTypeModel();
        ShowModal = false;
        await LoadData();
    }


    async Task OnEdit(int id)
    {
        is_loading_data = true;
        var resp = await http.ApiGet(controller_api + $"({id})");
        if (resp.IsSuccess)
        {
            model = JsonSerializer.Deserialize<PaymentTypeModel>(resp.Content.ToString());
        }
        ModalTitle = "Edit:" + model.payment_type_name_en;
        ShowModal = true;
        is_loading_data = false;
    }


    async Task OnToogleStatus(PaymentTypeModel p)
    {
        p.is_loading = true;
        await SaveStatus(p);
        p.is_loading = false;
    }

    async Task OnToogleStatusLabel(PaymentTypeModel p)
    {
        p.is_change_status = true;
        await SaveStatus(p);
        p.is_change_status = false;
    }

    async Task SaveStatus(PaymentTypeModel p)
    {
        var paymentType = new PaymentTypeModel();
        paymentType = p;
        paymentType.status = !paymentType.status;
        var resp = await http.ApiPost(controller_api + "/save", paymentType);
        if (resp.IsSuccess)
        {
            toast.Add("Change status successfully", MatToastType.Success);
            await LoadData();
        }
    }

    async Task OnDelete(PaymentTypeModel p)
    {
        p.is_loading = true;
        if (await js.Confirm("Delete Payment Type", "Are you sure you want to delete this record?"))
        {

            var resp = await http.ApiPost(controller_api + "/delete/" + p.id);


            if (resp.IsSuccess)
            {
                await LoadData();
            }
            toast.Add("Delete Payment Type successfully", MatToastType.Success);
        }
        p.is_loading = false;
    }

    async Task OnRestore(PaymentTypeModel p)
    {
        p.is_loading = true;
        if (await js.Confirm("Restore Payment Type", "Are you sure you want to restore this record?"))
        {

            var resp = await http.ApiPost(controller_api + "/delete/" + p.id);

            if (resp.IsSuccess)
            {
                await LoadData();
            }
            toast.Add("Restore Payment Type successfully", MatToastType.Success);

        }
        p.is_loading = false;

    }
}




