@page "/outletstation"

@inherits PageCore

<Loading is_loading="@is_loading" />
@if (!is_loading)
{
    <Title Value="@lang["Outlet & Station"]"></Title>
    <PageContainer roles="@gv.GetRole("business_information")">
        <PageHeader>
            <HeaderLeft>
                <PageTitle ShowFilter="false">
                    <HeaderTemplate>
                        @lang["Outlet & Station"]
                    </HeaderTemplate>
                </PageTitle>
            </HeaderLeft>
            <HeaderRight>
            </HeaderRight>
        </PageHeader>
            <PageBody>
                <UIGridCenter>

                    @foreach (var d in models.Where(r => r.is_deleted == false).ToList())
                    {
                    <div class="container-layout">
                        <div class="title-header">
                            <div class="uk-panel">
                                <div class="uk-float-left">
                                    <span>
                                        @d.outlet_name_en
                                    </span>
                                </div>
                                <div class="uk-float-right">
                                    <div>
                                        <span>
                                            <LabelActive is_visible="@d.status" is_loading="@d.is_change_status" />
                                            <LabelInActive is_visible="@(!d.status)" is_loading="@d.is_change_status" />
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <hr />
                        <div>
                            <table class="uk-table cus_hearder_table  view_table set-verticle-middle uk-table-small uk-table-striped uk-table-hover">
                                <tr>
                                    <Th>@lang["Station Name En"]</Th>
                                    <Th>@lang["Station Name Kh"]</Th>

                                </tr>

                                <ViewEmptyTemplate is_view="@d.stations.Any()" colspan="2">
                                    @foreach (var s in d.stations)
                                    {
                                        <tr>

                                            <td>@s.station_name_en </td>

                                            <td>@s.station_name_kh</td>
                                        </tr>
                                    }
                                </ViewEmptyTemplate>
                            </table>
                        </div>
                    </div>
                    }
                </UIGridCenter>
            </PageBody>
    </PageContainer>
}

@code{
    List<OutletModel> models = new List<OutletModel>();
    List<StationModel> station = new List<StationModel>();
    string ControllerApi = "Outlet";

    protected override async Task OnInitializedAsync()
    {
        is_loading = true;
        await LoadData();
        is_loading = false;
    }



    async Task LoadData(string api_url = "")
    {

        is_loading_data = true;

        if (string.IsNullOrEmpty(api_url))
        {

            api_url = $"{ControllerApi}?$expand=stations($select=station_name_en,station_name_kh,id;$filter= is_deleted eq false)";
        }

        var resp = await http.ApiGetOData(api_url);
        if (resp.IsSuccess)
        {

            models = JsonSerializer.Deserialize<List<OutletModel>>(resp.Content.ToString());

        }
        is_loading_data = false;

    }
 

}
