@page "/"
@inject NavigationManager nav;
@inject eKnowledgebase.Services.eKnowledgebaseService s;
<PageTitle>Home Page</PageTitle>

@if (is_loading)
{
    <div>loading...</div>
}else
{
    
    <MudContainer MaxWidth="MaxWidth.Medium">
     <MudGrid Spacing="3">
        @foreach(var d in models.Where(r=>r.is_public==true).OrderBy(r=>r.sort_order)){ 
          <MudItem xs="6" md="6" lg="4" Class="cus_homepage">
              <MudCard @onclick="@(()=> nav.NavigateTo($"app/{d.id}"))" Elevation="25" Style="text-align: center;min-height:200px;" Class="d-flex align-center justify-center pc pa-2 mud-width-full mud-height-full">
                    <div>
                       <MudCardContent>
                        <MudText Typo="Typo.h6">@state.GetTitleText(d)</MudText>
                     </MudCardContent>
                        @if((d.photo_en.Split('.')[d.photo_en.Split('.').Length-1]) == "ico" || (d.photo_en.Split('.')[d.photo_en.Split('.').Length-1]) == "ico")
                        {
                                @if (state.GetImageUrl(d) != "")
                                {
                                    <img src="@state.GetImageUrl(d)"/>
                                }
                        }
                        else
                        {
                            <MudHidden Breakpoint="Breakpoint.SmAndDown">
                                @if (state.GetImageUrl(d) != "")
                                {
                                    <img src="@state.GetImageUrl(d)" style="width:200px;"/>
                                }
                            </MudHidden>
                            <MudHidden Breakpoint="Breakpoint.MdAndUp">
                                 @if (state.GetImageUrl(d) != "")
                                {
                                    <img src="@state.GetImageUrl(d)" style="width:150px;"/>
                                }
                            </MudHidden>
                           
                        }
                        
                    </div>
            </MudCard>
        </MudItem>
        }
    </MudGrid>
    </MudContainer>
}




@code{
    List<eKnowledgebaseModel> models = new();
    bool is_loading;

    [CascadingParameter]
    public AppState state { get; set; }
    protected override async Task OnInitializedAsync()
    {
        is_loading = true;
        models = await s.GetModulesAsync();
        is_loading = false;
    }

}