@inject IStringLocalizer<Resource> lang
<Com is_visible="@is_visible">
    <div style="min-width: 794px">
        <ComAlert type="success" show_close="false">
            <Grid ClassName="uk-grid-small">
                <div class="uk-width-auto">
                    <Icon icon="help" size="50px" icon_color="#32d296" />
                </div>
                <div class="uk-width-expand">
                    <p class="uk-text-bold">@title</p>
                    <p>@message</p>
                </div>
                <div class="uk-width-auto">
                    <Button OnClick="@OnClick" class_name="fulfilled">@lang["Mark as Fulfilled"]</Button>
                </div>
            </Grid>
        </ComAlert>
        <Spacing Number="25" />
    </div>
    
</Com>
@code {
    [Parameter] public bool is_visible { get; set; } = true;

    private string _title;
    [Parameter] 
    public string title
    {
        get
        {
            if (string.IsNullOrEmpty(_title)){
                _title = lang["What Next?"];
            }
            return _title;
        }
        set
        {
            _title = value;
        }
    }

    private string _message;
    [Parameter] 
    public string message
    {
        get
        {
            if (string.IsNullOrEmpty(_message))
                _message = lang["You can mark this transansaction as Fulfilled."];

            return lang[_message];
        }
        set
        {
            _message = value;
        }
    }
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
}
