@if (is_visible)
{
<div class="model-footer @ClassName">
    <div uk-margin>
        @if (is_action_form)
        {
            <div uk-margin class="uk-flex">
                @if (show_deleted)
                {
                    <div>
                        <Button roles="@RoleDelete" icon="delete" class_name="danger" OnClick="@OnDeleteClick" disabled="@is_submitting">Delete</Button>
                    </div>
                }
            <div class="uk-margin-auto-right">
                <ComButtonLoading is_loading="@is_submitting">
                    <Button is_visible="@is_open_button_save_and_new" roles="@RoleAdd" type="submit" icon="save" OnClick="@OnNewSaveClick">Save & New</Button>
                    <Button roles="@RoleAdd" type="submit" icon="save" OnClick="OnSaveClick">Save</Button>
                    <Button icon="reply" class_name="danger" OnClick="@OnCancelClick">Cancel</Button>
                </ComButtonLoading>                    
            </div>
            </div>
        }
        else
        {
            @ChildContent
        }

    </div>
</div>
}
    @code{
        [Parameter] public RenderFragment ChildContent { get; set; }
        [Parameter] public string ClassName { get; set; }
        [Parameter] public bool is_open_button_save_and_new { get; set; } = false;
        [Parameter] public bool is_submitting { get; set; } = false;
        [Parameter] public bool is_action_form { get; set; } = true;
        [Parameter] public bool show_deleted { get; set; } = false;
        [Parameter] public EventCallback OnCancelClick { get; set; }
        [Parameter] public EventCallback OnNewSaveClick { get; set; }
        [Parameter] public EventCallback OnSaveClick { get; set; }
        [Parameter] public EventCallback OnDeleteClick { get; set; }
        [Parameter] public string RoleAdd { get; set; }
        [Parameter] public string RoleDelete { get; set; }
        [Parameter] public bool is_visible { get; set; } = true;
    }
