@page "/inventorycheck/{id:guid}";
@inherits PageInventoryCheckDetailBase

@if (is_loading_data || is_loading)
{
    <Loading is_loading="@( is_loading_data || is_loading_data)" />

}

@if (!is_loading && is_error == false)
{
    <Title Value="@($"{lang["Inventory Checked"]}: {model.document_number}")"></Title>

    <PageContainer roles="@gv.GetRole("inventory_check_management")">
        <PageHeader>
            <HeaderLeft>
                <PageTitle ShowFilter="false">
                    <HeaderTemplate>
                        @model.document_number
                        <ComInventoryCheckStatus model="@model" />
                    </HeaderTemplate>
                </PageTitle>
            </HeaderLeft>
            <HeaderRight ShowBackButton="true">
                <ComInventoryCheckDetail_ActionButton OnRefresh="@OnRefresh" @bind-model="@model" />
            </HeaderRight>
        </PageHeader>
        <PageBody>
            <MudTabs PanelClass="pa-4">
                <MudTabPanel Text="@lang["Inventory Check Information"]" >
                    <ComMarkInvoiceFulfilled is_visible="@(!model.is_fulfilled && !model.is_deleted)" OnClick="@MarkAsFulfilled" />
                    <UIGridCenter>
                        <MudExpansionPanels>
                            <MudExpansionPanel Text="@lang["General Information"]">
                                <UIContainerBox Title="@lang["Inventory Check Date"]">
                                    <ComAlert type="primary">
                                        <div class="uk-padding">
                                            <h4 class="uk-margin-remove uk-text-center">@model.end_date.ToString(gv.date_time_format)</h4>
                                        </div>
                                    </ComAlert>
                                </UIContainerBox>
                                <UIContainerBox Title="@lang["Inventory Check Information"]">
                                    <TextInput label="@lang["Document #"]" text="@model.document_number" is_read_only="true" />
                                    <TextInput @bind-text="@model.reference_number" placeholder="@lang["Referance #"]" label="@lang["Referance #"]" is_read_only="true" />
                                </UIContainerBox>
                                <UIContainerBox Title="@lang["Warehouse"]">
                                   <ListTable>
                                       <ListTableItem ItemTitle="@lang["Business Branch"]">@model.business_branch?.business_branch_name_en</ListTableItem>
                                       <ListTableItem ItemTitle="@lang["Warehouse"]">@model.stock_location?.stock_location_name</ListTableItem>
                                   </ListTable>
                                </UIContainerBox>
                            </MudExpansionPanel>

                        </MudExpansionPanels>

                        <Spacing Number="4"/>
                        <ComInventoryCheckProducts id="@id"/>
                    </UIGridCenter>
                </MudTabPanel>
                <MudTabPanel Text="@lang["Comment and History"]"  OnClick="@ShowComment">
                    @if (is_show_comment)
                    {
                        <ComHistory RoleAdd="@gv.GetRole("inventory_check_add")"
                                    RoleDelete="@gv.GetRole("sinventory_check_delete")"
                                    RoleEdit="@gv.GetRole("inventory_check_edit")"
                                    ApiFilter="@($"inventory_check_id eq {id}")"
                                    history="@history" />

                    }
                </MudTabPanel>
            </MudTabs>
           
            <div class="spacing40"></div>
        </PageBody>
    </PageContainer>

}

@if (is_error)
{
    <Error title="@lang["Inventory Check Detail"]">
        @error_text
    </Error>
}