@page "/productpriceadjustment"
@inherits PageProductPriceAdjustmentBase

<Loading is_loading="@(is_loading || is_loading_data)" />
@if (!is_loading)
{
    @if (!is_error)
    {
        <Title Value="@(lang["Product Price Adjustment"])"></Title>
        <PageContainer roles="@gv.GetRole("product_price_adjustment")">
            <PageHeader>
                <HeaderLeft>
                    <PageTitle ShowFilter="false">
                        <HeaderTemplate>
                            @lang["Product Price Adjustment"]
                        </HeaderTemplate>
                    </PageTitle>
                </HeaderLeft>
                <HeaderRight ShowBackButton="true">
                    <ComSearch @bind-Keyword="@keyword">

                    </ComSearch>
                </HeaderRight>
            </PageHeader>
       
                <PageBody>
                 
                    <UIGridCenter>

                        @foreach (var c in model.categories)
                        {
                            if (c.product.Where(r => r.total_product_portion > 0 && r.p_name.Contains(keyword)).Any())
                            {
                            <ComAccordion>
                                <Header>
                                    @c.product_category_en (@c.product.Where(r => r.total_product_portion > 0 && r.p_name.Contains(keyword)).Count())
                                </Header>
                                <Content>
                                    <table class="uk-table  view_table set-verticle-middle uk-table-small uk-table-striped uk-table-hover ">
                                        <tr>
                                            <Th>@lang["Product"]</Th>
                                            <Th>@lang["Portion"]</Th>
                                            @foreach (var pr in model.price_rules)
                                            {
                                        <Th>@pr.price_name</Th>
                                            }
                                        </tr>
                                        <tbody>
                                            @foreach (var p in c.product.Where(r => r.p_name.Contains(keyword)))
                                            {
                                                if (p.product_portion.Count() > 1)
                                                {
                                            <tr>
                                                <td rowspan="@p.product_portion.Count()">
                                                    <a href="product/@p.id">@p.p_name</a>
                                                </td>
                                                <td>
                                                    @p.product_portion.FirstOrDefault().p_name
                                                </td>

                                                @foreach (var pr in model.price_rules)
                                                {
                                            <td>
                                                @if (p.product_portion.FirstOrDefault().product_price.Where(r => r.pr_id == pr.id).Any())
                                                {
                                                    <NumberInput text="@p.product_portion.FirstOrDefault().product_price.Where(r => r.pr_id == pr.id).FirstOrDefault().price" textChanged="@((n) => OnPriceChanged(p.product_portion.FirstOrDefault().product_price.Where(r => r.pr_id == pr.id).FirstOrDefault(), n))" />
                                                }
                                            </td>
                                                }
                                            </tr>

                                            @foreach (var pp in p.product_portion.Skip(1))
                                            {
                                        <tr>
                                            
                                            <td>
                                                @pp.p_name
                                            </td>

                                            @foreach (var pr in model.price_rules)
                                            {
                                                <td>
                                                    @if (pp.product_price.Where(r => r.pr_id == pr.id).Any())
                                                    {
                                                        <NumberInput text="@pp.product_price.Where(r => r.pr_id == pr.id).FirstOrDefault().price" textChanged="@((n) => OnPriceChanged(pp.product_price.Where(r => r.pp_id == pp.id && r.pr_id == pr.id).FirstOrDefault(), n))" />
                                                    }
                                                </td>
                                            }
                                        </tr>
                                            }
                                                }
                                                else if (p.product_portion.Count() == 1)
                                                {
                                        <tr>
                                            <td>
                                                <a href="product/@p.id">@p.p_name</a>
                                            </td>

                                            <td>
                                                @p.product_portion.FirstOrDefault().p_name
                                            </td>

                                            @foreach (var pr in model.price_rules)
                                            {



                                        <td>
                                          
                                            @if (p.product_portion.FirstOrDefault().product_price.Where(r => r.pr_id == pr.id).Any())
                                            {
                                                <NumberInput text="@p.product_portion.FirstOrDefault().product_price.Where(r => r.pr_id == pr.id).FirstOrDefault().price" textChanged="@((n) => OnPriceChanged(p.product_portion.FirstOrDefault().product_price.Where(r => r.pr_id == pr.id).FirstOrDefault(), n))" />

                                            }

                                        </td>
                                            }
                                        </tr>
                                                }



                                            }
                                        </tbody>
                                    </table>
                                     
                                </Content>
                            </ComAccordion>
                            }
                        }

                    </UIGridCenter>
                          
                </PageBody>
               
         
        </PageContainer>
    }
    else
    {
        <Error title="@lang["Product Price Adjustment"]">@error_text</Error>
    }

}
