@inject IStringLocalizer<Resource> lang

<ComPanel Title="@(lang["Summary Invoice"])">
    <div>
        <label style="font-size:12px;">@lang["Close Orders"] (@data.total_closed_order.ToString(gv.quantity_format)/@data.total_order.ToString(gv.quantity_format))</label>
        <div class="progress_bar">
            @if (data.total_order == 0 || data.total_closed_order == 0)
            {
                <div style="width:0%; color:#a5a5a5;" class="text_persen">0.00%</div>
            }
            else
            {
                <div style="width:@((data.total_closed_order/data.total_order).ToString("P"))" class="uk-background-primary text_persen">@((data.total_closed_order/data.total_order).ToString("P"))</div>
            }
        </div>
        <label style="font-size:12px;">@lang["Pending Orders"] (@data.total_active_order.ToString(gv.quantity_format)/@data.total_order.ToString(gv.quantity_format))</label>
        <div class="progress_bar">

            @if (data.total_order == 0 || data.total_active_order == 0)
            {
                <div style="width:0%; color:#a5a5a5;" class="text_persen">0.00%</div>
            }
            else
            {
                <div style="width:@((data.total_active_order/data.total_order).ToString("P")); background-color: #ff8820;" class="text_persen">@((data.total_active_order/data.total_order).ToString("P"))</div>
            }
        </div>

        <label style="font-size:12px;">@lang["Void Orders"] (@data.total_deleted_order.ToString(gv.quantity_format)/@data.total_order.ToString(gv.quantity_format))</label>
        <div class="progress_bar">
            @if (data.total_order == 0 || data.total_deleted_order == 0)
            {
                <div style="width:0%; color:#a5a5a5;" class="text_persen">0.00%</div>
            }
            else
            {
                <div style="width:@((data.total_deleted_order/data.total_order).ToString("P")); background-color:#ff3324;" class="text_persen">@((data.total_deleted_order/data.total_order).ToString("P"))</div>
            }
        </div>
    </div>
</ComPanel>

   
@code{
    [Parameter] public DashboardKPIModel data { get; set; }
    List<ChartModel> chart_data = new List<ChartModel>();
    [CascadingParameter] public GlobalVariableModel gv { get; set; }
    protected override void OnInitialized()
    {
        chart_data.Add(new ChartModel() { label = lang["Close Orders"], value =data.total_closed_order, color = "#ff8820" });
        chart_data.Add(new ChartModel() { label = lang["Pending Orders"], value =data.total_active_order, color = "#ff8820" });
        chart_data.Add(new ChartModel() { label = lang["Void Orders"], value =data.total_deleted_order, color = "#ff3324" });
    }
    private ApexCharts.ApexChartOptions<ChartModel> GetOptions()
    {
        var options = new ApexCharts.ApexChartOptions<ChartModel>();
        options.Colors = chart_data.OrderBy(r => r.label).Select(r => r.color).ToList();
        return options;
    }


    class ChartModel
    {
        public string label { get; set; }
        public decimal value { get; set; }
        public string color { get; set; }
    }

}