@inject IHttpService http
@inject IStringLocalizer<Resource> lang
@inject NavigationManager nav

<Com is_visible="@(models != null)">
    <Table Items="@models"
           ShowPagination="false"
           ShowTotalCount="false"
           ShowPager="false"
           ShowCounter="false"
           ClassName="uk-table-small uk-table-striped uk-table-hover"
           ScrollClass="uk-overflow-auto" >
        <TableHeader> 
            <ThCenter>@lang["Working Date"]</ThCenter>
            <ThCenter>@lang["Closed Date"]</ThCenter>
            <ThCenter>@lang["Document #"]</ThCenter>
            <ThAuto>@lang["Customer"]</ThAuto>
            <ThAuto><div>@lang["Business Branch"]</div><div class="sub-header-table">@lang["Outlet"]</div></ThAuto>
            <ThRight>@lang["Total Amount"]</ThRight>
            <ThRight>@lang["Paid Amount"]</ThRight>
            <ThRight>@lang["Balance"]</ThRight>
            <ThRight>@lang["Status"]</ThRight>
            <th class="uk-width-auto"></th>
        </TableHeader>
        <RowTemplate Context="p">
            <TdCenter>
                <ComAuthorize roles="@gv.GetRole("customer_management")" url="@($"receiptlist/{p.working_day_id}")">@p.working_date.ToString(gv.date_format)</ComAuthorize>
            </TdCenter>
            <TdCenter>
                <Column is_visible="@(p.closed_date != null)">
                    @p.closed_date.Value.ToString(gv.date_format)
                </Column>
            </TdCenter>
            <TdCenter>
                <ComAuthorize roles="@gv.GetRole("customer_management")" url="@($"receiptlist/{p.id}")">@p.document_number</ComAuthorize>
            </TdCenter>
            <td>
                <ComProfileInfo url="@($"customer/{p.customer_id}")" photo="@p.customer?.photo" role="customer_management">@p.customer?.customer_code_name</ComProfileInfo>
            </td>
            <td>
                <div>
                    @p.business_branch?.business_branch_name_en
                </div>
                <div class="sub-info-row-table">
                    @p.outlet?.outlet_name_en
                </div>
            </td> 
            <TdRight>
                @p.total_amount.ToString(gv.main_currency_format)
            </TdRight>
            <TdRight>
                @p.paid_amount.ToString(gv.main_currency_format)
            </TdRight>
            <TdRight>
                @p.balance.ToString(gv.main_currency_format)
            </TdRight>
            <TdRight>
                <ComSaleStatus sale="@p"/>
            </TdRight>
            <TdCenter>
                <Icon icon="visibility" OnClick="@(()=>nav.NavigateTo($"receiptlist/{p.id}"))" />
            </TdCenter>
        </RowTemplate>
    </Table>
</Com>

@code {
    [Parameter] public string business_branch_id { get; set; }
    [CascadingParameter] public GlobalVariableModel gv { get; set; }
    List<SaleModel> models = new List<SaleModel>();
    string filter_business_branch_ids = "";
    bool is_loading = false;

    protected override async Task OnInitializedAsync()
    {
        is_loading = true;
        if (!string.IsNullOrEmpty(business_branch_id))
        {
            filter_business_branch_ids = " and (";
            foreach (var b in business_branch_id.Split(","))
            {
                filter_business_branch_ids += "business_branch_id eq " + b + " or ";
            }
            filter_business_branch_ids = filter_business_branch_ids.Remove(filter_business_branch_ids.LastIndexOf(" or ")).TrimEnd();
            filter_business_branch_ids += ")";
            var resp = await http.ApiGetOData($"sale?$expand=customer($select=id,customer_name_en,customer_name_kh,customer_code,photo),outlet($select=id,outlet_name_en,outlet_name_kh),business_branch($select=business_branch_name_en,business_branch_name_kh)&$filter=is_deleted eq false {filter_business_branch_ids}&$top=10&$orderby=working_date desc");
            if (resp.IsSuccess)
            {
                models = JsonSerializer.Deserialize<List<SaleModel>>(resp.Content.ToString());
            }
        }

        is_loading = true;
    }

}
