@inject IStringLocalizer<Resource> lang

@if (gv.system_feature_status("CPV"))
{
    <div class="uk-grid-small" uk-grid uk-height-match="target: > div > .coupon-kpi">
        <div class="uk-width-1-2 uk-width-1-3@s uk-width-1-3@m uk-width-1-6@l">
            <div class="coupon-kpi kpi-sc">
                <div class="title-kpi uk-text-left uk-margin-small-bottom">@lang["Sale Coupon"]</div>
                <div>
                    <div class="uk-text-center uk-text-large">@data.today_coupon_amount.ToString(gv.currency_format)</div>
                    <div class="uk-text-center uk-text-small">@lang["Today"]</div>
                    <div class="uk-flex-between uk-flex">
                        <div>@lang["MTD"]</div>
                        <div>@data.mtd_coupon_amount.ToString(gv.currency_format)</div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="uk-width-1-2 uk-width-1-3@s uk-width-1-3@m uk-width-1-6@l">
            <div class="coupon-kpi total-coupon">
                <div class="title-kpi uk-text-left uk-margin-small-bottom">@lang["Total Coupon"]</div>
                <div>
                    <div class="uk-text-center uk-text-large">@data.today_coupon.ToString(gv.quantity_format)</div>
                    <div class="uk-text-center uk-text-small">@lang["Today"]</div>
                    <div class="uk-flex-between uk-flex">
                        <div>@lang["MTD"]</div>
                        <div>@data.mtd_coupon.ToString(gv.quantity_format)</div>
                    </div>
                </div>

            </div>
        </div>
        <div class="uk-width-1-2 uk-width-1-3@s uk-width-1-3@m uk-width-1-6@l">
            <div class="coupon-kpi kpi-suc">
                <div class="title-kpi uk-text-left uk-margin-small-bottom">@lang["Sale Used Coupon"]</div>
                <div>
                    <div class="uk-text-center uk-text-large">@data.today_sale_use_coupon_amount.ToString(gv.currency_format)</div>
                    <div class="uk-text-center uk-text-small">@lang["Today"]</div>
                    <div class="uk-flex-between uk-flex">
                        <div>@lang["MTD"]</div>
                        <div>@data.mtd_sale_use_coupon_amount.ToString(gv.currency_format)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-1-2 uk-width-1-3@s uk-width-1-3@m uk-width-1-6@l">
            <div class="coupon-kpi kpi-refund">
                <div class="title-kpi uk-text-left uk-margin-small-bottom">@lang["Refund"]</div>
                <div>
                    <div class="uk-text-center uk-text-large">@data.today_coupon_refund.ToString(gv.currency_format)</div>
                    <div class="uk-text-center uk-text-small">@lang["Today"]</div>
                    <div class="uk-flex-between uk-flex">
                        <div>@lang["MTD"]</div>
                        <div>@data.mtd_coupon_refund.ToString(gv.currency_format)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-2-2 uk-width-1-3@s uk-width-4-6@m uk-width-2-6@l">
            <div class="coupon-kpi kpi-bc">
                <div class="title-kpi uk-text-left uk-margin-small-bottom">@lang["Balance"]</div>
                <div>
                    <div class="uk-text-center uk-text-large">@data.today_coupon_balance.ToString(gv.currency_format)</div>
                    <div class="uk-text-center uk-text-small">@lang["Today"]</div>
                    <div class="uk-flex-between uk-flex">
                        <div>@lang["MTD"]</div>
                        <div>@data.mtd_coupon_balance.ToString(gv.currency_format)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<div class="uk-grid-small" uk-grid uk-height-match="target: > div > .bg_kpi">
    <div class="uk-width-1-2 uk-width-1-3@s uk-width-1-3@m uk-width-1-6@l">
        <div class="bg_kpi bg_today_amount">
            <div class="ttle_number">@data.today_sale_amount.ToString(gv.currency_format)</div>
            <span class="title-kpi">@lang["Today Sale Revenue"]</span>
        </div>
    </div>
    <div class="uk-width-1-2 uk-width-1-3@s uk-width-1-3@m uk-width-1-6@l">
        <div class="bg_kpi bg_today_order">
            <div class="ttle_number">@((data.total_active_order + data.total_closed_order).ToString(gv.quantity_format))</div>
            <span class="title-kpi">@lang["Today Order"]</span>
        </div>
    </div>
    <div class="uk-width-1-2 uk-width-1-3@s uk-width-1-3@m uk-width-1-6@l">
        <div class="bg_kpi bg_today_mtd">
            <div class="ttle_number">@data.today_sale_quatity.ToString(gv.quantity_format)</div>
            <span class="title-kpi">@lang["Today Sale Quantity"]</span>
        </div>
    </div>
    <div class="uk-width-1-2 uk-width-1-3@s uk-width-1-3@m uk-width-1-6@l">
        <div class="bg_kpi bg_today_quantity">
            <div class="ttle_number">@data.mtd_sale_amount.ToString(gv.currency_format)</div>
            <span class="title-kpi">@lang["MTD Sale Revenue"]</span>

        </div>
    </div>
    <div class="uk-width-1-2 uk-width-1-3@s uk-width-1-3@m uk-width-1-6@l">
        <div class="bg_kpi bg_today_Order_mtd">
            <div class="ttle_number">@data.mtd_order.ToString(gv.quantity_format)</div>
            <span class="title-kpi">@lang["MTD Order"]</span>

        </div>
    </div>
    <div class="uk-width-1-2 uk-width-1-3@s uk-width-1-3@m uk-width-1-6@l">
        <div class="bg_kpi bg_today_quantity_mtd">
            <div class="ttle_number">@data.mtd_sale_quantity.ToString(gv.quantity_format)</div>
            <span class="title-kpi">@lang["MTD Sale Quantity"]</span>

        </div>
    </div>
</div>


@code{
    [Parameter] public DashboardKPIModel data { get; set; }
    [CascadingParameter] public GlobalVariableModel gv { get; set; }
} 