@if (is_visible)
{
    if (roles == "")
    {
        @if (uk_toggle != "")
        {
            <button class="uk-button uk-button-@class_name @custom_class" @onclick="@onClick" uk-tooltip="@title" type="@type" uk-toggle="target: @uk_toggle" disabled="@disabled" style="width:@width">
                @if (line_icon != "")
                {
                    <LineIcon IconName="@line_icon" icon_color="@icon_color"/>
                }
                else if (icon != "")
                {

                    <Icon icon="@icon" icon_color="@icon_color" size="@icon_size"/>
                }

                @ChildContent
            </button>
        }
        else
        {
            <button class="uk-button uk-button-@class_name @custom_class" @onclick="@onClick" uk-tooltip="@title" type="@type" disabled="@disabled" style="width:@width">

                @if (line_icon != "")
                {
                    <LineIcon IconName="@line_icon" icon_color="@icon_color"/>
                }
                else if (icon != "")
                {

                    <Icon icon="@icon" icon_color="@icon_color" size="@icon_size"/>
                }

                @ChildContent

            </button>
        }
    }
    else
    {
        <AuthorizeView Roles="@roles">
            @if (uk_toggle != "")
            {
                <button class="uk-button uk-button-@class_name @custom_class" @onclick="@onClick" uk-tooltip="@title" type="@type" uk-toggle="target: @uk_toggle" disabled="@disabled" style="width:@width">
                    @if (line_icon != "")
                    {
                        <LineIcon IconName="@line_icon" icon_color="@icon_color"/>
                    }
                    else if (icon != "")
                    {

                        <Icon icon="@icon" icon_color="@icon_color" size="@icon_size"/>
                    }

                    @ChildContent
                </button>
            }
            else
            {
                <button class="uk-button uk-button-@class_name @custom_class" @onclick="@onClick" uk-tooltip="@title" type="@type" disabled="@disabled" style="width:@width">

                    @if (line_icon != "")
                    {
                        <LineIcon IconName="@line_icon" icon_color="@icon_color"/>
                    }
                    else if (icon != "")
                    {

                        <Icon icon="@icon" icon_color="@icon_color" size="@icon_size"/>
                    }

                    @ChildContent

                </button>
            }
        </AuthorizeView>
    }
}






@code{
    [Parameter] public string title { get; set; }
    [Parameter] public string line_icon { get; set; } = "";
    [Parameter] public string icon { get; set; } = "";
    [Parameter] public string icon_color { get; set; } = "";
    [Parameter] public string width { get; set; } = "";
    [Parameter] public string uk_toggle { get; set; } = "";
    [Parameter] public string roles { get; set; } = "";
    [Parameter] public bool is_visible { get; set; } = true;
    [Parameter] public string type { get; set; } = "button";
    [Parameter] public string class_name { get; set; } = "primary";
    [Parameter] public string custom_class { get; set; } = "";
    [Parameter] public string icon_size { get; set; } = "";
    [Parameter] public bool disabled { get; set; } = false;
    [Parameter] public bool spinning { get; set; } = false;

    [Parameter] public RenderFragment ChildContent { get; set; }

    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }

    async Task onClick(MouseEventArgs e)
    {
        if (!disabled)
        {
            await OnClick.InvokeAsync(new MouseEventArgs());
        }
    }
}