@inject IStringLocalizer<Resource> lang
<div class="@(is_horizontal?"uk-form-horizontal":"")">
    <div class="uk-margin-small">
        <label class="uk-form-label" for="@id">@lang[label]</label>
        <div class="uk-form-controls">
            <select id="@id" value="@SelectedValue" @onchange="@((ui) => SelectedValueChange((string)ui.Value))" class="uk-select uk-width-medium uk-form-small">
                <option value="">Please Select An Option</option>
                <option value="dd-MM-yyyy hh:mm t">dd-MM-yyyy hh:mm tt</option>
                <option value="MM/dd/yyyy h:mm tt">MM/dd/yyyy h:mm tt</option>
                <option value="MM/dd/yyyy HH:mm">MM/dd/yyyy HH:mm</option>
                <option value="dddd, dd MMMM yyyy hh:mm tt">dddd, dd MMMM yyyy hh:mm tt</option>
            </select>
        </div>
    </div>
</div>

@code{
    [Parameter] public string selected_value { get; set; } = "dd-MM-yyyy";
    [Parameter] public string label { get; set; } = "Date Time Format";
    [Parameter] public bool is_horizontal { get; set; } = true;

    [Parameter] public EventCallback<string> selected_valueChanged { get; set; }

    public string SelectedValue
    {
        get
        {
            return selected_value;
        }
    }

    Guid id = Guid.NewGuid();



    private async Task SelectedValueChange(string n)
    {
        selected_value = n;
        await selected_valueChanged.InvokeAsync(selected_value);
    }
}
