<Com is_visible="is_visible">
    <Label ClassName="label-sale-status" Background="@sale?.sale_status?.background" Color="@sale?.sale_status?.foreground">@sale?.sale_status?.status_name</Label>
    <LabelPartiallyPaid is_visible="@(sale.is_partially_paid && !sale.is_deleted)" />
    <LabelPaid is_visible="@(sale.is_paid && !sale.is_deleted)" />
    <LabelUnpaid is_visible="@(!sale.is_deleted && !sale.is_paid && (sale.total_amount > 0) && (sale.balance == sale.total_amount) && (@sale?.sale_status?.status_name != "Open Order"))" />
    <Com is_visible="@is_show_deleted_status"><LabelDeleted is_visible="@sale.is_deleted" /></Com>
    <Com is_visible="@(!string.IsNullOrEmpty(sale.discount_code))">
        <Label Background="#f48024" Color="#fff" TextTooltip="Free Of Charge" is_visible="@(sale.discount_code.ToLower() == "foc")">FOC</Label>
    </Com>
</Com>

@code{
    [Parameter] public SaleModel sale { get; set; }
    [Parameter] public bool is_visible { get; set; } = true;
    [Parameter] public bool is_show_deleted_status { get; set; } = true;
}
