@if (is_visible)
{
    if (!string.IsNullOrEmpty(roles))
    {
        <AuthorizeView Roles="@roles">
        @if (!string.IsNullOrEmpty(url))
        {

            if (!disabled)
            {
                <a href="@url" class="uk-button @background @Class_Name" uk-tooltip="@title" target="@target">
                    <Icon icon="@icon" />
                    @ChildContent
                </a>
            }
            else
            {
                <a class="uk-button @background disabled @Class_Name" uk-tooltip="@title">
                    <Icon icon="@icon" />
                    @ChildContent
                </a>
            }


        }
        else
        {

            if (!disabled)
            {
                <a @onclick="OnClick" class="uk-button @background @Class_Name" uk-tooltip="@title" target="@target">
                    <Icon icon="@icon" />
                    @ChildContent
                </a>
            }
            else
            {
                <a class="uk-button @background disabled @Class_Name" uk-tooltip="@title">
                    <Icon icon="@icon" />
                    @ChildContent
                </a>
            }

        }

        </AuthorizeView>
    }
    else
    {
        if (!string.IsNullOrEmpty(url))
        {

            if (!disabled)
            {
                <a href="@url" class="uk-button @background @Class_Name" uk-tooltip="@title" target="@target">
                    <Icon icon="@icon" />
                    @ChildContent
                </a>
            }
            else
            {
                <a class="uk-button @background disabled @Class_Name" uk-tooltip="@title">
                    <Icon icon="@icon" />
                    @ChildContent
                </a>
            }


        }
        else
        {

            if (!disabled)
            {
                <a @onclick="OnClick" class="uk-button @background @Class_Name" uk-tooltip="@title" target="@target">
                    <Icon icon="@icon" />
                    @ChildContent
                </a>
            }
            else
            {
                <a class="uk-button @background disabled @Class_Name" uk-tooltip="@title">
                    <Icon icon="@icon" />
                    @ChildContent
                </a>
            }

        }
    }
}

@code{
    [Parameter] public string title { get; set; } = "";
    [Parameter] public string icon { get; set; } = "";
    [Parameter] public string Class_Name { get; set; } = "";
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string url { get; set; } = "";
    [Parameter] public string roles { get; set; } = "";
    [Parameter] public bool is_visible { get; set; } = true;
    [Parameter] public string background { get; set; } = "";
    [Parameter] public bool disabled { get; set; } = false;
    [Parameter] public string target { get; set; } = "";
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }

}