@inject IStringLocalizer<Resource> lang
<div class="uk-margin-small">
    <label class="uk-form-label" for="@id">@lang[label]</label>
    <div class="uk-form-controls">
        <select id="@id" value="@SelectedValue" @onchange="@((ui) => SelectedValueChange((string)ui.Value))" class="uk-select uk-form-small @width">
            @if (show_empty)
            {
                <option value="0">@lang[empty_text]</option>
            }
            @foreach (var p in gv.roles.Where(r => r.status && !r.is_deleted))
            {
                <option value="@p.id">@p.role_name</option>
            }
        </select>
        @ChildContent
    </div>
</div>

@code{
    [CascadingParameter] public GlobalVariableModel gv { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string label { get; set; } = "Role";
    [Parameter] public bool show_empty { get; set; } = false;
    [Parameter] public string empty_text { get; set; } = "Select Role";

    [Parameter] public string width { get; set; } = "100%";
    [Parameter] public int selected_value { get; set; } = 0;
    [Parameter] public EventCallback<int> selected_valueChanged { get; set; }

    [Parameter] public RoleModel role { get; set; }
    [Parameter] public EventCallback<RoleModel> roleChanged { get; set; }


    public int SelectedValue
    {
        get
        {
            return role == null ? selected_value : role.id;
        }
    }

    Guid id = Guid.NewGuid();

    private async Task SelectedValueChange(string n)
    {
        selected_value = Int32.Parse(n);
        await selected_valueChanged.InvokeAsync(selected_value);
        if (selected_value == 0)
        {
            await roleChanged.InvokeAsync(new RoleModel());
        }
        else
        {
            await roleChanged.InvokeAsync(gv.roles.Where(r => r.id == selected_value).FirstOrDefault());
        }

    }

}
