@inject IStringLocalizer<Resource> lang
<div class="uk-margin-small">
    <label class="uk-form-label" for="@id">@lang["Gender"]</label>
    <div class="uk-form-controls">
        <select id="@id" value="@selected_value" @onchange="@((ui) => SelectedValueChange((string)ui.Value))" class="uk-select uk-width-medium uk-form-small" style="width:@Width">
            <option value="Not Set">@lang["Not Set"]</option>
            <option value="Male">@lang["Male"]</option>
            <option value="Female">@lang["Female"]</option>
        </select>
    </div>
</div>
@code{
    [Parameter] public string selected_value { get; set; } = "Male";
    [Parameter] public string Width { get; set; } = "100%";
    [Parameter] public string label { get; set; } = "Gender";
    [Parameter] public EventCallback<string> selected_valueChanged { get; set; }
    Guid id = Guid.NewGuid();
    private async Task SelectedValueChange(string n)
    {
        selected_value = n;
        await selected_valueChanged.InvokeAsync(selected_value);
    }
}
