@inject IStringLocalizer<Resource> lang
<div class="uk-margin-small">
    <label class="uk-form-label" for="@id">@lang[label]</label>
    <div class="uk-form-controls">
        <select id="@id" value="@SelectedValue" @onchange="@((ui) => SelectedValueChange((string)ui.Value))" class="uk-select uk-form-small @width">
            @if (show_empty)
            {
                <option value="0">@lang[empty_text]</option>
            }
            @foreach (var p in gv.inventory_transaction_type)
            {
                <option value="@p.id">@p.inventory_transaction_type_name</option>
            }
        </select>
        @ChildContent
    </div>
</div>

@code{
    [CascadingParameter] public GlobalVariableModel gv { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string label { get; set; } = "Inventory Transaction Type";
    [Parameter] public bool show_empty { get; set; } = false;
    [Parameter] public string empty_text { get; set; } = "Inventory Transaction Type";

    [Parameter] public string width { get; set; } = "100%";
    [Parameter] public int selected_value { get; set; } = 0;
    [Parameter] public EventCallback<int> selected_valueChanged { get; set; }

    [Parameter] public InventoryTransactionTypeModel inventory_transaction_type { get; set; }
    [Parameter] public EventCallback<InventoryTransactionTypeModel> inventory_transaction_typeChanged { get; set; }


    public int SelectedValue
    {
        get
        {
            return inventory_transaction_type == null ? selected_value : inventory_transaction_type.id;
        }
    }

    Guid id = Guid.NewGuid();

    private async Task SelectedValueChange(string n)
    {
        selected_value = Int32.Parse(n);
        await selected_valueChanged.InvokeAsync(selected_value);
        if (selected_value == 0)
        {
            await inventory_transaction_typeChanged.InvokeAsync(new InventoryTransactionTypeModel());
        }
        else
        {
            await inventory_transaction_typeChanged.InvokeAsync(gv.inventory_transaction_type.Where(r => r.id == selected_value).FirstOrDefault());
        }

    }

}
