@inject IHttpService http
<UIContainerBox Title="@Title" Icon="@Icon" is_visible="IsVisible">
    <Grid ClassName="uk-grid-small">
        <Com is_visible="ShowImage">
            <div class="uk-width-auto">
                <Image ImageUrl="@(http.ImageUrl(ImageUrl))" PopupImageUrl="@(http.ImageUrl(ImageUrl))" IsLightBox="true" IsBackgroundImage="true" Width="100px" Height="100px" />
            </div>
        </Com>
        <div class="uk-width-expand">
            @if (IsFullContent == true)
            {
                <div class="fullcontent-summary-box">
                    @ContentFull
                </div>
            }
            else
            {
                <div class="uk-grid-divider uk-child-width-expand@s profile-overview" uk-grid>
                    <div>
                        @ContentLeft
                        <div class="uk-flex uk-flex-inline">
                            <div> <Icon icon="@Icon" OnClick="@OnClick" /></div>
                        </div>

                    </div>
                    <div>
                        @ContentRight
                    </div>
                </div>
            }

        </div>
    </Grid>
</UIContainerBox>

    @code{
            [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
            [Parameter] public EventCallback<MouseEventArgs> OnClick_Dlete { get; set; }
            [Parameter] public EventCallback<MouseEventArgs> OnClick_Edit { get; set; }
            [Parameter] public string Title { get; set; }
            [Parameter] public string Icon { get; set; }
            [Parameter] public string Icon_dleted { get; set; }
            [Parameter] public string ClassName { get; set; }
            [Parameter] public string ImageUrl { get; set; }
            [Parameter] public bool ShowImage { get; set; } = true;
            [Parameter] public bool IsFullContent { get; set; } = false;
            [Parameter] public bool IsVisible { get; set; } = true;
            [Parameter] public RenderFragment ContentLeft { get; set; }
            [Parameter] public RenderFragment ContentFull { get; set; }
            [Parameter] public RenderFragment ContentRight { get; set; }
    }
