@inject IStringLocalizer<Resource> lang
@if (is_view)
{
    @ChildContent
}
else
{
    if (!string.IsNullOrEmpty(colspan))
    {
        <tr>
            <td colspan="@colspan">
                <ComEmptyTemplate empty="@lang[empty]" padding_top_bottom="15px" icon="@icon" icon_size="30px" class_name="@empty_class" text_size="@text_size" />
            </td>
        </tr>
    }
    else
    {
        if (is_box_empty)
        {
        <UIContainerBox Title="@lang["Empty Box"]">
            <ComEmptyTemplate empty="@lang[empty]" padding_top_bottom="15px" icon="@icon" icon_size="30px" class_name="@empty_class" text_size="@text_size" />
        </UIContainerBox>   
        }
        else
        {
            <ComEmptyTemplate empty="@lang[empty]" padding_top_bottom="15px" icon="@icon" icon_size="30px" class_name="@empty_class" text_size="@text_size" />
        }

    }
}
@code{
    [Parameter] public bool is_view { get; set; }
    [Parameter] public bool is_box_empty { get; set; } = false;
    [Parameter] public string colspan { get; set; }
    [Parameter] public string icon { get; set; } = "inbox";
    [Parameter] public string empty { get; set; } = "There's no record in the system";
    [Parameter] public string empty_class { get; set; }
    [Parameter] public string text_size { get; set; } = "16px";
    [Parameter] public RenderFragment ChildContent { get; set; }

}