@inject NavigationManager nav;
<Com is_visible="@is_visible">
    <div class="db-header-pd @class_name">
        <div class="uk-card-default">
            <div class="db-header-box uk-text-center uk-height-1-1 uk-position-relative">
                <div class="db-header-box-value" style="color: @background_color">
                    @if (!string.IsNullOrEmpty(url))
                    {
                        <ComAuthorize roles="@gv.GetRole(role_name)" OnClick="@(()=>nav.NavigateTo(url))" text_color="@background_color">
                            @ChildContent
                        </ComAuthorize>
                    }
                    else
                    {
                        @ChildContent
                    }
                </div>
                <Column is_visible="@(!string.IsNullOrEmpty(icon))" ClassName="kpi-icon">
                    <Icon icon="@icon" icon_color="@background_color" OnClick="@(()=>nav.NavigateTo(url))"/>
                </Column>
                <div class="db-header-box-ttl" style="background-color: @background_color">
                    @if (!string.IsNullOrEmpty(url))
                    {
                    <ComAuthorize roles="@gv.GetRole(role_name)" OnClick="@(()=>nav.NavigateTo(url))" text_color="@text_color">
                        @title
                    </ComAuthorize>
                    }
                    else
                    {
                        <span>@title</span>
                    }
                    
                    
                </div>
            </div>
        </div>
    </div>
</Com>
@code {

    [CascadingParameter] public GlobalVariableModel gv { get; set; }
    [Parameter] public string title { get; set; }
    [Parameter] public string url { get; set; }
    [Parameter] public string role_name { get; set; }
    [Parameter] public string class_name { get; set; }
    [Parameter] public string icon { get; set; }
    [Parameter] public bool is_visible { get; set; } = true;
    [Parameter] public string background_color { get; set; } = "#d3e3fd";
    [Parameter] public string text_color { get; set; } = "#fff";
    [Parameter] public RenderFragment ChildContent { get; set; }
}
