@if (IsBackgroundImage)
{
    @if (IsLightBox)
    {
        <div uk-lightbox="toggle: div">
            <div @attributes="@CustomAttributes" href="@PopupImageUrl" class="bg_profile_image @ClassName" style="width: @Width !important; height: @Height !important; background-size: cover;" data-src="@ImageUrl" uk-img uk-tooltip="@Tooltip"></div>
        </div>
    }
    else
    {
        <div @attributes="@CustomAttributes" class="bg_profile_image @ClassName" style="width: @Width !important;  height: @Height !important; background-size: cover;" data-src="@ImageUrl" uk-img uk-tooltip="@Tooltip"></div>
    }
}
else
{
    @if (IsLightBox)
    {
        <img @attributes="@CustomAttributes" src="@ImageUrl" alt="@Alt" class="uk-image @ClassName" href="@PopupImageUrl" style="width: @Width !important; max-height: @Height !important;" onError="this.onerror=null;this.src='images/placeholder.svg';" uk-img uk-tooltip="@Tooltip" />
    }
    else
    {
        <img @attributes="@CustomAttributes" src="@ImageUrl" alt="@Alt" class="uk-image @ClassName" style="width: @Width !important; max-height: @Height !important;" onError="this.onerror=null;this.src='images/placeholder.svg';" uk-img uk-tooltip="@Tooltip" />
    }
}

@code{
    [Parameter] public string ImageUrl { get; set; } = "";
    [Parameter] public string PopupImageUrl { get; set; } = "";
    [Parameter] public string Alt { get; set; } = "";
    [Parameter] public string Tooltip { get; set; } = "";
    [Parameter] public string ClassName { get; set; } = "";
    [Parameter] public bool IsLightBox { get; set; } = false;
    [Parameter] public bool IsBackgroundImage { get; set; } = false;
    [Parameter] public string Width { get; set; } = "100%";
    [Parameter] public string Height { get; set; } = "auto";
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> CustomAttributes { get; set; }
    protected override void OnInitialized()
    {
        if (string.IsNullOrEmpty(ImageUrl))
        {
            ImageUrl = "images/placeholder.svg";
        }
        if (string.IsNullOrEmpty(PopupImageUrl))
        {
            PopupImageUrl = ImageUrl;
        }
    }
}