@inject IMatToaster toast;
@inject IHttpService http;
@inject IJSRuntime js;
   
@*<UIContainerBox Title="Contact Information" OnAddClick="AddContact_Click" is_show_add_button="true">
    <table>
        <thead>
            <tr>
                <th>Contact Name</th>
                <th>Phone 1/ Phone 2/ Email</th>
                <th>Gender</th>
                <th>Position</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in model.project_contacts.Where(r=>r.is_deleted==false))
            {
                <tr>
                    <td>
                        <TextInput @bind-text="@c.contact_name">
                            <ValidationMessage For="(()=>c.contact_name)" />
                        </TextInput>
                    </td>
                    <td>
                        <TextInput placeholder="Phone Number 1" @bind-text="@c.phone_1">
                            <ValidationMessage For="(()=>c.phone_1)" />
                        </TextInput>
                        <TextInput placeholder="Phone Number 2" @bind-text="@c.phone_2"></TextInput>
                    </td>
                    <td><SelectGender label="" @bind-selected_value="@c.gender" /></td>
                    <td><TextInput placeholder="Posotion" @bind-text="@c.postion"></TextInput></td>
                    <td><Icon icon="delete" title="Delete This Contact" OnClick="@(()=>DeleteContact_Click(c))" /></td>
                </tr>
                 
            }
        </tbody>
    </table>
   
</UIContainerBox>*@




@code {
    [Parameter] public ProjectModel model { get; set; }
}
