@inject IHttpService  http

<div style="display:flex;">
@if (!string.IsNullOrEmpty(customer.photo))
    {
      <MudAvatar Image="@http.ImageUrl(customer.photo)" />
    }
    else
    {
        <MudAvatar Size="Size.Medium" Color="@MudBlazor.Color.Secondary" Variant="Variant.Filled">
            <MudIcon Icon="@Icons.Material.Filled.Person" />
        </MudAvatar>  
     }

    <div style="padding-left:6px">
      
        <MudText Typo="Typo.body1">@customer.customer_code</MudText>    
       <MudText Typo="Typo.caption">@customer.customer_name_en (@customer.customer_name_kh)</MudText>

    </div>
                
</div>


@code{

  [Parameter] public CustomerModel customer { get; set; }

}