<Modal IsOpened="@is_opened" Title="Customer is already exist" OnClosed="OnClose" IsSimpleMode="false">
    <ModalBody>
        <ComAlert type="warning">@data.message</ComAlert>

        @foreach(CustomerModel c in data.customers)
        {
            <ComCustomerDetail_Summary model="@c" show_select_customer="true" OnSelectCustomer="SelectCustomerClick" />
        }
    </ModalBody>
    <ModalFooter is_action_form="false" ClassName="uk-text-right">
        <Button OnClick="@OnSaveNewRecord">Save New Customer</Button>
        <Button OnClick="@OnClose" class_name="uk-button uk-button-danger ">Cancel</Button>
    </ModalFooter>
</Modal>

@code {

    [Parameter] public ApiResponseModel data { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnSaveNewRecord { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnClose { get; set; }
    [Parameter] public EventCallback<CustomerModel> OnSelectCustomer { get; set; }
    [Parameter] public bool is_opened{ get; set; }

    async Task SelectCustomerClick(CustomerModel c)
    {
        is_opened = false;
        await OnSelectCustomer.InvokeAsync(c);
    }

}
