@inherits PageCore;

@{
    RenderFragment HeaderTemplate(string field_name, string display_name, string ClassName = "") =>
    @<Th OnClick="@(async () => await OrderBy(field_name))" OrderBy="@(state.pager.order_by == field_name)" OrderByType="@state.pager.order_by_type" ClassName="@($"cp {ClassName}")"> @display_name</Th>;
}

@if (Vendor.Count() > 0)
{

    <h3 class="title-search">
        @lang["Vendor"]
    </h3>
    <hr />
    <Table Items="@Vendor"
           PerPage="@state.pager.per_page"
           TotalItem="@TotalRecord"
           CurrentPage="@state.pager.current_page"
           OnPagerChange="@SelectChange"
           OnPageChange="@ChangePager"
           isLoading="@is_loading_data"
           ShowPager="true"
           ShowCounter="true"
           ClassName="uk-table-small uk-table-striped uk-table-hover"
           ScrollClass="uk-overflow-auto"
           EmptyText="There is no record.">
        <TableHeader>
            <ThCenter>@lang["Image"]</ThCenter>
            @HeaderTemplate("vendor_code", lang["Code"], "uk-text-center")
            @HeaderTemplate("vendor_name", lang["Name"], "uk-text-left")
            @HeaderTemplate("company_name", lang["Company Name"], "uk-text-left")
            @HeaderTemplate("vendor_group_name_en", lang["Vendor Group"], "uk-text-left")
            @HeaderTemplate("mobile_phone", lang["Mobile Phone"], "uk-text-center")
            @HeaderTemplate("office_phone", lang["Office Phone"], "uk-text-center")
            @HeaderTemplate("total_payable", lang["Balance"], "uk-text-right")
            <ThCenter>@lang["Status"]</ThCenter>
            <th class="uk-width-auto"></th>
        </TableHeader>
        <RowTemplate Context="p">
            <TdCenter>
                <Image ImageUrl="@http.ImageUrl(p.photo)" PopupImageUrl="@http.ImageUrl(p.photo)" IsLightBox="true" IsBackgroundImage="true" Width="50px" Height="50px" />
            </TdCenter>
            <TdCenter>
                <ComAuthorize roles="@gv.GetRole("vendor_view")" url="@($"vendor/{p.id}")">@p.vendor_code</ComAuthorize>
            </TdCenter>
            <td>
                <div>
                    <ComAuthorize roles="@gv.GetRole("vendor_view")" url="@($"vendor/{p.id}")">@p.vendor_name</ComAuthorize>
                </div>
            </td>

            <td>
                @p.company_name
            </td>
            <td>
                @p.vendor_group?.vendor_group_name_en
            </td>
            <TdCenter>
                @p.mobile_phone
            </TdCenter>
            <TdCenter>
                @p.office_phone
            </TdCenter>
            <TdRight>
                @p.total_payable.ToString(gv.currency_format)
            </TdRight>
            <TdCenter>
                <LabelDeleted is_visible="@p.is_deleted" />
                <LabelActive is_visible="@(!p.is_deleted && p.status)" roles="@gv.GetRole("vendor_edit")" is_loading="@p.is_loading" />
                <LabelInActive is_visible="@(!p.is_deleted && !p.status)" roles="@gv.GetRole("vendor_edit")" is_loading="@p.is_loading" />
            </TdCenter>
            <TdCenter>
                <Icon icon="visibility" roles="@gv.GetRole("vendor_view")" url="@($"vendor/{p.id}")"/>
            </TdCenter>
        </RowTemplate>
    </Table>

}
@code {

    string api_controller = "Vendor";
    [Parameter] public string keyword { get; set; }
    List<VendorModel> Vendor = new List<VendorModel>();



    int TotalRecord = 0;

    public string ControllerApi
    {
        get
        {
            if (state.pager.order_by == "")
            {
                state.pager.order_by = "id";
                state.pager.order_by_type = "desc";
            }
            string query = "$select=id,total_payable,status,is_deleted,vendor_code,vendor_name,photo,company_name,office_phone,mobile_phone,email_address,address";
            query = query + "&$expand=vendor_group($select=id,vendor_group_name_en,vendor_group_name_kh),province($select=id,province_name),";
            string url = $"{api_controller}?{query}&keyword={keyword}&$count=true&$top={state.pager.per_page}&$skip={state.pager.per_page * (state.pager.current_page - 1)}&$orderby={state.pager.order_by} {state.pager.order_by_type}";
            return url + GetFilter(state.filters);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        is_loading = true;
        state.filters.Clear();
        state.pager.per_page = 10;
        state.filters.Add(new FilterModel() { key = "is_deleted", value1 = "false" });
        await LoadData();

        is_loading = false;
    }

    async Task LoadData()
    {

        string api_url = $"{ControllerApi}";


        var resp = await http.ApiGetOData(api_url);
        if (resp.IsSuccess)
        {
            Vendor = JsonSerializer.Deserialize<List<VendorModel>>(resp.Content.ToString());
            TotalRecord = resp.Count;
        }

    }

    async Task OrderBy(string col_name = "")
    {
        is_loading_data = true;
        state.pager.current_page = 1;
        state.pager.order_by = col_name;
        state.pager.order_by_type = (state.pager.order_by_type == "asc" ? "desc" : "asc");
        await LoadData();
        is_loading_data = false;
    }

    public async Task SelectChange(int perpage)
    {
        state.pager.per_page = perpage;
        state.pager.current_page = 1;
        await LoadData();
    }

    async Task ChangePager(int _page)
    {
        is_loading_data = true;
        state.pager.current_page = _page;

        await LoadData();
        is_loading_data = false;
    }


}
