@inherits PageCore;

@{
    RenderFragment HeaderTemplate(string field_name, string display_name, string ClassName = "") =>
    @<Th OnClick="@(async () => await OrderBy(field_name))" OrderBy="@(state.pager.order_by == field_name)" OrderByType="@state.pager.order_by_type" ClassName="@($"cp {ClassName}")"> @display_name</Th>;
}
@if (Stock_Transfer.Count() > 0)
{

<h3 class="title-search">
    @lang["Stock Transfer"]
</h3>
    <hr />
    <Table Items="@Stock_Transfer"
           PerPage="@state.pager.per_page"
           TotalItem="@TotalRecord"
           CurrentPage="@state.pager.current_page"
           OnPagerChange="@SelectChange"
           OnPageChange="@ChangePager"
           isLoading="@is_loading_data"
           ShowPager="true"
           ShowCounter="true"
           ClassName="uk-table-small uk-table-striped uk-table-hover"
           ScrollClass="uk-overflow-auto">
        <TableHeader>
            @HeaderTemplate("stock_transfer_date", lang["Date"], "uk-text-center")
            @HeaderTemplate("document_number", lang["Document #"], "uk-text-center")
            @HeaderTemplate("referance_number", lang["Referance #"], "uk-text-center")
            <ThAuto>
                <div>@lang["From Business Branch"]</div>
                <div class="sub-header-table">@lang["Warehouse"]</div>
            </ThAuto>
            <ThAuto>
                <div>@lang["To Business Branch"]</div>
                <div class="sub-header-table">@lang["Warehouse"]</div>
            </ThAuto>
            <ThCenter>@lang["Total Quantity"]</ThCenter>
            <ThRight>@lang["Total Amount"]</ThRight>
            <ThRight>@lang["Status"]</ThRight>
            <th class="uk-width-auto"></th>
        </TableHeader>
        <RowTemplate Context="p">
            <TdCenter>@p.stock_transfer_date.ToString(gv.date_format)</TdCenter>
            <TdCenter>
                <ComAuthorize roles="@gv.GetRole("stock_transfer_management")" url="@($"stocktransfer/{p.id}")">
                    @p.document_number
                </ComAuthorize>
            </TdCenter>
            <TdCenter>@p.reference_number</TdCenter>
            <td>
                <div>@p.from_business_branch?.business_branch_name_en</div>
                <div class="sub-info-row-table">@p.from_stock_location?.stock_location_name</div>
            </td>
            <td>
                <div>@p.to_business_branch?.business_branch_name_en</div>
                <div class="sub-info-row-table">@p.to_stock_location?.stock_location_name</div>
            </td>
            <TdCenter>
                @p.total_quantity.ToString(gv.quantity_format)
            </TdCenter>
            <TdRight>
                @p.total_amount.ToString(gv.main_currency_format)
            </TdRight>
            <TdRight>
                <ComStockTransferStatus model="@p" />
            </TdRight>
            <TdCenter>
                <Icon icon="visibility" roles="@gv.GetRole("stock_transfer_management")" url="@($"stocktransfer/{p.id}")"/>
            </TdCenter>
        </RowTemplate>
    </Table>

}
@code {

    string api_controller = "StockTransfer";
    [Parameter] public string keyword { get; set; }
    List<StockTransferModel> Stock_Transfer = new List<StockTransferModel>();



    int TotalRecord = 0;

    public string ControllerApi
    {
        get
        {
            if (state.pager.order_by == "")
            {
                state.pager.order_by = "id";
                state.pager.order_by_type = "desc";
            }
            string query = "$select=id,total_quantity,stock_transfer_date,reference_number,document_number,total_amount,is_fulfilled,is_deleted";
            query = query + "&$expand=to_business_branch($select=id,business_branch_name_en),to_stock_location($select=id,stock_location_name),from_business_branch($select=id,business_branch_name_en),from_stock_location($select=id,stock_location_name)";
            string url = $"{api_controller}?{query}&keyword={keyword}&$count=true&$top={state.pager.per_page}&$skip={state.pager.per_page * (state.pager.current_page - 1)}&$orderby={state.pager.order_by} {state.pager.order_by_type}";
            return url + GetFilter(state.filters);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        is_loading = true;
        state.filters.Clear();
        state.pager.per_page = 10;
        state.filters.Add(new FilterModel() { key = "is_deleted", value1 = "false" });
        await LoadData();

        is_loading = false;
    }

    async Task LoadData()
    {
        if (state.filters.Where(r => r.key == "business_branch_id").Count() == 0)
        {
            if (state.filters.Where(r => r.key == "from_business_branch_id").Count() == 0)
            {
                //From  Business Branch Filter
                state.filters.Add(new FilterModel()
                {
                    key = "from_business_branch_id",
                    value1 = gv.business_branch_ids_filter_1,
                    filter_title = lang["From Business Branch"],
                    filter_operator = "multiple",
                    state_property_name = "list_selected_values",
                    filter_info_text = gv.business_branch_ids_filter_1,
                    is_clear_all = true,
                    will_remove = true,
                    is_show_on_infor = false
                });
            }

            if (state.filters.Where(r => r.key == "to_business_branch_id").Count() == 0)
            {
                //To  Business Branch Filter
                state.filters.Add(new FilterModel()
                {
                    key = "to_business_branch_id",
                    value1 = gv.business_branch_ids_filter_2,
                    filter_title = lang["To Business Branch"],
                    filter_operator = "multiple",
                    state_property_name = "list_selected_values",
                    filter_info_text = gv.business_branch_ids_filter_2,
                    is_clear_all = true,
                    will_remove = true,
                    is_show_on_infor = false
                });
            }
        }

        string api_url = $"{ControllerApi}";
        var resp = await http.ApiGetOData(api_url);
        if (resp.IsSuccess)
        {
            Stock_Transfer = JsonSerializer.Deserialize<List<StockTransferModel>>(resp.Content.ToString());
            TotalRecord = resp.Count;
        }

    }

    async Task OrderBy(string col_name = "")
    {
        is_loading_data = true;
        state.pager.current_page = 1;
        state.pager.order_by = col_name;
        state.pager.order_by_type = (state.pager.order_by_type == "asc" ? "desc" : "asc");
        await LoadData();
        is_loading_data = false;
    }

    public async Task SelectChange(int perpage)
    {
        state.pager.per_page = perpage;
        state.pager.current_page = 1;
        await LoadData();
    }

    async Task ChangePager(int _page)
    {
        is_loading_data = true;
        state.pager.current_page = _page;

        await LoadData();
        is_loading_data = false;
    }


}
