@page "/customergroup"
@inherits PageCore
@inject IDialogService Dialog
<Loading is_loading="@is_loading"/>
@{
    RenderFragment HeaderTemplate(string field_name, string display_name, string ClassName = "") =>
    @<Th OnClick="@(async () => await OrderBy(field_name))" OrderBy="@(state.pager.order_by == field_name)" OrderByType="@state.pager.order_by_type" ClassName="@($"cp {ClassName}")"> @display_name</Th>;
}
@if (!is_loading)
{
<PageContainer>
    <PageHeader title="@state.page_title" OnRefresh="@OnRefresh" >
        <Filter>
            <ModuleView module_views="@gv.GetModuleView("page_customer")" OnClick="@ViewClick" />
        </Filter>
        <Right>
            <ComSearch search_text="@GetFilterValue2(state.filters, "keyword","")" place_holder="@GetFilterValue2(state.filters, "keyword","")" KeywordChanged="@OnSearch" show_advance_filter="false">
                
            </ComSearch>
             <MudHidden Breakpoint="Breakpoint.SmAndDown">
                <AddButton roles="@gv.GetRole("customer_add")" OnClick="@OnAddNew_Click"/>
             </MudHidden>
          
        </Right>
    </PageHeader>
    <PageBody>

        <Table Items="@customer_groups"
                PerPage="@state.pager.per_page"
                TotalItem="@TotalRecord"
                isLoading="@is_loading_data"
                ShowPager="true"
                ShowCounter="true"
                EmptyText="There is no customer record.">
            <TableHeader>
                @HeaderTemplate("customer_group_name_en", "Customer Group Name En" , "col-auto")
                @HeaderTemplate("customer_group_name_kh", "Customer Group Name Kh" , "col-auto")
                <Th>
                     Note
                </Th>
                <ThCenter width="188px">
                    Status
                </ThCenter>
                <ThCenter></ThCenter>
            </TableHeader>
            <RowTemplate Context="p">
                 <td>
                    @p.customer_group_name_en
                </Td>
                <td>
                    @p.customer_group_name_kh
                </td>
                <td>
                    @p.note
                </td>
                <TdCenter>
                    <LabelActive is_visible="@(p.status && !p.is_deleted)"/>
                    <LabelInActive is_visible="@(!p.status && !p.is_deleted)"/>
                    <LabelDeleted is_visible="@p.is_deleted"/>
                </TdCenter>
                <TdActions is_loading="@(p.is_loading || p.is_change_status)">
                        <TableActionItem icon="@Icons.Material.Filled.Visibility" roles="@gv.GetRole("customer_group_edit")" is_visible="@(!p.is_deleted)" OnClick="@(()=>OnEdit(p))">Edit</TableActionItem>
                        <TableActionItem icon="@Icons.Material.Filled.ContentCopy" roles="@gv.GetRole("customer_group_add")" is_visible="@(!p.is_deleted )" OnClick="@(()=>OnClone(p))">Clone</TableActionItem>
                        <TableActionItem icon="@Icons.Material.Filled.Check" roles="@gv.GetRole("customer_group_edit")" is_visible="@(!p.is_deleted  && !p.status)" OnClick="@(()=>OnToogleStatusLabel(p))">Active</TableActionItem>
                        <TableActionItem icon="@Icons.Material.Filled.HighlightOff" roles="@gv.GetRole("customer_group_edit")" is_visible="@(!p.is_deleted && p.status)" OnClick="@(()=>OnToogleStatusLabel(p))">InActive</TableActionItem>
                        <TableActionItem icon="@Icons.Material.Filled.Delete" roles="@gv.GetRole("customer_group_delete")"  is_visible=@(!p.is_deleted) OnClick="@(()=>OnDelete(p))">Delete</TableActionItem>
                        <TableActionItem icon="@Icons.Material.Filled.Refresh" roles="@gv.GetRole("customer_group_restore")" is_visible=@(p.is_deleted) OnClick="@(()=>OnRestore(p))">Restore</TableActionItem>
                        
                  </TdActions>

            </RowTemplate>
        </Table>
    </PageBody>
</PageContainer>
<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <MudFab Color="MudBlazor.Color.Primary" Icon="@Icons.Material.Filled.Add" Style="position:fixed; bottom:25px;right:5px;" Link="@($"customer/new")"/>    
</MudHidden>

}

@code{
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    public List<CustomerGroupModel> customer_groups = new List<CustomerGroupModel>();
    public List<CustomerGroupModel> temp_customer_groups = new List<CustomerGroupModel>();

    public CustomerGroupModel model = new CustomerGroupModel();
    bool is_show_modal = false;
    public string StateKey = "278484567Gs2512K8sIASGytkjhTonB3PCz2Ts"; //Storage and Session Key

    public int TotalRecord = 0;
    public string ModalTitle = "";

    string controller_api = "CustomerGroup";

    DateTime date = DateTime.Now;

    public string ControllerApi
    {
        get
        {
            if (string.IsNullOrEmpty(state.pager.order_by))
            {
                state.pager.order_by = "id";
                state.pager.order_by_type = "desc";
            }
            string url = $"{controller_api}?&keyword={GetFilterValue2(state.filters, "keyword", "").ToString()}&$count=true&$orderby={state.pager.order_by} {state.pager.order_by_type}";
            return url + GetFilter(state.filters);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        is_loading = true;
        state = await GetState(StateKey);
        if (state.page_title == "")
        {
            state.page_title = "Customer Group";
            var default_view = gv.GetDefaultModuleView("page_customer_group");
            if (default_view != null)
            {
                state.page_title = default_view.title;
                state.filters = default_view.filters;
            }
        }
        if (state.filters.Count == 0)
        {
            state.filters.Add(new FilterModel()
            {
                key = "is_deleted",
                value1 = "false"
            });
        }
        await LoadData();
        is_loading = false;
    }

    async Task OnRefresh()
    {
        is_loading = true;
        await LoadData();
        is_loading = false;
    } 
    void Clone_Click(Guid id)
    {
        is_loading_data = true;
        nav.NavigateTo($"customergroup/clone/{id}");
        is_loading_data = false;
    }

    async Task ViewClick(ModuleViewModel m)
    {
        state.filters.Clear();
        state.filters = m.filters;
        state.pager.order_by = m.default_order_by;
        state.pager.order_by_type = m.default_order_by_type;
        state.page_title = m.title;
        state.pager.current_page = 1;
        await LoadData();
    }

    async Task LoadData(string api_url = "")
    {
        is_loading = true;
        var resp = await http.ApiGetOData(ControllerApi);
        if (resp.IsSuccess)
        {
            customer_groups = temp_customer_groups = JsonSerializer.Deserialize<List<CustomerGroupModel>>(resp.Content.ToString());
            
            TotalRecord = resp.Count;
        }
        
        is_loading = false;
        StateHasChanged();
    }

    async Task OrderBy(string col_name = "")
    {

        state.pager.order_by = col_name;
        state.pager.order_by_type = (state.pager.order_by_type == "asc" ? "desc" : "asc");

        await LoadData();
    }

    async Task OnToogleStatusLabel(CustomerGroupModel p)
    {
        await SaveStatus(p);
    }
    async Task SaveStatus(CustomerGroupModel p)
    {
        p.is_change_status = true;
        var resp = await http.ApiPost(controller_api + $"/status/{p.id}");
        if (resp.IsSuccess)
        {
            toast.Add("Change status successfully", Severity.Success);
            await LoadData();
        }
        p.is_change_status=false;
    }

    async Task OnDelete(CustomerGroupModel p)
    {
        p.is_loading = true;
            
        if (await alert.ShowMessageBox("Delete Customer", "Are you sure you want to delete this record?")==true)
        {
            var resp = await http.ApiPost(controller_api + "/delete/" + p.id);
            if (resp.IsSuccess)
            {
                toast.Add("Delete customer successfully", Severity.Success);
                if (customer_groups.Count() == 1 && state.pager.current_page > 0)
                {
                    state.pager.current_page = state.pager.current_page - 1;
                }
                await LoadData();
            }
        }
        p.is_loading = false;
    }
    async Task OnAddNew_Click()
    {
        var dialog = alert.Show<ComAddCustomerGroup>("New Customer", new DialogOptions() {  CloseButton = true });
        var result = await dialog.Result;
        var group = (CustomerGroupModel)result.Data;
        if (!result.Cancelled)
        {
            
            var res = await http.ApiPost("customergroup/save",group);
            if(res.IsSuccess)
            {
                AddToast("Save Successfull");
                is_show_modal = false;
                await LoadData();
            }else{
                AddToast(res.Content.ToString(),Severity.Warning);
            }
        }

    }

    async Task OnEdit(CustomerGroupModel g)
    {
    g.is_loading=true;
        var group_res = await http.ApiGet($"CustomerGroup({g.id})");
        if(group_res.IsSuccess){
        var parameters = new DialogParameters();
            model = JsonSerializer.Deserialize<CustomerGroupModel>(group_res.Content.ToString());
            parameters.Add("model", model);
            var dialog = alert.Show<ComAddCustomerGroup>($"Edit {model.customer_group_name_en}", parameters, new DialogOptions() {  CloseButton = true });
            var result = await dialog.Result;
            var group = (CustomerGroupModel)result.Data;
            if (!result.Cancelled)
            {
                var res = await http.ApiPost("customergroup/save",group);
                if(res.IsSuccess)
                {
                    AddToast("Save Successfull");
                    is_show_modal = false;
                    await LoadData();
                }else{
                    AddToast(res.Content.ToString(),Severity.Warning);
                }
            }
        }
    g.is_loading=false;
        
    }

    async Task OnClone(CustomerGroupModel g)
    {
        g.is_loading = true;
        var group_res = await http.ApiPost($"CustomerGroup/clone/{g.id}");
        if(group_res.IsSuccess){
        var parameters = new DialogParameters();
            
            
            model = JsonSerializer.Deserialize<CustomerGroupModel>(group_res.Content.ToString());
            parameters.Add("model", model);
            var dialog = alert.Show<ComAddCustomerGroup>($"Clone {model.customer_group_name_en}", parameters, new DialogOptions() {  CloseButton = true });
            var result = await dialog.Result;
            var group = (CustomerGroupModel)result.Data;
            if (!result.Cancelled)
            {
                var res = await http.ApiPost("customergroup/save",group);
                if(res.IsSuccess)
                {
                    AddToast("Save Successfull");
                    is_show_modal = false;
                    await LoadData();
                }else{
                    AddToast(res.Content.ToString(),Severity.Warning);
                }
            }
        }
    g.is_loading=false;
        
    }

    async Task OnRestore(CustomerGroupModel p)
    {
        p.is_loading = true;
        if (await alert.ShowMessageBox("Restore Customer", "Are you sure you want to restore this record?") == true)
              
        {
            var resp = await http.ApiPost(controller_api + "/delete/" + p.id);

            if (resp.IsSuccess)
            {
                await LoadData();
            }
            toast.Add("Restore customer successfully", Severity.Success);
        }
        p.is_loading = false;
    }



    void OnSearch(string keyword)
    {
        customer_groups = temp_customer_groups.Where(r=> (r.customer_group_name_en + " " + r.customer_group_name_kh).ToLower().Contains(keyword.ToLower())).ToList();
        SetFilterValue2(state.filters, "keyword", keyword);
    }
    async Task OnRemoveKeyword()
    {
        state.pager = new PagerModel();
        SetFilterValue2(state.filters, "keyword", "");
        await LoadData();
    }
}
