@page "/stocktake/{id:int}";
@inherits PageStockTakeDetailBase

@if (is_loading_data || is_loading)
{
    <Loading is_loading="@( is_loading || is_loading_data)" />

}

@if (!is_loading && is_error == false)
{
    <Title Value="@($"{lang["Stock Take"]}: {model.document_number}")"></Title>

    <PageContainer roles="@gv.GetRole("stock_take_management")">
        <PageHeader>
            <HeaderLeft>
                <PageTitle ShowFilter="false">
                    <HeaderTemplate>
                        @lang["Stock Take#"] @model.document_number
                        <ComStockTakeStatus model="@model" />
                    </HeaderTemplate>
                </PageTitle>
            </HeaderLeft>
            <HeaderRight ShowBackButton="true">
                
                <ComStockTakeDetail_ActionButton @bind-model="@model" OnRefresh="@OnRefresh"/>
            </HeaderRight>
        </PageHeader>
        <PageBody>
            <MudTabs PanelClass="pa-6">
                <MudTabPanel Text="@lang["Stock Take Information"]">
                    <ComMarkInvoiceFulfilled is_visible="@(!model.is_fulfilled && !model.is_deleted)" OnClick="@MarkAsFulfilled" />
                    <ComPage>
                        <ComStockTakeDetail_InvoiceHeader model="@model" />
                        <Spacing Number="20" />
                        <table class="view_table uk-table uk-table-small uk-table-divider table-bordered">
                            <thead>
                                <tr>
                                    <th>@lang["No"]</th>
                                    <ThCenter>@lang["Image"]</ThCenter>
                                    <th class="col-auto">@lang["Description"]</th>
                                    <th class="uk-text-center">@lang["QTY"]</th>
                                    <th class="uk-text-right">@lang["Price"]</th>
                                    <th class="uk-text-right">@lang["Amount"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ComStockTakeDetail_InvoiceBody model="@model" />
                            </tbody>
                            <tfoot>
                                <ComStockTakeDetail_InvoiceFooter model="@model" />
                            </tfoot>
                        </table>
                        <Spacing Number="20" />
                        <ComStockTakeDetail_Note model="@model" />
                        <ComStockTakeDetail_FooterInformation model="@model" />
                    </ComPage>
                </MudTabPanel>
                <MudTabPanel OnClick="@ShowComment" Text="@lang["Comment and History"]">
                    @if (is_show_comment)
                    {
                        <ComHistory RoleAdd="@gv.GetRole("stock_take_add")"
                                    RoleDelete="@gv.GetRole("stock_take_delete")"
                                    RoleEdit="@gv.GetRole("stock_take_edit")"
                                    ApiFilter="@($"stock_take_id eq {id}")"
                                    history="@history" />

                    }
                </MudTabPanel>
            </MudTabs>
            <div class="spacing40"></div>
        </PageBody>
    </PageContainer>
  
}

@if (is_error)
{
    <Error title="@lang["Stock Take Detail"]">
        @error_text
    </Error>
}