@page "/report"
@inherits PageReportModel
<Loading is_loading="@(is_loading || is_loading_data)" />


@if (!is_loading)
{
    <Title Value="@lang["Reports"]" />
    <PageContainer roles="@gv.GetRole("report_management")">
        <PageHeader>
            <HeaderLeft>
                <PageTitle ShowFilter="false">
                    <HeaderTemplate>
                        <MudHidden Breakpoint="Breakpoint.MdAndUp">
                            <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="MudBlazor.Color.Inherit" Edge="Edge.Start" OnClick="@((e) => IsMenuReportOpened=!IsMenuReportOpened)" />
                        </MudHidden>
                        @state.page_title
                    </HeaderTemplate>
                </PageTitle>
            </HeaderLeft>
            <HeaderRight ShowBackButton="true" />
        </PageHeader>
        <PageBody>
            <MudDrawer @bind-Open="@IsMenuReportOpened" Elevation="1" Variant="@DrawerVariant.Temporary">
                <MudDrawerHeader>
                    <MudText Class="d-flex align-center" Typo="Typo.h6">@lang["Reports"]</MudText>
                </MudDrawerHeader>
                <MudDivider />
                <ComReportNavMenu main_report_list="@main_report_list" gv="gv" OnViewReport="@ViewReportClick" />

            </MudDrawer>
            <div uk-grid class="uk-grid-small" uk-height-match="target: > div > .uk-card">
                <MudHidden Breakpoint="Breakpoint.SmAndDown">
                    <div class="uk-width-1-5@m uk-width-1-1@s">
                        <ComReportNavMenu main_report_list="@main_report_list" gv="gv" OnViewReport="@ViewReportClick" />
                    </div>
                </MudHidden>
                    <div class="uk-width-4-5@m uk-width-1-1@s">
                        <ComPanel>
                            <div class="report-model">
                                <div class="content">
                                    <div class="modal-header">
                                        <div class="modal-title">@report_title</div>

                                        <Icon is_visible="@(report.id>0)" icon="fullscreen" className="uk-modal-close-default" OnClick="@OnViewFullscreenReport" />
                                    </div>
                                    <div class="modal-content">
                                        @if (report != null && report.id > 0)
                                        {
                                            if (is_loading_data)
                                            {
                                                <Spinner />
                                            }
                                            else
                                            {
                                                <ComPreviewReport model="@report" report_id="@report.id" is_inline="true" parent_id="@(Convert.ToInt32(report.parent_id))" IsOpened="IsOpenedReport" OnClose="@(()=>IsOpenedReport=false)" gv="@gv" />
                                            }
                                        }

                                    </div>

                                </div>
                            </div>
                        </ComPanel>
                    </div>
            </div>

        </PageBody>
    </PageContainer>
}

@if (IsOpenedReport && report != null && report.id > 0)
{

    <ComPreviewReport model="@report" report_id="@report.id" parent_id="@(Convert.ToInt32(report.parent_id))" IsOpened="IsOpenedReport" OnClose="@(()=>IsOpenedReport=false)" />
}



