@page "/report"
@inherits PageReportModel
<Loading is_loading="@(is_loading || is_loading_data)" />


@if (!is_loading)
{
    <Title Value="@lang["Report"]" />
    <PageContainer roles="@gv.GetRole("report_management")">
        <PageHeader>
            <HeaderLeft>
                <PageTitle ShowFilter="false">
                    <HeaderTemplate>
                        @state.page_title
                    </HeaderTemplate>
                </PageTitle>
            </HeaderLeft>
            <HeaderRight ShowBackButton="true" />
        </PageHeader>
        <PageBody>
            <div uk-grid class="uk-grid-small" uk-height-match="target: > div > .uk-card">
                <div class="uk-width-1-5@m uk-width-1-1@s">
                    <ComPanel>
                        <input type="text" class="uk-input uk-form-small" placeholder="search" @bind="@keyword" @bind:event="oninput" />
                        @if (keyword == "")
                        {
                            @foreach (var r in main_report_list)
                            {
                                <ComAuthorizeDisplay roles="@gv.GetRole(r.option_name)">
                                    @if (gv.permission_options.Where(u => u.parent_id == r.id).Count() > 0)
                                    {
                                        <ul uk-accordion>
                                            <li style="margin-top: 10px !important;" class="report-header">
                                                <a class="uk-accordion-title" href="#" style="background:transparent !important;padding:0px !important;">@r.report_title</a>
                                                <div class="uk-accordion-content" style="padding:0px !important;">
                                                    @foreach (var p in gv.permission_options.Where(u => u.parent_id == r.id && u.report_title.Trim().ToLower().Contains(keyword.Trim().ToLower())).ToList().OrderBy(r => r.sort_order))
                                                    {
                                                        <AuthorizeView Roles="@gv.GetRole(p.option_name)">
                                                            <div class="report-content-item" @onclick="@(() => ViewReportClick(p))" uk-tooltip="@p.report_title">
                                                                <Icon icon="chevron_right" /> @p.report_title
                                                            </div>
                                                        </AuthorizeView>
                                                    }
                                                </div>
                                            </li>
                                        </ul>
                                    }
                                </ComAuthorizeDisplay>
                            }
                        }
                        else
                        {
                            foreach (var r in main_report_list)
                            {
                                <ComAuthorizeDisplay roles="@gv.GetRole(r.option_name)">
                                    @if (gv.permission_options.Where(u => u.parent_id == r.id).Count() > 0)
                                    {

                                        @foreach (var p in gv.permission_options.Where(u => u.parent_id == r.id && u.report_title.Trim().ToLower().Contains(keyword.Trim().ToLower())).ToList().OrderBy(r => r.sort_order))
                                        {
                                            <AuthorizeView Roles="@gv.GetRole(p.option_name)">
                                                <div class="report-content-item" @onclick="@(()=>ViewReportClick(p))" uk-tooltip="@p.report_title">
                                                    <Icon icon="chevron_right" /> @p.report_title
                                                    <div class="category_report">@r.note</div>
                                                </div>
                                            </AuthorizeView>
                                        }


                                    }
                                </ComAuthorizeDisplay>
                            }
                        }
                    </ComPanel>
                </div>
                <div class="uk-width-4-5@m uk-width-1-1@s">
                    <ComPanel>
                        <div class="report-model">
                            <div class="content">
                                <div class="modal-header">
                                    <div class="modal-title">@report_title</div>
                                    <Icon icon="fullscreen" className="uk-modal-close-default" OnClick="@(()=>IsOpenedReport=report.id>0)" />
                                </div>
                                <div class="modal-content">
                                    @if (report != null && report.id > 0)
                                    {
                                        if (is_loading_data)
                                        {
                                            <Spinner />
                                        }
                                        else
                                        {
                                            <ComPreviewReport model="@report" report_id="@report.id" is_inline="true" parent_id="@(Convert.ToInt32(report.parent_id))" IsOpened="IsOpenedReport" OnClose="@(()=>IsOpenedReport=false)" />
                                        }
                                    }

                                </div>

                            </div>
                        </div>
                    </ComPanel>
                </div>
            </div>

        </PageBody>
    </PageContainer>
}

@if (IsOpenedReport && report != null && report.id > 0)
{

    <ComPreviewReport model="@report" report_id="@report.id" parent_id="@(Convert.ToInt32(report.parent_id))" IsOpened="IsOpenedReport" OnClose="@(()=>IsOpenedReport=false)" />
}



