@inject IConfiguration config
<UICenter>
<MudGrid>
    <ComCustomerDetailKPI customer="@model"/>
</MudGrid>

<UIPanel Title="General Infomation">
<UIPanelBody>
    
    <MudGrid>
      
        <MudItem xs="12" md="12" lg="12" Style="text-align:center">
            <ProfileImage ImageUrl="@(config.GetValue<string>("BaseUrl") + $"upload/{model.photo}")" />
        </MudItem>
        <MudItem xs="12" md="12" lg="6">
            <MudList>
                <ListItem Title="Name En">@model.customer_name_en</ListItem>
                <ListItem Title="Name Kh">@model.customer_name_kh</ListItem>
                <ListItem Title="Gender">@model.gender</ListItem>
                <ListItem Title="DOB">@model.date_of_birth.ToString(gv.date_format)</ListItem>
                <ListItem Title="Nationality">@model.nationality</ListItem>
            </MudList>
        </MudItem>
        <MudItem xs="12" md="12" lg="6">
        <MudList>
                <ListItem Title="Company">@model.company_name</ListItem>
                <ListItem Title="Position">@model.position</ListItem>
                <ListItem Title="Phone">@model.phone_1 @((!string.IsNullOrEmpty(model.phone_2)?"/" + model.phone_2:""))  </ListItem>
                <ListItem Title="Email">@model.email</ListItem>
                <ListItem Title="Telegram">@model.telegram</ListItem>
            </MudList>
        </MudItem>
    </MudGrid>
    
    </UIPanelBody>
</UIPanel>
    <ComCustomerDetailCurrentProject id="@model.id.ToString()"/>
    <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" Class="my-4" PanelClass="pa-4">
        <MudTabPanel Text="Address">
            <MudText Typo="Typo.body1">
                @model.address
            </MudText>
        </MudTabPanel>
        <MudTabPanel Text="Note">
            <MudText Typo="Typo.body1">
                @model.note
            </MudText>
        </MudTabPanel>
   
    </MudTabs>
    <div class="text-center">
        <MudText Typo="Typo.caption" Align="MudBlazor.Align.Center">
            Created by : @model.created_by at @model.created_date.ToString(gv.date_time_format)  <br/>
        </MudText>
       
        @if(model.is_deleted==true){
        <MudText Typo="Typo.caption" Align="MudBlazor.Align.Center">
            Deleted by : @model.deleted_by at  @model.deleted_date.Value.ToString(gv.date_format)
        </MudText>
        }
</div>
</UICenter>
@code{
    [Parameter] public CustomerModel model { get; set; }
    [Parameter] public bool is_loading { get; set; }
    [CascadingParameter] public AppState gv { get; set; }
}