@inject IStringLocalizer<Resource> lang
<UIContainerBox Title="@lang["Branch Information"]">

    @if (models.Any())
    {
        foreach (var b in models)
        {
            <ComAccordion>
                <Header>
                    <h5 class="uk-margin-remove-bottom uk-text-bold">@b.business_branch_name_en</h5>
                </Header>
                <Content>
                   
                        <ComSystemLicense_BusinessBranchSystemFeature business_branch_id="@(b.id.ToString())"/>
                   
                    <h5 class="uk-text-bold uk-margin-small-bottom">@lang["Outlet"]</h5>
                    <Grid ClassName="uk-grid-small uk-child-width-1-2@m uk-grid-match">
                        @foreach (var o in b.outlets)
                        {
                            <div>
                                <div class="ui-box-outline uk-padding">
                                    <h4 class="uk-margin-small-bottom">@o.outlet_name_en</h4>
                                    <div class="uk-padding-small-left">
                                        <table class="uk-table uk-table-small uk-margin-remove">
                                            <thead>
                                                <tr>
                                                    <th>Station Name</th>
                                                    <th>Cash Drawer</th>
                                                    <ThRight>Status</ThRight>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (o.stations.Any())
                                                {
                                                    foreach (var s in o.stations)
                                                    {
                                                        <tr>
                                                            <td>@s.station_name_en</td>
                                                            <td>@s.cash_drawer_name</td>
                                                            <TdRight>
                                                                <ComSystemFeatureStatus is_deleted="@s.is_deleted" is_full_license="@s.is_full_license" expired_date="@s.expired_date" />
                                                            </TdRight>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                { 
                                                    <tr>
                                                        <td colspan="2">
                                                            <div class="uk-text-center">
                                                                <Icon icon="search" />
                                                                <br />
                                                                <p>There is no station</p>
                                                            </div>
                                                        </td> 
                                                    </tr>
                                                }
                                                </tbody>
                                            </table>
                                    </div>
                                </div>
                            </div>
                        }
                    </Grid>

                    <h5 class="uk-text-bold uk-margin-small-bottom">Warehouse</h5>
                    <Grid ClassName="uk-grid-small uk-child-width-1-2@m uk-grid-match">
                        @foreach (var s in b.stock_locations)
                        {
                            <div>
                                <div class="ui-box-outline uk-padding-small">
                                    <h4 class="uk-margin-remove">@s.stock_location_name <Label is_visible="@(s.is_default)">Default</Label> </h4>
                                </div>
                            </div>
                        }
                    </Grid>
                </Content>
            </ComAccordion>
        }
    }

</UIContainerBox>

@code {
    [Parameter] public List<BusinessBranchModel> models { get; set; }


}
