<Table 
       ShowPaging="false"
       ShowCounter="true"
       ShowPager="true"
       ShowTotalCount="false"
       ShowPagination="false"
       Items="@settings.Where(r=>r.group_name.Trim().ToLower() == group_name).ToList()"
       EmptyIcon="setting"
       EmptyText="No Data Found">
    <TableHeader>
        <Th>Setting title</Th>
        <ThAuto>Descript</ThAuto>
        <th></th>
    </TableHeader>
    <RowTemplate Context="s">
        <td>
            @s.setting_title
        </td>
        <td>
            <div class="text-pre-wrap">@s.setting_description</div>
        </td>
        <td>
            <Icon roles="@gv.GetRole("general_setting_edit")" title="Edit" icon="edit" OnClick="@(()=>OnEdits(s))" />
        </td>
    </RowTemplate>
</Table>

@code {
    [CascadingParameter] public GlobalVariableModel gv { get; set; }
    [Parameter] public List<SettingModel> settings { get; set; }
    [Parameter] public string group_name { get; set; }
    [Parameter] public EventCallback<SettingModel> OnEdit { get; set; }

    async Task OnEdits(SettingModel _s)
    {
        await OnEdit.InvokeAsync(_s);
    }
}
