@page "/stocktransfer/{id:int}";
@inherits PageStockTransferDetailBase

@if (is_loading_data || is_loading)
{
    <Loading is_loading="@(is_loading || is_loading_data)" /> 
}

@if (!is_loading && is_error == false)
{
    <Title Value="@($"{lang["Stock Transfer"]} : {model.document_number}")" ></Title>

    <PageContainer roles="@gv.GetRole("stock_transfer_management")">
        <PageHeader>
            <HeaderLeft>
                <PageTitle ShowFilter="false">
                    <HeaderTemplate>
                        @lang["Stock Transfer#"] @model.document_number
                        <ComStockTransferStatus model="@model"/>
                    </HeaderTemplate>
                </PageTitle>
            </HeaderLeft>
            <HeaderRight ShowBackButton="true">
                <ComStockTransferDetail_ActionButton @bind-model="@model" OnRefresh="@OnRefresh"/>
            </HeaderRight>
        </PageHeader>
        <PageBody>
            <MudTabs PanelClass="pa-6">
                <MudTabPanel Text="@lang["Stock Transfer Information"]">
                    <ComMarkInvoiceFulfilled is_visible="@(!model.is_fulfilled && !model.is_deleted)" OnClick="@MarkAsFulfilled" />
                    <ComPage>
                        <ComStockTransferDetail_InvoiceHeader model="@model" />
                        <Spacing Number="20" />
                        <table class="view_table uk-table uk-table-small uk-table-divider table-bordered">
                            <thead>
                                <tr>
                                    <ThCenter>@lang["No"]</ThCenter>
                                    <ThCenter>@lang["Image"]</ThCenter>
                                    <th class="col-auto">@lang["Description"]</th>
                                    <th class="uk-text-center">@lang["QTY"]</th>
                                    <th class="uk-text-right">@lang["Unit"]</th>
                                    <th class="uk-text-right">@lang["Price"]</th>
                                    <th class="uk-text-right">@lang["Amount"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ComStockTransferDetail_InvoiceBody model="@model" />
                            </tbody>
                            <tfoot>
                                <ComStockTransferDetail_InvoiceFooter model="@model" />
                            </tfoot>
                        </table>
                        <Spacing Number="20" />
                        <ComStockTransferDetail_Note model="@model" />
                        <ComStockTransferDetail_FooterInformation model="@model" />
                    </ComPage>
                </MudTabPanel>
                <MudTabPanel OnClick="@ShowComment" Text="@lang["Comment and History"]">
                    @if (is_show_comment)
                    {
                        <ComHistory RoleAdd="@gv.GetRole("stock_transfer_add")"
                                    RoleDelete="@gv.GetRole("stock_transfer_delete")"
                                    RoleEdit="@gv.GetRole("stock_transfer_edit")"
                                    ApiFilter="@($"stock_transfer_id eq {id}")"
                                    history="@history" />

                    }
                </MudTabPanel>
            </MudTabs>
            <div class="spacing40"></div>
        </PageBody>
    </PageContainer>

}

@if (is_error)
{
    <Error title="@lang["Stock Transfer Detail"]">
        @error_text
    </Error>
}