@page "/stocktransfer/new"
@page "/stocktransfer/edit/{id:int}"

@inherits PageAddStockTransferBase

<Loading is_loading="@(is_loading || is_loading_data || is_saving)" />
<Com is_visible="@(!is_loading && !is_error)">
    <Title Value="Add Stock Transfer"></Title>
    <PageContainer>
        <PageBody>
            <div class="content-add-sale">
                <div class="section-content">
                    <Spacing Number="20" />
                    <ComPurchaseOrderSearchProduct productChanged="@OnSearchProduct" select_productsChanged="@OnSearchProducts" />
                </div>
                <Spacing Number="20" />
                <Grid ClassName="uk-grid-small uk-grid-divider">
                    <div class="uk-width-1-3@s">
                        <div class="panel-empty">
                            <div class="uk-margin-small">
                                <label class="uk-form-label"><Icon icon="layers" size="16px" />@lang["Referance #"]</label>
                                <div class="uk-form-controls">
                                    <TextInput @bind-text="@model.reference_number" placeholder="@lang["Referance Number"]" />
                                </div>
                            </div>
                            <DateInput label="@lang["Stock Transfer Date"]" value="@model.stock_transfer_date" icon="layers" /> 
                        </div>
                    </div>
                    <div class="uk-width-expand@s">
                        <Grid ClassName="uk-grid-small">
                            <div class="uk-width-expand@s">
                                <div class="panel">
                                    <div class="sub_title font-sm">@lang["From Stock"]</div>
                                    <div>
                                        <SelectBusinessBranchByRole @bind-selected_value="@model.from_business_branch_id" show_empty="true" icon="layers" />
                                        <SelectStockLocation @bind-selected_value="@model.from_stock_location_id" business_branch_id="@model.from_business_branch_id" show_empty="true" icon="layers" />
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-auto@s">
                                <div class="uk-height-1-1 uk-position-relative" style="width:50px">
                                    <Icon icon="local_shipping" size="35px" icon_color="#a0aab7" className="position-middle"/>
                                </div>
                            </div>
                            <div class="uk-width-expand@s">
                                <div class="panel">
                                    <div class="sub_title font-sm">@lang["To Stock"]</div>
                                    <div>
                                        <SelectBusinessBranchByRole @bind-selected_value="@model.to_business_branch_id" show_empty="true" icon="layers" />
                                        <SelectStockLocation @bind-selected_value="@model.to_stock_location_id" business_branch_id="@model.to_business_branch_id" show_empty="true" icon="layers" />
                                    </div>
                                </div>
                            </div>
                        </Grid>
                    </div>
                </Grid>
                <hr />
                <section class="wrp-sale-invoice-body">
                    <h3 class="title uk-display-inline-block">
                        <Icon icon="local_shipping" />
                        <span class="title">@lang["Stock Transfer Products"]</span>
                    </h3>
                    <Spacing Number="10" />
                    <ComStockTransferProductInformation @bind-model="@model" @bind-model:event="modelChanged" />
                    <hr />
                    <Spacing Number="10" />
                    <ComStockTransferSummary @bind-model="@model"/>
                </section>
            </div>
        </PageBody>
        <PageFooter>
            <FooterCenter>
                <ComButtonLoading is_loading="@is_saving">
                    <Button disabled="@(model.active_stock_transfer_products.Count()<=0)" OnClick="@OnSaveClick" icon="save">@lang["Save"]</Button>
                </ComButtonLoading>
            </FooterCenter>
            <FooterRight>
                <strong class="uk-margin-small-right">@lang["Total Amount"]</strong> <span class="grand-total">@model.total_amount.ToString(gv.currency_format)</span>
            </FooterRight>
        </PageFooter>
    </PageContainer>
</Com>