@page "/stocktransfer/new"
@page "/stocktransfer/edit/{id:int}"

@inherits PageAddStockTransferBase

<Loading is_loading="@(is_loading || is_loading_data || is_saving)" />
<Title Value="@lang["Add Stock Transfer"]"></Title>
<Com is_visible="@(!is_loading && !is_error)">
    <PageContainer>
        <PageBody>
            <div class="content-add-sale">
                <div class="section-content">
                    <Spacing Number="20" />
                    <ComPurchaseOrderSearchProduct productChanged="@OnSearchProduct" select_productsChanged="@OnSearchProducts" />
                </div>
                <Spacing Number="20" />
                <Grid ClassName="uk-grid-small uk-grid-divider">
                    <div class="uk-width-1-3@s">
                        <div class="panel-empty">
                            <TextInput @bind-text="@model.reference_number" placeholder="@lang["Referance Number"]" label="@lang["Referance #"]" icon="layers" is_horizontal="true" />
                            <DateInput label="@lang["Stock Transfer Date"]" value="@model.stock_transfer_date" icon="layers" />
                        </div>
                    </div>
                    <div class="uk-width-expand@s">
                        <Grid ClassName="uk-grid-small">
                            <div class="uk-width-expand@m uk-width-1-1@s">
                                <div class="panel">
                                    <div class="sub_title font-sm">@lang["From Stock"]</div>
                                    <div>
                                        <div class="uk-form-horizontal">
                                            <SelectBusinessBranchByRole show_empty="true" icon="layers" selected_valueChanged="@OnFormBusinessBranchSeletedChange" selected_value="@model.from_business_branch_id" />
                                            @if (!is_selecting_from_business_branch)
                                            {
                                                <SelectStockLocation business_branch_id="@model.from_business_branch_id" show_empty="true" icon="layers" selected_value="@model.from_stock_location_id" selected_valueChanged="@OnFormStockLocationSeletedChange" />
                                            }
                                            else
                                            {
                                                <div class="uk-margin-small">
                                                    <label class="uk-form-label"><Icon icon="layers" size="16px" /> @lang["Stock Location"]</label>
                                                    <div class="uk-form-controls">
                                                        <div style="height:30px">
                                                            <Spinner />
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-auto@m uk-width-1-1@s">
                                <div class="uk-height-1-1" style="width:50px">
                                    <Icon icon="local_shipping" size="35px" icon_color="#a0aab7" className="position-middle" />
                                </div>
                            </div>
                            <div class="uk-width-expand@m uk-width-1-1@s">
                                <div class="panel">
                                    <div class="sub_title font-sm">@lang["To Stock"]</div>
                                    <div>
                                        <div>
                                            <div class="uk-form-horizontal">
                                                <SelectBusinessBranchByRole show_empty="true" icon="layers" selected_valueChanged="@OnToBusinessBranchSeletedChange" selected_value="model.to_business_branch_id" />
                                                @if (!is_selecting_to_business_branch)
                                                {
                                                    <SelectStockLocation business_branch_id="@model.to_business_branch_id" show_empty="true" icon="layers" selected_value="@model.to_stock_location_id" selected_valueChanged="@OnToStockLocationSeletedChange" />
                                                }
                                                else
                                                {
                                                    <div class="uk-margin-small">
                                                        <label class="uk-form-label"><Icon icon="layers" size="16px" /> @lang["Stock Location"]</label>
                                                        <div class="uk-form-controls">
                                                            <div style="height:30px">
                                                                <Spinner />
                                                            </div>
                                                        </div>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </Grid>
                    </div>
                </Grid>
                <hr />
                <section class="wrp-sale-invoice-body">
                    <h3 class="title uk-display-inline-block">
                        <Icon icon="local_shipping" />
                        <span class="title">@lang["Stock Transfer Products"]</span>
                    </h3>
                    <Spacing Number="10" />
                    <ComStockTransferProductInformation @bind-model="@model" @bind-model:event="modelChanged" />
                    <hr />
                    <Spacing Number="10" />
                    <ComStockTransferSummary @bind-model="@model" />
                </section>
            </div>
        </PageBody>
        <PageFooter>
            <FooterCenter>
                <ComSavingFormButton is_loading="@is_saving" is_show_save_action="true" OnSave="@OnSaveClick" disabled_save_button="@(model.active_stock_transfer_products.Count()<=0)" />
            </FooterCenter>
            <FooterRight>
                <strong class="uk-margin-small-right">@lang["Total Amount"]</strong> <span class="grand-total">@model.total_amount.ToString(gv.currency_format)</span>
            </FooterRight>
        </PageFooter>
    </PageContainer>
</Com>