@inject IStringLocalizer<Resource> lang
<Grid ClassName="uk-grid-small">
    <div class="uk-width-2-3@s">
        <Tab>
            <TabHeader>
                <TabHeaderItem class_name="uk-padding-remove">@lang["Note"]</TabHeaderItem>
                <TabHeaderItem>@lang["Term & Conditions"]</TabHeaderItem>
            </TabHeader>
            <TabBody>
                <TabItem>
                    <TextInput type="textarea" @bind-text="@model.purchase_order_note" placeholder="@lang["Note"]"/>
                </TabItem>
                <TabItem>
                    <TextInput type="textarea" @bind-text="@model.term_conditions" placeholder="@lang["Term & Conditions"]" />
                </TabItem>
            </TabBody>
        </Tab>
    </div>
    <div class="uk-width-1-3@s">
        <div class="wrp-sub-total uk-form-horizontal">
            <div class="uk-width-1-1">
                <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-expand" uk-leader>@lang["Sub Total"]</div>
                    <div>@model.sub_total.ToString(gv.main_currency_format)</div>
                </div>
                @if (model.po_product_discount_amount > 0)
                {
                    <hr />
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-expand" uk-leader>@lang["Total Item Discount"]</div>
                        <div>@model.po_product_discount_amount.ToString(gv.main_currency_format)</div>
                    </div>
                }
                @if (model.discountable_amount > 0 && is_allow_discount)
                {
                    <hr />
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-expand" uk-leader>@lang["Discountable Amount"]</div>
                        <div>@model.discountable_amount.ToString(gv.main_currency_format)</div>
                    </div>
                    <hr />  
                    <UkFlex class_name="uk-width-1-1">
                        <FlexItem class_name="uk-text-left">
                            @lang["Discount"]
                        </FlexItem>
                        <FlexItem class_name="uk-margin-left-auto">
                            <UkFlex>
                                <FlexItem class_name="uk-margin-remove">
                                    <select class="uk-select uk-form-width-small uk-form-small" value="@model.discount_type" @onchange="@((e)=>onDiscountTypeChanged((string)e.Value))">
                                        <option value="Percent">%</option>
                                        <option value="Amount">$</option>
                                    </select>
                                </FlexItem>
                                <FlexItem class_name="uk-margin-remove">
                                    <NumberInput text="@model.discount" textChanged="onDiscountTypeChanged" text_format="@(model.discount_type == "Percent" ? "#,##0.##" : gv.main_currency_format)" />
                                </FlexItem>
                            </UkFlex>
                        </FlexItem>
                        <FlexItem class_name="uk-margin-remove">
                            @model.total_discount.ToString(gv.main_currency_format)
                        </FlexItem>
                    </UkFlex>
                }




                @if (model.grand_total_discount > 0)
                {
                    <hr />
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-expand" uk-leader>@lang["Total Discount"]</div>
                        <div>@model.grand_total_discount.ToString(gv.main_currency_format)</div>
                    </div>
                }

                @if (model.paid_amount > 0)
                {
                    <hr />
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-expand" uk-leader>@lang["Total Amount"]</div>
                        <div>@model.total_amount.ToString(gv.main_currency_format)</div>
                    </div>
                    <hr />
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-expand" uk-leader>@lang["Total Payment"]</div>
                        <div><a @onclick="@OnTotalPaymentClick">@model.paid_amount.ToString(gv.main_currency_format)</a></div>
                    </div>
                }

                @if ((model.total_amount > 0 && model.paid_amount > 0) || model.balance != 0)
                {
                    <hr />
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-expand" uk-leader>"@lang["Balance"]</div>
                        <div>@model.balance.ToString(gv.main_currency_format)</div>
                    </div>
                }
            </div>
        </div>
    </div>
</Grid>
@code{
    
    [CascadingParameter] public GlobalVariableModel gv { get; set; }
    [Parameter] public PurchaseOrderModel model { get; set; }
    [Parameter] public bool is_allow_discount { get; set; }
    [Parameter] public EventCallback<PurchaseOrderModel> modelChanged { get; set; }

    [Parameter] public EventCallback<MouseEventArgs> OnTotalPaymentClick { get; set; }
 
    async Task onDiscountTypeChanged(string type)
    {
        model.discount_type = type;
        await modelChanged.InvokeAsync(model);
    }
    async Task onDiscountTypeChanged(decimal value)
    {
        model.discount = value;
        await modelChanged.InvokeAsync(model);
    }
}
