@page "/purchaseorder/new"
@page "/purchaseorder/edit/{id:int}"
@page "/purchaseorder/clone/{clone_id:int}"
@page "/purchaseorder/vendor/{vendor_id:int}"

@inherits PageAddPurchaseOrderBase

<Loading is_loading="@(is_loading || is_loading_data || is_saving)" />

<Com is_visible="@(!is_loading && !is_error)">
    <Title Value="@lang[title]"></Title>
    <PageContainer>
        <PageHeader>
            <HeaderLeft>
                <PageTitle ShowFilter="false">
                    <HeaderTemplate>
                        @lang[title]
                    </HeaderTemplate>
                   
                </PageTitle>
            </HeaderLeft>
            <HeaderRight ShowBackButton="true"/>
        </PageHeader>
        <PageBody>
            <div class="content-add-sale">
                <div class="section-content">
                    <Spacing Number="20" />
                    <ComPurchaseOrderSearchProduct productChanged="@OnSearchProduct" select_productsChanged="@OnSearchProducts" />
                </div>
                <Spacing Number="20" />
                <Grid ClassName="uk-grid-small uk-grid-divider uk-child-width-1-2">
                    <div>
                        <ComSelectVendor @bind-vendor="@model.vendor" @bind-vendor_id="@model.vendor_id" />
                    </div>
                    <div>
                        <div class="section-content">
                            <ComPurchaseOrderReceiptInformation model="@model" modelChanged="@OnPOInformationChange" />
                        </div>
                        <Spacing Number="10" />
                    </div>
                </Grid>
                <hr />
                <section class="wrp-sale-invoice-body">
                    <h3 class="title uk-display-inline-block">
                        <Icon icon="shopping_cart" />
                        <span class="title">@lang["PO Products"]</span>
                    </h3>
                    <Spacing Number="10" /> 
                    <ComPurchaseOrderProductInformation @bind-model="@model" @bind-model:event="modelChanged" />
                    <hr />
                    <Spacing Number="10" />
                    <ComPurchaseOrderSummary is_allow_discount="true" @bind-model="@model" OnTotalPaymentClick="(() => is_show_add_payment = true)" />
                </section>
            </div>
        </PageBody>
        <PageFooter>
            <FooterCenter>
                <ComSavingFormButton is_loading="@is_saving" disabled_save_button="@(model.active_purchase_order_products.Count()<=0)" is_show_save_action="true" OnSave="@OnSaveClick"/>
            </FooterCenter>
            <FooterRight>
                <strong class="uk-margin-small-right">@lang["Total Amount"]</strong> <span class="grand-total">@model.total_amount.ToString(gv.currency_format)</span>
            </FooterRight>
        </PageFooter>
    </PageContainer>
</Com>