@page "/purchaseorder/{id:int}";
@inherits PagePurchaseOrderDetailBase

@if (is_loading_data || is_loading)
{
    <Loading is_loading="@( is_loading_data || is_loading_data)" /> 
}

@if (!is_loading && is_error == false)
{
    <Title Value="@($"PO Invoice: {model.document_number}")" ></Title>

    <PageContainer roles="@gv.GetRole("purchase_order_management")">
        <PageHeader>
            <HeaderLeft>
                <PageTitle ShowFilter="false">
                    <HeaderTemplate>
                        PO Invoice #:  @model.document_number
                        <LabelDeleted is_visible="@model.is_deleted" />
                        <ComPurchaseOrderStatus po="@model" />
                    </HeaderTemplate>
                </PageTitle>
            </HeaderLeft>
            <HeaderRight ShowBackButton="true">
                <ComPurchaseOrderDetail_ActionButton @bind-po="@model" OnAddPayment="@(()=>is_add_payment=true)" />
            </HeaderRight>
        </PageHeader>
        <PageBody>
            <Tab>
                <TabHeader>
                    <TabHeaderItem roles="@gv.GetRole("purchase_order_management")">Invoice</TabHeaderItem>
                    <TabHeaderItem OnClick="@ShowPaymentHistory">Payment</TabHeaderItem>
                    <TabHeaderItem OnClick="@ShowComment">Comment and History</TabHeaderItem>
                </TabHeader>

                <TabBody>
                    <TabItem roles="@gv.GetRole("purchase_order_management")">
                        @*<ComMarkInvoiceFulfilled is_visible="@(!model.is_fulfilled)" OnClick="@MarkAsFulfilled" />*@
                        <ComPage>
                            <ComPurchaseOrderDetail_InvoiceHeader po="@model"/>
                            <Spacing Number="20" />
                            <table class="view_table uk-table uk-table-small uk-table-divider table-bordered">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <ThCenter>Image</ThCenter>
                                        <th class="col-auto">Item</th>
                                        <th class="uk-text-center">QTY</th>
                                        <th class="uk-text-center">Unit</th>
                                        <th class="uk-text-right">Price</th>
                                        <th class="uk-text-right">Dis.</th>
                                        <th class="uk-text-right">Amount</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    <ComPurchaseOrderDetail_InvoiceBody po="@model"/>
                                </tbody>
                                <tfoot> 
                                    <ComPurchaseOrderDetail_InvoiceFooter po="@model"/>
                                </tfoot>
                            </table>
                            <Spacing Number="20" />
                            <ComPurchaseOrderDetail_PONote po="@model"/>
                            <ComPurchaseOrderDetail_FooterInformation po="@model"/>
                        </ComPage>
                    </TabItem>
 
                    <TabItem>
                        @if (is_show_payment_history)
                        {
                            @*<ComPurchaseOrderDetail_PaymentList po="@model" po_id="@model.id" on_reload="LoadData"/>*@
                        }
                    </TabItem>
                    <TabItem>
                        @if (is_show_comment)
                        {
                            @*<ComHistory RoleAdd="@gv.GetRole("purchase_order_add")"
                                        RoleDelete="@gv.GetRole("purchase_order_delete")"
                                        RoleEdit="@gv.GetRole("purchase_order_edit")"
                                        ApiFilter="@($"purchase_order_id  eq {id}")"
                                        history="@history" />*@
                                        
                        }

                    </TabItem>

                </TabBody>
            </Tab>
            <div class="spacing40"></div>
        </PageBody>
    </PageContainer>

}

@if (is_error)
{
    <Error title="Sale Detail">
        @error_text
    </Error>
}

@if (is_add_payment)
{ 
    @*<ComPurchaseOrderDetail_AddPayment po_id="@id" id="@payment_id" @bind-is_opened="@is_add_payment" OnSave="@SavePayment_Click"/>*@
}